// Colour variable

$kubed-primary: #8854d0;

/*==================================================
           Theme kubed start
====================================================*/
//background colour
body.kubed .kubedb-primary-bg,
body.kubed .kd-primary,
body.kubed.fixed-nav #header,
body.kubed .socail-link-inline li a:hover,
body.kubed .tbl-of-contents ul a.active:before,
body.kubed .kd-version a.dropdown-item:hover,
body.kubed .ac-dropdown a.navbar-item:hover,
body.kubed a.nav-link.active:after,
body.kubed .trial-button .button {
  background-color: $kubed-primary;
}
//Font-colour
body.kubed .kd-transparent-btn,
body.kubed .carousel-wrapper:after,
body.kubed .cta-text h2,
body.kubed .main-menu-button a,
body.kubed .navbar-link.is-active,
body.kubed .navbar-link:hover,
body.kubed a.navbar-item.is-active,
body.kubed a.navbar-item:hover,
body.kubed .customize-kubedb .navbar-dropdown .navbar-item,
body.kubed .carousel-wrapper:after,
body.kubed .footer-link li a:hover,
body.kubed .accordion-item.active .accordion-header h2,
body.kubed ul li b,
body.kubed .full-info p b,
body.kubed .full-info ul li p a,
body.kubed .full-info p a,
body.kubed .full-info a,
body.kubed .tbl-of-contents ul a.active,
body.kubed li.nav-item.active a,
body.kubed .item ul li.is-active a,
body.kubed .kd-sidebar-menu li a:hover {
  color: $kubed-primary;
}
//Border-colour
body.kubed .star-count::before,
body.kubed .subscription-form .button,
body.kubed .accordion-item.active,
body.kubed blockquote {
  border-color: $kubed-primary;
}
/*==================================================
           Theme kubed End
====================================================*/
