// Colour variable

$stash-primary: #f39c12;

/*==================================================
           Theme stash start
====================================================*/
//background colour
body.stash .kubedb-primary-bg,
body.stash .kd-primary,
body.stash.fixed-nav #header,
body.stash .socail-link-inline li a:hover,
body.stash .tbl-of-contents ul a.active:before,
body.stash .kd-version a.dropdown-item:hover,
body.stash .ac-dropdown a.navbar-item:hover,
body.stash a.nav-link.active:after,
body.stash .trial-button .button {
  background-color: $stash-primary;
}
//Font-colour
body.stash .kd-transparent-btn,
body.stash .carousel-wrapper:after,
body.stash .cta-text h2,
body.stash .main-menu-button a,
body.stash .navbar-link.is-active,
body.stash .navbar-link:hover,
body.stash a.navbar-item.is-active,
body.stash a.navbar-item:hover,
body.stash .customize-kubedb .navbar-dropdown .navbar-item,
body.stash .carousel-wrapper:after,
body.stash .footer-link li a:hover,
body.stash .accordion-item.active .accordion-header h2,
body.stash ul li b,
body.stash .full-info p b,
body.stash .full-info ul li p a,
body.stash .full-info p a,
body.stash .full-info a,
body.stash .tbl-of-contents ul a.active,
body.stash li.nav-item.active a,
body.stash .item ul li.is-active a,
body.stash .kd-sidebar-menu li a:hover {
  color: $stash-primary;
}
//Border-colour
body.stash .star-count::before,
body.stash .subscription-form .button,
body.stash .accordion-item.active,
body.stash blockquote {
  border-color: $stash-primary;
}
/*==================================================
           Theme stash End
====================================================*/
