<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KubeDB Title</title>
  <!-- Bulma CSS -->
  {{ with $style := resources.Get "assets/css/bulma.min.css" | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  {{ end }}

  <link rel="stylesheet" href="/assets/sass/main.css" />
</head>

<body>
  <!--========================== header area start ==========================-->
  <div class="header-area navbar-appscode">
    <div class="container">
    <div class="columns">
      <div class="column">
          <div class="is-flex is-justify-content-space-between">
            <div class="navbar-left">
              <div class="navbar-brand"><a href="https://kubedb.com"><img
                    src="/assets/images/products/kubedb/kubedb.svg" alt="KubeDB"></a></div>
            </div>
            <div class="navbar-right">
              <a href="https://appscode.com/contact/" class="button ac-button is-secondary">GET IT STARTED</a>
            </div>
          </div>
      </div>
    </div>
    </div>
  </div>
  <!--========================== header area end ==========================-->

  <!--========================== hero area start ==========================-->
  <section class="hero-area">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-10">
          <div class="hero-content has-text-centered">
            <h1 class="title is-1 is-spaced">Running in Production by Multiple Fortune 500 Companies</h1>
            <p class="subtitle is-5">KubeDB is being used in production by multiple Fortune 500 companies including Large
              Telcos, Government
              Projects, Tech Giants, Universities, Reputed Enterprises etc. You can trust KubeDB with your production
              data.</p>

            <div class="buttons is-justify-content-center">
              <a href="https://appscode.com/contact/" class="button ac-button is-primary"> <span>
                  <lord-icon speed="0.50" src="https://cdn.lordicon.com/uvextprq.json" trigger="loop"
                    colors="primary:#ffffff;" style="width:22px;height:22px; margin-right: 8px;">
                  </lord-icon>
                </span>
                <span>CONTACT SALES</span></a>
              <a href="https://appscode.com/contact/" class="button ac-button is-secondary">REQUEST DEMO</a>
            </div>

            <p>We ensure 24x7 support and maintain SLA to provide 100% reliability to our clients</p>
          </div>
        </div>
      </div>
      <div class="columns is-justify-content-space-between">
        <div class="column is-5">
          <div class="box single-card">
            <h4>Why you choose KubeDB?</h4>
            <p>Kubernetes has emerged as the platform that lets developers seamlessly deploy, scale, run applications,
              and manage their life cycles.</p>
          </div>
        </div>
         <div class="column is-5">
           <div class="box single-card">
             <h4>Why you choose KubeDB?</h4>
             <p>Kubernetes has emerged as the platform that lets developers seamlessly deploy, scale, run applications,
               and manage their life cycles.</p>
           </div>
         </div>
      </div>
    </div>
  </section>
  <!--========================== hero area end ==========================-->

</body>

</html>