{{ define "main" }}

<!-- datasheet area start -->
<section class="section-padding">
  <div class="container section">
    <div class="columns">
      <div class="column is-6">
        <div class="datasheet-wrapper">
            <div class="download-image">
                <img src="/assets/images/datasheet-image/download.png" alt="" />
              </div>
              <div class="download-question mt-30">
                <h4 class="mb-30">Questions? We’ll be your guide.</h4>
                <p>
                  Ask about our products, pricing, implementation, or anything else.
                  Our advisors are here to help you chart a course to success.
                </p>
                <p>
                  <strong
                    >Just fill out the form at right or call 1-800-667-6389.</strong
                  >
                </p>
                <p>
                  Already a customer? Visit the link below for: <br>
                  <a href="#">Billing</a> and <a href="#">Tech Support</a>
                </p>
                <h4 class="mt-15">Schedule a demo with a product expert</h4>
                <a href="#">Schedule a Demo</a>
            </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="form-area">
          <script src='https://appscode.freshsales.io/web_forms/9d6f5a4d3fe306ecf3b9ca3c8e121265bcf355b2c3f198a8439cf9035bbda0e7/form.js' crossorigin='anonymous' id='fs_9d6f5a4d3fe306ecf3b9ca3c8e121265bcf355b2c3f198a8439cf9035bbda0e7'></script>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- datasheet area end -->

{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}
