{{ define "main" }}

{{ $p := (index .Site.Data.products .Site.Params.product_key) }}

<!-- datasheet area start -->
<section class="section-padding">
  <div class="container section">
    <div class="columns">
      <div class="column is-6">
        <div class="datasheet-wrapper">
            <div class="download-image">
                <img src="/assets/images/datasheet-image/download.png" alt="" />
              </div>
              <div class="download-question mt-30">
                <h4 class="mb-30">Questions? We’ll be your guide.</h4>
                <p>
                  Ask about our products, pricing, implementation, or anything else.
                  Our product experts are here to help you chart a course to success.
                </p>
                <p>
                  <strong
                    >Just fill out the form at right or call {{.Site.Params.contact_phone}}.</strong
                  >
                </p>
                <p>
                  Already a customer? Visit the link below for: <br>
                  <a href="https://appscode.freshdesk.com">Tech Support</a>
                </p>
                <h4 class="mt-15">Talk to a product experta about {{ $p.name }}</h4>
                <a href="/meet-expert">Schedule a Demo</a>
            </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="form-area">
          <script src='https://appscode.freshsales.io/web_forms/{{$p.datasheetFormID}}/form.js' crossorigin='anonymous' id='fs_{{$p.datasheetFormID}}'></script>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- datasheet area end -->

{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}
