{{ define "body" }}

{{ $data:=""}}
{{ if .Params.data }}
{{ $data = getJSON .Params.data }}
{{ end }}

{{ with $data }}
<!-- header area start  -->
<header class="ads-navbar-area">
  <div class="container">
    <div class="is-flex is-justify-content-space-between">
      <div class="navbar-left">
        <a href="/" class="navbar-brand">
          <img src="/assets/images/products/kubedb/kubedb.svg" alt="KubeDB" loading="lazy">
          <span>by</span>
          <img src="/assets/images/logo/appscode/ac-logo-color.svg" alt="appscode-logo"
            class="appscode-logo is-hidden-mobile" loading="lazy">
          <img src="/assets/images/logo/appscode/ac-logo-moscot.svg" alt="appscode-logo-moscot"
            class="appscode-logo is-hidden-tablet" loading="lazy">
        </a>
      </div>
      <div class="navbar-right">
        <a href="https://appscode.com/contact/" target="_blank" class="button ac-button is-primary is-outlined">CONTACT
          SALES</a>
      </div>
    </div>
  </div>
</header>
<!-- header area start  -->

<!-- hero area start  -->
<section class="ads-hero-area section-padding">
  <div class="container">
    <div class="columns is-vcentered is-multiline ">
      <div class="column is-two-thirds-desktop is-full-tablet">
        <div class="left-content">
          <h1>{{ $.Title }}</h1>
          <p>KubeDB is a Kubernetes Native Database Management Solution that simplifies and automates routine database
            tasks such as Provisioning, Monitoring, Upgrading, Patching, Scaling, Volume Expansion, Backup, Recovery,
            Failure detection, and repair for various popular databases on any private and public clouds.</p>

          <ul class="check-list-items">
            <li>Manage Multiple Databases with ease.</li>
            <li>Improve developer productivity without breaking the bank with KubeDB </li>
            <li>Run your DBaaS on Any Cloud, on-prem, developer machines, or CI/CD. </li>
            <li>Say Goodbye to Headaches with our hands-on Engineering Support. </li>
            <li>Shift Left Your App and DB in One Swift Deployment. </li>
            <li>Unleash the Power of Databases per Microservice</li>
          </ul>

          <div class="buttons">
            <a href="https://appscode.com/contact/" target="_blank" class="button ac-button is-primary is-normal">
              <span class="icon mr-8">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                </svg>
              </span>
              <span>CONTACT SALES</span>
            </a>

            <!-- Calendly link widget begin -->
            <!-- <a href="#" class="button ac-button is-primary is-outlined"
              onclick="Calendly.initPopupWidget({url: 'https://calendly.com/appscode/intro'});return false;">SCHEDULE
              DEMO</a> -->
            <!-- Calendly link widget end -->
            <a href="/docs/latest/setup/install/kubedb/" class="button ac-button is-primary is-outlined">TRY NOW</a>
          </div>
        </div>
      </div>

      <div class="column is-two-fifths-desktop is-full-tablet">
        <div class="hero-image">
          <!-- <img src="/assets/images/ads/hero.png" alt="supported-databases"> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero area end  -->

<!-- customers logo start -->
<section class="customers-logo-area section-padding pb-0">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <h2 class="mb-16">Our Selected Customers</h2>
        <div class="owl-carousel is-flex is-align-items-center customers-logo">
          <div class="single-brand">
            <img src="/assets/images/ads/customers/100-furtune.png" alt="100-furtune">
          </div>
          <div class="single-brand">
            <img src="/assets/images/ads/customers/nokia.png" alt="nokia">
          </div>
          <div class="single-brand">
            <img src="/assets/images/ads/customers/greenhouse.png" alt="greenhouse">
          </div>
          <div class="single-brand">
            <img src="/assets/images/ads/customers/orange.png" alt="orange">
          </div>
          <div class="single-brand">
            <img src="/assets/images/ads/customers/oak-ridge.png" alt="oak-ridge">
          </div>
          <div class="single-brand">
            <img src="/assets/images/ads/customers/emerson.png" alt="emerson">
          </div>
          <div class="single-brand">
            <img src="/assets/images/ads/customers/huma.png" alt="huma">
          </div>
          <div class="single-brand">
            <img src="/assets/images/ads/customers/dataloop.png" alt="dataloop">
          </div>

          <div class="single-brand">
            <img src="/assets/images/ads/customers/vaimo.png" alt="vaimo">
          </div>

          <div class="single-brand">
            <img src="/assets/images/ads/customers/carro.png" alt="carro">
          </div>

          <div class="single-brand">
            <img src="/assets/images/ads/customers/clewmed.png" alt="clewmed">
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- customers logo end -->

<!-- features area start  -->
<section class="ads-features-area section-padding">
  <div class="container">
    <div class="columns is-multiline is-vcentered">
      <div class="column is-6">
        <h3 class="mb-16">Features</h3>
        <ul class="check-list-items">
          <li>Database Provisioning and Simplified Management</li>
          <li>High Availability and Resiliency</li>
          <li>Private Registry and Air-gapped clusters</li>
          <li>Backup and Restore Capabilities</li>
          <li>Monitoring and Alerts</li>
          <li>Horizontal & Vertical Scaling</li>
          <li>Volume Expansion </li>
          <li>Web UI</li>
          <li>TLS Management and renewals</li>
          <li>GitOps (ArgoCD / FluxCD) Integration</li>
          <li>Major, Minor, and Patch Version upgrades</li>
          <li>Custom Database Plugin Support</li>
          <li>Cross Cluster Access using Envoy Gateway</li>
        </ul>
      </div>
      <div class="column is-6">
        <div class="custom-code-editor">
          <div class="editor-header">
            <span class="action close"></span>
            <span class="action maximize"></span>
            <span class="action minimize"></span>
          </div>
          {{ highlight (transform.Remarshal "yaml" .example) "yaml" "lineNos=inline, style=dracula" }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- features area end -->

<!-- supported platforms area start -->
<section class="supported-platforms-area section-padding">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6">
        <div class="is-flex pr-30">
          <img src="/assets/images/ads/supported-platforms.png" alt="supported-platforms" loading="lazy">
        </div>
      </div>
      <div class="column is-6">
        <div class="right-content">
          <h3 class="mb-16">KubeDB effortlessly integrates with any Kubernetes platform such, as;</h3>

          <ul class="check-list-items">
            <li> AWS Elastic Kubernetes Service (EKS) </li>
            <li> Azure Kubernetes Service (AKS)</li>
            <li> Google Kubernetes Engine (GKE) </li>
            <li> Red Hat OpenShift</li>
            <li> Rancher</li>
            <li> VMware Tanzu</li>
            <li> Equinix Metal</li>
            <li> Openstack </li>
            <li> On-Prem Kubernetes Clusters </li>
            <li> IBM Cloud </li>
            <li> Oracle Cloud </li>
            <li> Alibaba Cloud</li>
            <li> Digital Ocean </li>
            <li> Linode </li>
            <li> Exoscale Cloud Hosting </li>
          </ul>

          <p>Select your preferred platform and enjoy deployment, scalability and management. Join us in embracing the
            future of application deployment.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- supported platforms area end -->

<!-- ui img  -->
<div class="ui-ss">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <img src="/assets/images/ads/kubedb-ui.png" alt="kubedb-ui" loading="lazy">
      </div>
    </div>
  </div>
</div>
<!-- ui img  -->

<!-- pricing model  -->
<section class="pricing-model section-padding">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <h3 class="mb-16">Pricing Model</h3>
        <p>KubeDB is charged by the <strong class="has-text-primary">memory limit set to database
            containers managed by
            KubeDB (not the memory of Ku bernetes worker nodes).</strong> Say, a 3 replicas PostgreSQL each with 8 GB
          RAM will count as 24GB memory for billing purposes.</p>
      </div>
    </div>
  </div>
</section>
<!-- pricing model  -->

<!-- support plan start  -->
<section class="ads-support-plan">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <h3 class="mb-16">Support Plans</h3>
        <div class="table-container">
          <table class="table is-fullwidth is-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Silver</th>
                <th>Gold</th>
                <th>Platinum</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Recommended for </td>
                <td>Cloud style Self-service plan for production databases</td>
                <td>For production databases</td>
                <td>For business and/or mission critical databases</td>
              </tr>

              <tr>
                <td>Support Coverage</td>
                <td>Self-Service</td>
                <td>8x5 ⏰</td>
                <td>24x7 ⏰</td>
              </tr>

              <tr>
                <td>Response Times SLA </td>
                <td>Best Effort</td>
                <td>Yes</td>
                <td>Yes</td>
              </tr>

              <tr>
                <td>Quarterly Updates</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
              </tr>

              <tr>
                <td>Emergency patches</td>
                <td>No</td>
                <td>Yes</td>
                <td>Yes</td>
              </tr>

              <tr>
                <td>Incident Tickets (with SLA coverage)</td>
                <td>N/A</td>
                <td>5/mo</td>
                <td>10/mo</td>
              </tr>

              <tr>
                <td>Contacts for Ticketing</td>
                <td>1</td>
                <td>5</td>
                <td>10</td>
              </tr>

              <tr>
                <td>Remote Hands (via screen share) for addtl fee</td>
                <td>Yes</td>
                <td>Yes (Includes FREE 3 hrs/month)</td>
                <td>Yes (Includes FREE 5 hrs/month)</td>
              </tr>

              <tr>
                <td>Production Runbook</td>
                <td> No</td>
                <td>Yes</td>
                <td>Yes</td>
              </tr>

              <tr>
                <td>Dedicated Private chat (via Discord)</td>
                <td> No</td>
                <td>Yes</td>
                <td>Yes</td>
              </tr>

              <tr>
                <td> Phone Support</td>
                <td> No</td>
                <td>Yes</td>
                <td>Yes ☎</td>
              </tr>
              <tr>
                <td> Custom Features</td>
                <td> No</td>
                <td>Additional fee</td>
                <td>Additional fee</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- support plan end -->

<!-- faq area start  -->
<section class="ads faq-area section-padding">
  <div class="container">
    <div class="columns is-vcentered ">
      <div class="column is-6">
        <div class="faq-left">

          <div class="faq-image mb-40">
            <img src="/assets/images/illustrations/faq.png" alt="faq-image" loading="lazy">
          </div>

          <h3 class="mb-8">Frequently asked questions</h3>
          <p>Here are a few of the questions we get the most. If you don't see what's on your mind, contact us
            anytime.</p>
          <div class="buttons">
            <a href="https://appscode.com/contact/" target="_blank" class="button ac-button is-primary">
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                </svg>
                
              </span>
              <span>CONTACT SALES</span>
            </a>
            <!-- <a href="#" class="button ac-button is-primary is-outlined"
              onclick="Calendly.initPopupWidget({url: 'https://calendly.com/appscode/intro'});return false;">SCHEDULE
              DEMO</a> -->
            <a href="/docs/latest/setup/install/kubedb/" class="button ac-button is-primary is-outlined">TRY NOW</a>
          </div>

        </div>
      </div>
      <div class="column is-6">
        <div class="faq-right">
          <div class="ac-accordion-wrapper">
            <div class="single-accordion-item open">
              <div class="accordion-heading">
                <h3>Is KubeDB open source?</h3>
                <button class="icon" title="minus">
                  <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
              </div>
              <div class="accordion-body" style="max-height: 48px;">
                <p>
                  KubeDB follows an open-core model. The API and client are available under Apache v2 License for
                  integration with client projects.
                </p>
              </div>

            </div>

            <div class="single-accordion-item closed">
              <div class="accordion-heading">
                <h3>Is KubeDB proven by large deployments?</h3>
                <button class="icon" title="plus">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>


              <div class="accordion-body">
                <p>
                  KubeDB was started in 2017 and has since been deployed across numerous clients, including
                  large-scale deployments.
                </p>
              </div>

            </div>

            <div class="single-accordion-item closed">
              <div class="accordion-heading">
                <h3>How is KubeDB different from using StatefulSets?</h3>
                <button class="icon" title="plus">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>

              <div class="accordion-body">
                <p>
                  KubeDB differentiates itself with its comprehensive Day 2 operations, encompassing monitoring,
                  alerts, backup/recovery, version upgrades and scaling functionalities.
                </p>
              </div>
            </div>

            <div class="single-accordion-item closed">
              <div class="accordion-heading">
                <h3>Why use KubeDB vs. DB vendor's operators?</h3>
                <button class="icon" title="plus">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>

              <div class="accordion-body">
                <p>Unlike DB vendor's operators, using KubeDB, you can conveniently fulfill all your database
                  requirements under a single contract and with minimum engineering efforts.</p>
              </div>

            </div>

            <div class="single-accordion-item closed">
              <div class="accordion-heading">
                <h3>Why are the benefits of KubeDB over Cloud Provider Managed DB Service?</h3>
                <button class="icon" title="plus">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>

              <div class="accordion-body">
                <p>KubeDB offers a wide array of database options, supporting multi-cloud and on-premises environments
                  while providing cheaper / cost-effective solutions.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- faq area end  -->

<!-- footer area start   -->
<footer class="ads-footer-area">
  <div class="footer-top">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-full-tablet is-half-desktop">
          <div class="brand-logo">
            <a href="https://appscode.com"><img src="/assets/images/products/appscode/appscode.svg" alt="AppsCode"
                class="img" loading="lazy"></a>
          </div>
          <p>AppsCode is a leader in Cloud Native Data Platform for Kubernetes. AppsCode was established in 2016 by
            Tamal Saha, a former Google engineer.</p>
          <p>AppsCode develops a number of popular products for Kubernetes, namely KubeDB, Stash, KubeVault, Kubeform,
            Voyager. AppsCode is headquartered in Las Vegas, Nevada, USA with engineering offices in Dhaka,
            Bangladesh.</p>
        </div>

        <div class="column is-half-tablet is-one-quarter">
          <label class="mb-16">CONTACT US</label>
          <div class="contact-info">
            <a href="mailto:sales@appscode.com" class="info-text mb-16"><span class="icon">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </span> <span>sales@appscode.com</span></a>
            <p class="info-text">
              <span class="icon"> <i class="fa fa-map-marker" aria-hidden="true"></i> </span><span>3937 Spencer St Apt
                118
                Las Vegas, NV 89119, USA
                Phone: +1(650)241-8486</span>
            </p>
          </div>
        </div>
        <div class="column is-half-tablet is-one-quarter">
          <div class="is-flex is-justify-content-flex-end">
            <img src="/assets/images/ads/qr-code.png" alt="qr code appscode" loading="lazy">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer footer-bottom start -->
  <div class="footer-bottom">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-4 has-text-left-mobile has-text-left-tablet is-paddingless">
          <p><span class="icon"><i class="fa fa-copyright" aria-hidden="true"></i></span>AppsCode Inc. All rights
            reserved.</p>
        </div>
        <div class="column is-4 is-mobile has-text-centered-tablet is-paddingless">
          <a href="https://x.com/AppsCodeHQ" target="_blank"
            class="is-inline-flex gap-8 is-align-items-center is-justify-content-center">
            <span class="icon">
              <img src="/assets/images/icon/community/twitterx-solid-icon.svg" alt="twitterx-icon" loading="lazy">
            </span>
            <span>@AppsCodeHQ</span>
          </a>
        </div>
        <div class="column is-4 has-text-left-mobile has-text-left-tablet has-text-right-desktop is-paddingless">
          <a href="https://appscode.com/" target="_blank" class="info-text is-inline-flex is-justify-content-flex-end">
            <span class="icon">
              <i class="fa fa-globe" aria-hidden="true"></i>
            </span>
            <span>https://appscode.com</span></a>
        </div>
      </div>
    </div>
  </div>
  <!-- footer bottom end  -->
</footer>
<!-- footer area end  -->

<script>

  // custom accordion
  function acAccordion(actionBtn) {
    let accordionHeadingAll = document.querySelectorAll(actionBtn);

    // Create event listeners for each accordion heading
    Array.from(accordionHeadingAll).forEach((accordionHeading) => {
      accordionHeading.addEventListener("click", function () {
        let singleAcc = accordionHeading.closest(".single-accordion-item");

        let isOpen = singleAcc.classList.contains("open");

        // select all accordion
        let accordionItems = document.querySelectorAll(".single-accordion-item");
        Array.from(accordionItems).forEach((accordionItem) => {
          // close all item
          accordionItem.className = "single-accordion-item closed";
          let icon = accordionItem.querySelector(".icon .fa");
          if (icon) {
            icon.classList.replace("fa-minus", "fa-plus");
          }
          let accordionBody = accordionItem.querySelector(".accordion-body");
          accordionBody.style.maxHeight = null;
        });

        // get single element icon
        let icon = singleAcc.querySelector(".icon .fa");
        if (isOpen) {
          singleAcc.className = "single-accordion-item closed";
          let accordionBody = singleAcc.querySelector(".accordion-body");
          accordionBody.style.maxHeight = null;
          if (icon) {
            icon.classList.replace("fa-minus", "fa-plus");
          }
        } else {
          singleAcc.className = "single-accordion-item open";
          let accordionBody = singleAcc.querySelector(".accordion-body");
          accordionBody.style.maxHeight = accordionBody.scrollHeight + "px";
          if (icon) {
            icon.classList.replace("fa-plus", "fa-minus");
          }
        }
      });
    });
  }

  acAccordion(".accordion-heading h3");
  acAccordion(".accordion-heading .icon");
// accordion end
</script>


<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Calendly link widget begin -->
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>

<script>
  // owl owlCarousel JS
  var owlSocialProve = $('.customers-logo');
  owlSocialProve.owlCarousel({
    loop: true,
    margin: 40,
    autoHeight: true,
    autoplay: true,
    nav: false,
    dots: false,
    fluidSpeed: true,
    smartSpeed: 3000,
    autoplayTimeout: 1000,
    autoplayHoverPause: true,
    rewindNav: false,
    rewindSpeed: 0,
    // autoHeight:true,
    autoWidth: true,
    responsiveClass: true,
    responsive: {
      0: {
        items: 4,
      },
      600: {
        items: 4,
      },
      1400: {
        items: 8,
      }
    }
  });
</script>

{{ end }}
{{ end }}