<section class="why-kubedb-section py-6 is-clipped">
    <div class="container">
        <div class="section-title has-text-centered mb-32">
            <h2 class="mb-0">Why teams choose KubeDB</h2>
            <p>Compare KubeDB with managed database services and DIY approaches</p>
        </div>
        <div class="card">
            <div class="table-container">
                <table class="table is-fullwidth is-hoverable comparison-table">
                    <thead>
                        <tr class="has-background-light">
                            <th class="has-text-left">Feature</th>
                            <th class="has-text-centered has-text-primary">KubeDB</th>
                            <th class="has-text-centered">Managed Services</th>
                            <th class="has-text-centered">DIY</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="has-text-weight-semibold">Deployment time</td>
                            <td class="has-text-centered"><span class="has-text-primary has-text-weight-semibold">Under
                                    5 minutes</span></td>
                            <td class="has-text-centered has-text-grey">30+ minutes</td>
                            <td class="has-text-centered has-text-grey">Hours to days</td>
                        </tr>
                        <tr>
                            <td class="has-text-weight-semibold">Monthly cost (medium DB)</td>
                            <td class="has-text-centered"><span
                                    class="has-text-primary has-text-weight-semibold">$200</span></td>
                            <td class="has-text-centered has-text-grey">$400+</td>
                            <td class="has-text-centered has-text-grey">$150 + DevOps time</td>
                        </tr>
                        <tr>
                            <td class="has-text-weight-semibold">Multi-cloud support</td>
                            <td class="has-text-centered">
                                <span class="icon has-text-success">
                                    <iconify-icon icon="heroicons:check" width="20" height="20"></iconify-icon>
                                </span>
                            </td>
                            <td class="has-text-centered has-text-grey">
                                <span class="icon has-text-grey-light">
                                    <iconify-icon icon="heroicons:x-mark" width="20" height="20"></iconify-icon>
                                </span>
                            </td>
                            <td class="has-text-centered has-text-grey">
                                <span class="icon has-text-grey">
                                    <iconify-icon icon="heroicons:check" width="20" height="20"></iconify-icon>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-weight-semibold">Auto-scaling</td>
                            <td class="has-text-centered">
                                <span class="icon has-text-success">
                                    <iconify-icon icon="heroicons:check" width="20" height="20"></iconify-icon>
                                </span>
                            </td>
                            <td class="has-text-centered has-text-grey">
                                <span class="icon has-text-grey">
                                    <iconify-icon icon="heroicons:check" width="20" height="20"></iconify-icon>
                                </span>
                            </td>
                            <td class="has-text-centered has-text-grey">
                                <span class="icon has-text-grey-light">
                                    <iconify-icon icon="heroicons:x-mark" width="20" height="20"></iconify-icon>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-weight-semibold">Point-in-time recovery</td>
                            <td class="has-text-centered">
                                <span class="icon has-text-success">
                                    <iconify-icon icon="heroicons:check" width="20" height="20"></iconify-icon>
                                </span>
                            </td>
                            <td class="has-text-centered has-text-grey">
                                <span class="icon has-text-grey">
                                    <iconify-icon icon="heroicons:check" width="20" height="20"></iconify-icon>
                                </span>
                            </td>
                            <td class="has-text-centered has-text-grey">
                                <span class="icon has-text-grey-light">
                                    <iconify-icon icon="heroicons:x-mark" width="20" height="20"></iconify-icon>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-weight-semibold">Zero-downtime upgrades</td>
                            <td class="has-text-centered">
                                <span class="icon has-text-success">
                                    <iconify-icon icon="heroicons:check" width="20" height="20"></iconify-icon>
                                </span>
                            </td>
                            <td class="has-text-centered has-text-grey">
                                <span class="icon has-text-grey-light">
                                    <iconify-icon icon="heroicons:x-mark" width="20" height="20"></iconify-icon>
                                </span>
                            </td>
                            <td class="has-text-centered has-text-grey">
                                <span class="icon has-text-grey-light">
                                    <iconify-icon icon="heroicons:x-mark" width="20" height="20"></iconify-icon>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-weight-semibold">Custom configurations</td>
                            <td class="has-text-centered">
                                <span class="icon has-text-success">
                                    <iconify-icon icon="heroicons:check" width="20" height="20"></iconify-icon>
                                </span>
                            </td>
                            <td class="has-text-centered has-text-grey">
                                <span class="icon has-text-grey-light">
                                    <iconify-icon icon="heroicons:x-mark" width="20" height="20"></iconify-icon>
                                </span>
                            </td>
                            <td class="has-text-centered has-text-grey">
                                <span class="icon has-text-grey">
                                    <iconify-icon icon="heroicons:check" width="20" height="20"></iconify-icon>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-weight-semibold">Operational overhead</td>
                            <td class="has-text-centered"><span
                                    class="has-text-primary has-text-weight-semibold">Minimal</span></td>
                            <td class="has-text-centered has-text-grey">Low</td>
                            <td class="has-text-centered has-text-grey">High</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>