{{ $data := . }}
{{ $cards := $data.comparison_summary_cards }}
{{ if $cards }}
<div class="columns is-multiline mb-16">
  {{ range $card := $cards }}
  <div class="column is-6">
    <div class="p-10 is-radius-xlarge is-fullheight shadow-xl transition-all hover-translate-up" style="background: {{ $card.bg }}; border: 2px solid {{ $card.border }}; border-radius: 20px;">
      <div class="is-flex is-align-items-center has-gap-4 mb-6">
        <iconify-icon {{ printf "icon=%q" $card.icon | safeHTMLAttr }} width="40" height="40" style="color: {{ $card.icon_color }};"></iconify-icon>
        <h3 class="is-size-3 has-text-white has-text-weight-black">{{ $card.title }}</h3>
      </div>
      <p class="has-text-white is-size-5 mb-8 has-line-height-relaxed has-opacity-90">
        {{ $card.description }}
      </p>
      <div class="space-y-4">
        {{ range $card.items }}
        <div class="is-flex is-align-items-center has-gap-4">
          <iconify-icon icon="heroicons:check-badge" width="24" height="24" style="color: {{ $card.check_color }};"></iconify-icon>
          <span class="is-size-5 has-text-white">{{ . }}</span>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
