{{ $d := partial "partners/page-data.html" . }}
{{ with $d.aws_integration }}
{{ $alt := .image_alt | default .heading }}
<section class="section-padding has-background-white">
  <div class="container">
    {{ partial "common-sections/section-header.html" (dict
      "title" .heading
      "subtitle" .description
      "align" "center"
      "class" "mb-10"
    ) }}

    <div class="columns is-vcentered">
      <div class="column is-6">
        <div class="is-flex is-flex-direction-column has-gap-4">
          {{ range .integrations }}
          {{ partial "common-cards/integration-card.html" (dict "card" .) }}
          {{ end }}
        </div>
      </div>
      {{ with .image }}
      <div class="column is-6">
        <img src="{{ . }}" alt="{{ $alt }}" class="is-fullwidth is-object-contain is-radius-2xlarge">
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
