{{ $d := partial "partners/page-data.html" . }}
{{ with $d.partner_benefits }}
<section class="section-padding has-background-white">
  <div class="container">
    {{ partial "common-sections/section-header.html" (dict
      "title" .title
      "subtitle" .description
      "align" "center"
      "class" "mb-10"
    ) }}

    <div class="columns is-multiline">
      {{ range .benefits }}
      <div class="column is-4-desktop is-6-tablet">
        {{ partial "common-cards/feature-card.html" (dict "card" . "type" "standard") }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
