{{ $d := partial "partners/page-data.html" . }}
{{ with $d.testimonial }}
<section class="section-padding has-background-white">
  <div class="container">
    <div class="quote-card ds-card-base has-background-white is-radius-2xlarge p-8 has-border" style="border-color: #e2e8f0;">
      <div class="quote-card-inner is-flex is-align-items-flex-start has-gap-6">
        <div class="quote-card-icon is-flex is-align-items-center is-justify-content-center is-flex-shrink-0 is-radius-large has-background-primary-soft"
          style="width: 56px; height: 56px;">
          <iconify-icon icon="lucide:award" width="28" height="28" class="has-text-primary"></iconify-icon>
        </div>
        <div class="is-flex-grow-1">
          <p class="is-size-5 has-text-grey-700 has-line-height-relaxed is-italic mb-4">
            &ldquo;{{ .quote | safeHTML }}&rdquo;
          </p>
          {{ with .author }}
          <p class="is-size-6 has-text-weight-bold has-text-grey-900 mb-1">{{ . }}</p>
          {{ end }}
          {{ with .role }}
          <p class="is-size-7 has-text-grey-600">{{ . | safeHTML }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
