<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KubeDB - Run Production-Grade Databases on Kubernetes</title>

  <link rel="stylesheet" href="/assets/sass/main.css" />
</head>

<body class="kubedb">

 <!-- header area start  -->
 <header class="ads-navbar-area">
  <div class="container">
    <div class="is-flex is-justify-content-space-between">
      <div class="navbar-left">
        <div class="navbar-brand">
          <img src="/assets/images/products/kubedb/kubedb.svg" alt="KubeDB">
        </div>
      </div>
      <div class="navbar-right">
        <a href="https://kubedb.com/" class="button ac-button is-primary is-outlined">GET IT STARTED</a>
      </div>
    </div>
  </div>
</header>
 <!-- header area start  -->


</body>

</html>