// AppsCode|| Market Place Sass Template
// Author: AppsCode
// Version: 0.0.1



//BASE - Base styles, variables, mixins
@import "base/_variables";
@import "base/_global";
@import "base/_mixins";
@import "base/_base";
@import "base/_theme-colours";

// COMPONENTS



//LAYOUTS - Page layout styles

