
.voyager-primary-colour{
	background-color: #00A651;
}
.searchlight-primary-colour{
	background-color: #3F19AD;
}
.swift-primary-colour{
	background-color: #3F19AD;
}
.stash-primary-colour{
	background-color: #E03056;
}
.stash-primary-colour{
	background-color: #F99A00;
}
.guard-primary-colour{
	background-color: #E03056;
}
.kubeci-primary-colour{
	background-color: #3F19AD;
}
.kubesheild-primary-colour{
	background-color: #F99A00;
}