{{ $data_id := .Page.Params.data_id }}
{{ $data := partial "solutions/page-data.html" . }}
{{ $p_color := $data.product_color_primary | default "#4948a3" }}
{{ $cta_bg := $data.cta_bg_color | default "#1e1b4b" }}
{{ if $data.why_not_cloud_dbaas }}
<section class="home-section section-padding has-background-white">
  <div class="container">
    {{ partial "common-sections/section-header.html" (dict
      "title" $data.why_not_cloud_dbaas_title
      "subtitle" $data.why_not_cloud_dbaas_subtitle
      "align" "center"
      "class" "mb-16"
    ) }}
    <div class="columns is-multiline">
      {{ range $data.why_not_cloud_dbaas }}
      <div class="column is-6">
        {{ partial "common-cards/feature-card.html" (dict "card" . "type" "horizontal-check") }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
