{{ $data_id := .Page.Params.data_id }}
{{ $data := index .Site.Data.products.kubedb.solutions $data_id }}
{{ if not $data }}
  {{ if (findRE "/" $data_id) }}
    {{ $parts := split $data_id "/" }}
    {{ $scope := .Site.Data.products.kubedb }}
    {{ range $parts }}{{ if $scope }}{{ $scope = index $scope . }}{{ end }}{{ end }}
    {{ $data = $scope }}
  {{ end }}
{{ end }}
{{ $p_color := $data.product_color_primary | default "#4948a3" }}
{{ $cta_bg := $data.cta_bg_color | default "#1e1b4b" }}
{{ if $data.why_kubedb_features }}
<section class="home-section section-padding">
  <div class="container">
    <div class="has-text-centered mb-16">
      <h2 class="title is-size-2 has-text-weight-bold mb-4">{{ $data.why_kubedb_title }}</h2>
    </div>

    <div class="columns is-multiline">
      {{ range $data.why_kubedb_features }}
      <div class="column is-4-desktop is-6-tablet">
        {{ partial "common-cards/feature-card.html" (dict "card" . "type" "standard") }}
      </div>
      {{ end }}
    </div>

    <div class="mt-12 p-6 is-radius-2xl has-text-centered has-background-warning-softer has-border-warning-light">
      <p class="has-text-grey-700">
        {{ $data.why_kubedb_note | safeHTML }}
      </p>
    </div>
  </div>
</section>
{{ end }}
