{{ $data_id := .Page.Params.data_id }}
{{ $data := index .Site.Data.products.kubedb.solutions $data_id }}
{{ if not $data }}
  {{ if (findRE "/" $data_id) }}
    {{ $parts := split $data_id "/" }}
    {{ $scope := .Site.Data.products.kubedb }}
    {{ range $parts }}{{ if $scope }}{{ $scope = index $scope . }}{{ end }}{{ end }}
    {{ $data = $scope }}
  {{ end }}
{{ end }}
{{ $p_color := $data.product_color_primary | default "#4948a3" }}
{{ $cta_bg := $data.cta_bg_color | default "#1e1b4b" }}
{{ if $data.capabilities }}
<section class="home-section section-padding has-background-white">
  <div class="container">
    {{ partial "common-sections/section-header.html" (dict
      "title" ($data.everything_you_need_title | default "Everything You Need for Production")
      "align" "center"
      "class" "mb-12"
    ) }}

    <div class="columns is-multiline">
      {{ range $data.capabilities }}
      <div class="column is-4-desktop is-6-tablet">
        {{ partial "common-cards/feature-card.html" (dict "card" . "type" "benefit-scale") }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
