.features-plan {
  .hero-area-content {
    .hero-content-inner {
      h1 {
        font-size: 36px;
        line-height: 140%;
        font-weight: 500;
        margin-bottom: 30px;

        b {
          font-weight: 700;
        }
      }
    }
  }
}

.bgc-2 {
  background-color: #f9f9f9;
}

.features-cta-area {
  .features-plan-cta-wrapper {
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 9;
    top: 50px;

    .cta-left {
      width: 50%;
      padding: 40px 20px;

      &.fp-cta-bg {
        background-image: url(../images/features-plan/features-plan-cta-bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      h2 {
        font-size: 36px;
        line-height: 140%;
        font-weight: 700;
        color: #32325d;
        margin-bottom: 20px;
        text-transform: capitalize;
      }

      p {
        font-size: 16px;
        line-height: 160%;
        color: #54657e;
      }
    }

    .cta-right {
      width: 50%;
      display: flex;

      .single-cta {
        padding: 20px 20px 85px 20px;
        border-left: 1px solid #eceff4;
        position: relative;
        z-index: 1;
        min-height: 200px;
        width: 50%;

        &.enterprise {
          .button {
            &.ac-button {
              &.is-secondary {
                background-color: #ff8000;
              }
            }
          }
        }

        h3 {
          font-weight: 700;
          font-size: 22px;
          line-height: 1.2;
          margin-bottom: 6px;
          text-transform: capitalize;
        }

        p {
          font-size: 16px;
          color: #54657e;
          line-height: 1.5;
        }

        a {
          &.is-trial {
            font-size: 12px;
            color: #ff8000;
            margin-bottom: 10px;
            line-height: 1;
            font-weight: 500;
            display: block;
            font-family: roboto;
          }
        }

        .bottom-content {
          position: absolute;
          bottom: 20px;
          left: 20px;
          width: calc(100% - 40px);

          .button {
            width: 100%;
          }
        }
      }
    }
  }
}
.single-features-area:not(:last-child) {
  margin-bottom: 30px;
}
.table {
  &.ac-features-table {
    margin-bottom: 0;
    display: table;
    border-radius: 4px;

    thead {
      tr {
        th {
          font-size: 18px;
          font-weight: 700;
          padding: 13px 20px;
          border-color: transparent;
          border: 1px solid transparent;
        }
      }
    }

    tbody {
      tr {
        td {
          vertical-align: middle;
          text-align: center;
          font-size: 16px;
          font-family: $font-paragraph;
          color: #393e46;
          border-color: #eceff4;
          border: 1px solid #eceff4;
          padding: 10px 20px;
          .info-icon {
            display: inline-block;
            max-width: 23px;
            padding-left: 10px;
            line-height: 1.5;
          }
          p,
          a {
            font-size: 16px;
            font-family: $font-paragraph;
            color: #393e46;
            font-weight: 400;
          }
          a {
            color: #1971bd;
          }
          span {
            &.t-icon {
              display: inline-block;
              width: 26px;
              height: 26px;
              overflow: hidden;
              margin-top: 5px;
            }
          }
          &:first-child {
            width: 50%;
            text-align: left;
          }

          &:nth-child(2) {
            width: 25%;
          }

          &:nth-child(3) {
            width: 25%;
          }
        }

        &:nth-child(odd) {
          td {
            &:first-child {
              background-color: #f7f9fb;
            }

            &:nth-child(2) {
              background-color: #e6f3ef;
            }

            &:nth-child(3) {
              background-color: #f8f1e9;
            }
          }
        }

        &:nth-child(even) {
          td {
            &:first-child {
              background-color: #ffffff;
            }

            &:nth-child(2) {
              background-color: #edf9f3;
            }

            &:nth-child(3) {
              background-color: #fff6ed;
            }
          }
        }
      }
    }
  }
}

// assistance section start
.single-assistance {
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  &:hover {
    box-shadow: 0px 8px 57px rgba(0, 0, 0, 0.16);
  }
  .ass-top {
    display: flex;
    align-items: center;
    padding: 40px 30px;
    border-bottom: 1px solid #eceff4;
    .ass-icon {
      margin-right: 30px;
      max-width: 60px;
    }
    .ass-title {
      h3 {
        font-size: 18px;
        line-height: 120%;
        font-weight: 500;
        font-family: $font-paragraph;
      }
    }
  }
  .ass-bottom {
    padding: 20px 30px 40px;
    p {
      color: #54657e;
      font-size: 16px;
    }
  }
}
// assistance section end

.assistance-area,
.features-plan-faq-area {
  .section-title {
    margin-bottom: 40px;
    h2 {
      font-size: 36px;
      line-height: 140%;
      color: #1c1c1c;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
      color: #54657e;
    }
  }
}

/****************************************
Responsive Classes
*****************************************/
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .features-plan {
    .hero-area-content {
      .hero-content-inner {
        h1 {
          font-size: 28px;
          line-height: 140% !important;
          font-weight: 500;
          margin-bottom: 20px;
        }
      }
    }
  }

  .features-cta-area {
    &.section-padding-100 {
      padding: 60px 0;
    }
  }
  .features-cta-area {
    .features-plan-cta-wrapper {
      align-items: flex-start;
      flex-direction: column;
      position: static;
      .cta-left {
        width: 100%;
        padding: 20px 20px;
        h2 {
          font-size: 26px;
          margin-bottom: 10px;
        }
      }
      .cta-right {
        width: 100%;
        flex-direction: column;
        .single-cta {
          width: 100%;
          padding: 20px 20px 108px 20px;
          min-height: 240px;
          h3 {
            font-size: 20px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .single-features-area {
      margin-bottom: 10px;
    }
  }

  .table {
    &.ac-features-table {
      min-width: 500px;
    }
  }

  .assistance-area {
    &.section-padding-100 {
      padding: 60px 0;
    }
  }

  .assistance-area,
  .features-plan-faq-area {
    .section-title {
      h2 {
        font-size: 26px;
        margin-bottom: 10px;
      }
    }
  }
  .single-assistance {
    .ass-top {
      padding: 30px 20px;
      .ass-icon {
        max-width: 40px;
      }
    }
    .ass-bottom {
      padding: 20px 20px 30px;
    }
  }

  .ac-accordion-wrapper {
    .single-accordion-item {
      .accordion-heading {
        h3 {
          padding-right: 20px;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .features-plan {
    .hero-area-img {
      display: none;
    }
  }
  .features-cta-area.section-padding-100 {
    padding: 60px 0;
  }
  .features-cta-area {
    .features-plan-cta-wrapper {
      align-items: flex-start;
      flex-direction: column;
      position: static;
      .cta-left {
        width: 100%;
        padding: 50px 20px;
        h2 {
          font-size: 26px;
          margin-bottom: 10px;
        }
      }
      .cta-right {
        width: 100%;
        flex-direction: column;
        .single-cta {
          width: 100%;
          padding: 40px 20px 108px 20px;
          min-height: 240px;
          h3 {
            font-size: 20px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .single-features-area {
      margin-bottom: 10px;
    }
  }
  .assistance-area,
  .features-plan-faq-area {
    .section-title {
      h2 {
        font-size: 26px;
        margin-bottom: 10px;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .features-plan {
    .hero-content-inner {
      padding: 50px 50px 50px 0;
    }
    .hero-area-img {
      img{
        opacity: 1;
      }
    }
  }
  .features-cta-area {
    .features-plan-cta-wrapper {
      align-items: flex-start;
      flex-direction: column;
      position: static;
      .cta-left {
        width: 100%;
        padding: 50px 20px;
        h2 {
          font-size: 26px;
          margin-bottom: 10px;
        }
      }
      .cta-right {
        width: 100%;
        // flex-direction: column;
        .single-cta {
          width: 100%;
          padding: 40px 20px 108px 20px;
          min-height: 240px;
          h3 {
            font-size: 20px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .single-features-area {
      margin-bottom: 10px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
