@import "https://vjs.zencdn.net/7.0.3/video-js.css";

.video-js {
  .vjs-big-play-button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    &:focus {
      outline: none;
    }
  }
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before,
.vjs-button > .vjs-icon-placeholder:before,
.video-js .vjs-modal-dialog,
.vjs-modal-dialog .vjs-modal-dialog-content {
  top: 7px;
}
