{{ define "main" }}

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/appscode/30min" style="min-width:320px;height:800px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Calendly inline widget end -->

<!-- hero area for page start -->
<section class="hero-area support-page">
  <div class="container section">
    <div class="columns">
      <div class="column is-6">
        <!-- hero content start -->
        <div class="hero-area-content d-table pr-115">
          <div class="hero-content-inner d-table-cell">
            <h1>
              Choose best plan for take <br />
              your business to the next level
            </h1>
            <p>
              Lorem Ipsum is simply dummy text of the printing and it is
              typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever.scrambled it to make a type specimen book.
            </p>
          </div>
        </div>
        <!-- hero content end -->
      </div>
      <div class="column is-6">
        <div class="hero-area-img">
          <img
            src="/assets/images/support-page/support-img.png"
            alt=""
            class="img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero area for page end -->
{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}
