//  color variable
$color-text: hsl(var(--secondary-h), 10%, 20%);
$color-heading: hsl(var(--secondary-h), 10%, 10%);
$color-label: hsl(var(--secondary-h), 20%, 30%);
$color-link: hsl(var(--secondary-h), 40%, 20%);
$color-border-light: hsl(var(--secondary-h), 40%, 95%);
$color-border: hsl(var(--secondary-h), 10%, 90%);
$color-border-dark: hsl(var(--secondary-h), 10%, 80%);

$primary-light-grey: hsl(var(--primary-h), 10%, 96%);
$primary-dark-grey: hsl(var(--primary-h), 10%, 10%);
$primary-light-gray: hsl(var(--primary-h), 10%, 96%);
$primary-dark-gray: hsl(var(--primary-h), 10%, 10%);

$secondary-light-grey: hsl(var(--secondary-h), 10%, 96%);
$secondary-dark-grey: hsl(var(--secondary-h), 10%, 10%);
$secondary-light-gray: hsl(var(--secondary-h), 10%, 96%);
$secondary-dark-gray: hsl(var(--secondary-h), 10%, 10%);

$ac-black: #000000;
$ac-white: #ffffff;
$ac-bg: #ffffff;

// size
$ac-size-1: 48px;
$ac-size-2: 36px;
$ac-size-3: 28px;
$ac-size-4: 22px;
$ac-size-5: 18px;
$ac-size-6: 16px;
$ac-size-7: 14px;

// small font size
$font-size-medium: 16px;
$font-size-semi-normal: 15px;
$font-size-normal: 14px;
$font-size-small: 13px;
$font-size-extra-small: 12px;
$font-size-tiny: 11px;

// Base Color
$ac-orange: #ff8000;
$ac-yellow: #f7ad2a;
$ac-green: #158748;
$ac-blue: #0aafff;
$ac-purple: #791e94;
$ac-red: #ff3729;

// Box Shadow
$ac-shadow-1: 0 1px 4px rgba(26, 80, 151, 0.16);
$ac-shadow-2: 0px 8px 57px rgba(0, 0, 0, 0.16);
$ac-shadow-3: 0 3px 4px 0 rgba(0, 0, 0, 0.18), 0 3px 3px -2px rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.12);

$shadow-sm: 0 1px 4px rgba(26, 80, 151, 0.16);
$shadow-xl: 0px 8px 57px rgba(0, 0, 0, 0.16);
$shadow-lg: 0 3px 4px 0 rgba(0, 0, 0, 0.18), 0 3px 3px -2px rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.12);