{{ define "main" }}

{{ $p := (index .Site.Data.products .Site.Params.product_key) }}

<!-- hero area for page start -->
<section class="hero-area features-plan">
  <div class="container section">
    <div class="columns">
      <div class="column is-6">
        <!-- hero content start -->
        <div class="hero-area-content d-table pr-115">
          <div class="hero-content-inner d-table-cell" data-aos="fade-up">
            <h1>
              Choose best plan for take <b>your business to the next level</b>
            </h1>
            <p>
              Lorem Ipsum is simply dummy text of the printing and it is typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.scrambled it to make a type specimen book.
            </p>
          </div>
        </div>
        <!-- hero content end -->
      </div>
      <div class="column is-6">
        <div class="hero-area-img" data-aos="fade-up" data-aos-duration="1000">
          <img
            src="/assets/images/support-page/support-img.png"
            alt=""
            class="img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero area for page end -->

<!-- features cta area start -->
<section class="features-cta-area bgc-2 section-padding">
  <div class="container section">
    <!-- features cta start  -->
    <div class="features-plan-cta-wrapper">
      <!-- cta-left part start  -->
      <div class="cta-left fp-cta-bg">
        <h2>features</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and <br/> is typesetting.</p>
      </div>
      <!-- cta-left part end -->

      <!-- cta-right part start  -->
      <div class="cta-right">
        <!-- single cta start  -->
        <div class="single-cta community has-text-centered">
          <h3>community plan</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and it is typesetting.</p>
         <div class="bottom-content">
          <a href="#" class="button ac-button is-secondary">Try Now FREE</a>
         </div>
        </div>
        <!-- single cta end -->
        <!-- single cta start  -->
        <div class="single-cta enterprise has-text-centered">
          <h3>Enterprise plan</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and it is typesetting.</p>
          <div class="bottom-content">  
            <p class="is-trial">FREE FOR 14 Days</p>
          <a href="#" class="button ac-button is-secondary">Contact Sales</a>
          </div>
        </div>
        <!-- single cta end -->
      </div>
      <!-- cta-right part end -->
    </div>
    <!-- features cta end  -->

    <!-- features table start  -->
    <div class="features-plan-area mt-30">
      <!-- single features start  -->
      <div class="single-features-area">
        <div class="ac-table-container table-container">
          <table class="table ac-features-table is-fullwidth">
            <thead>
              <tr>
                <th>Features Name</th>
                <!-- <th></th>
                <th></th> -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><p>Lorem Ipsum is simply dummy text of the printing and it is typesetting.</p></td>
                <td><span class="t-icon"><img src="/assets/images/icon/check-icon.svg" alt="check-icon"></span></td>
                <td><span><img src="/assets/images/icon/error-icon.svg" alt="error-icon"></span></td>
              </tr>
              <tr>
                <td><p>Community Support</p></td>
                <td><span class="t-icon"><img src="/assets/images/icon/check-icon.svg" alt="check-icon"></span></td>
                <td><span><img src="/assets/images/icon/error-icon.svg" alt="error-icon"></span></td>
              </tr>
              <tr>
                <td><a href="#">Emergency patches
                  (at most weekly)</a><span class="info-icon"><img src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></td>
                <td><span class="t-icon"><img src="/assets/images/icon/check-icon.svg" alt="check-icon"></span></td>
                <td><span><img src="/assets/images/icon/error-icon.svg" alt="error-icon"></span></td>
              </tr>

              <tr>
                <td><a href="#">Unlimited Incidents</a><span class="info-icon"><img src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></td>
                <td><span class="t-icon"><img src="/assets/images/icon/check-icon.svg" alt="check-icon"></span></td>
                <td><span><img src="/assets/images/icon/error-icon.svg" alt="error-icon"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- single features end  -->

      <!-- single features start  -->
      <div class="single-features-area">
        <div class="ac-table-container table-container">
          <table class="table ac-features-table is-fullwidth">
            <thead>
              <tr>
                <th>Features Name</th>
                <!-- <th></th>
                <th></th> -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><p>Lorem Ipsum is simply dummy text of the printing and it is typesetting.</p></td>
                <td><span class="t-icon"><img src="/assets/images/icon/check-icon.svg" alt="check-icon"></span></td>
                <td><span><img src="/assets/images/icon/error-icon.svg" alt="error-icon"></span></td>
              </tr>
              <tr>
                <td><p>Community Support</p></td>
                <td><span class="t-icon"><img src="/assets/images/icon/check-icon.svg" alt="check-icon"></span></td>
                <td><span><img src="/assets/images/icon/error-icon.svg" alt="error-icon"></span></td>
              </tr>
              <tr>
                <td><a href="#">Emergency patches
                  (at most weekly)</a><span class="info-icon"><img src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></td>
                <td><span class="t-icon"><img src="/assets/images/icon/check-icon.svg" alt="check-icon"></span></td>
                <td><span><img src="/assets/images/icon/error-icon.svg" alt="error-icon"></span></td>
              </tr>

              <tr>
                <td><a href="#">Unlimited Incidents</a><span class="info-icon"><img src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></td>
                <td><span class="t-icon"><img src="/assets/images/icon/check-icon.svg" alt="check-icon"></span></td>
                <td><span><img src="/assets/images/icon/error-icon.svg" alt="error-icon"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- single features end  -->
    </div>
  </div>
  <!-- features table end -->
</section>
<!-- features  area end -->

<section class="assistance-area">
  <div class="container section">
    <!-- title start  -->
    <div class="columns">
      <div class="column is-6">
        <!-- section title start -->
        <div class="section-title">
          <h2>Assistance</h2>
          <p>If you’re hesitation, don’t worry - we’re here to explain thoroughly everything you minght want to know, Let us help!</p>
        </div>
        <!-- section title end -->
      </div>
    </div>
    <!-- title end  -->

    <div class="columns">
      <!-- single assistance start  -->
      <div class="column is-3">
        <div class="single-assistance">
          <!-- icon with title start  -->
          <div class="ass-top">
            <div class="ass-icon">
              <img src="/assets/images/icon/mail-icon.svg" alt="mail-icon">
            </div>
            <div class="ass-title">
              <h3>Meet us or <br> schedule a call</h3>
            </div>
          </div>
          <!-- icon with title end -->
          <div class="ass-bottom">
            <p>We will listen to your needs and 
              help you make the decision.</p>
          </div>
        </div>
      </div>
      <!-- single assistance end -->
      <!-- single assistance start  -->
      <div class="column is-3">
        <div class="single-assistance">
          <!-- icon with title start  -->
          <div class="ass-top">
            <div class="ass-icon">
              <img src="/assets/images/icon/mail-icon.svg" alt="mail-icon">
            </div>
            <div class="ass-title">
              <h3>Meet us or <br> schedule a call</h3>
            </div>
          </div>
          <!-- icon with title end -->
          <div class="ass-bottom">
            <p>We will listen to your needs and 
              help you make the decision.</p>
          </div>
        </div>
      </div>
      <!-- single assistance end -->
      <!-- single assistance start  -->
      <div class="column is-3">
        <div class="single-assistance">
          <!-- icon with title start  -->
          <div class="ass-top">
            <div class="ass-icon">
              <img src="/assets/images/icon/mail-icon.svg" alt="mail-icon">
            </div>
            <div class="ass-title">
              <h3>Meet us or <br> schedule a call</h3>
            </div>
          </div>
          <!-- icon with title end -->
          <div class="ass-bottom">
            <p>We will listen to your needs and 
              help you make the decision.</p>
          </div>
        </div>
      </div>
      <!-- single assistance end -->
      <!-- single assistance start  -->
      <div class="column is-3">
        <div class="single-assistance">
          <!-- icon with title start  -->
          <div class="ass-top">
            <div class="ass-icon">
              <img src="/assets/images/icon/mail-icon.svg" alt="mail-icon">
            </div>
            <div class="ass-title">
              <h3>Meet us or <br> schedule a call</h3>
            </div>
          </div>
          <!-- icon with title end -->
          <div class="ass-bottom">
            <p>We will listen to your needs and 
              help you make the decision.</p>
          </div>
        </div>
      </div>
      <!-- single assistance end -->
    </div>
  </div>

</section>

<!-- payment method area start -->
<section class="payment-method-area section-padding">
  <div class="container section">
    <div class="columns">
      <div class="column is-4 is-offset-1" data-aos="fade-up">
        <div class="payment-method-innner-text pr-140">
          <h2>Payment Methods</h2>
          <p>
            Our payment processing is powerd by <a href="https://stripe.com" class="ac-primary-color">Stripe</a>.
            You credit card data never touches our servers. For more information, please visit
            <a target="_blank" href="https://stripe.com" class="ac-primary-color">stripe.com</a>.
          </p>
        </div>
      </div>
      <div class="column is-6 is-offset-1" data-aos="fade-up" data-aos-duration="1000">
        <div class="image-wrapper d-table">
          <div class="payment-option-image d-table-cell">
            <div class="single-payment-method">
              <img
                src="/assets/images/payment-method/american.png"
                alt=""
                class="img"
              />
            </div>
            <div class="single-payment-method">
              <img
                src="/assets/images/payment-method/mastercard.png"
                alt=""
                class="img"
              />
            </div>
            <div class="single-payment-method">
              <img
                src="/assets/images/payment-method/paypal.png"
                alt=""
                class="img"
              />
            </div>
            <div class="single-payment-method">
              <img
                src="/assets/images/payment-method/visa.png"
                alt=""
                class="img"
              />
            </div>
            <div class="single-payment-method">
              <img
                src="/assets/images/payment-method/western-union.png"
                alt=""
                class="img"
              />
            </div>
            <div class="single-payment-method">
              <img
                src="/assets/images/payment-method/worldpay.png"
                alt=""
                class="img"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- payment method area end -->

<!-- faq area start -->
<section class="faq-area section-padding">
  <div class="container section">
    <div class="columns">
      <div class="column has-text-centered">
        <div class="section-title" data-aos="fade-up">
          <h2>Frequently Asked Questions</h2>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-5 is-offset-1">
        <div class="faq-image" data-aos="fade-up">
          <img src="/assets/images/support-page/faq.png" alt="" class="img" />
        </div>
      </div>
      <div class="column is-5 is-offset-1">
        <div class="faq-content" data-aos="fade-up" data-aos-duration="1000">
          <!-- faq content start -->
          <div class="accordion">
            <div class="accordion-item active">
              <div class="accordion-header">
                <h2>Can I upgrade or downgrade anytime?</h2>
              </div>
              <div class="accordion-body">
                <p>
                  Monthly plans are subject to a 30 day minimum term.
                  Monthly plans can be upgraded anytime.
                  Annual plans can be downgraded at the end of the term.
                </p>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header">
                <h2>Is my data safe?</h2>
              </div>
              <div class="accordion-body">
                <p>
                  Our payment processing is powerd by
                  <a href="https://stripe.com" class="ac-primary-color">Stripe</a>.
                  You credit card data never touches our servers. For more information,
                  please visit <a target="_blank" href="https://stripe.com" class="ac-primary-color">stripe.com</a>.
                </p>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header">
                <h2>Do you have any cancellation fee?</h2>
              </div>
              <div class="accordion-body">
                <p>
                  There is no cancellation fee. But plans are subject to minimum duration as stated above.
                </p>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header">
                <h2>What types of payment do you accept?</h2>
              </div>
              <div class="accordion-body">
                <p>
                  We accept all popular credit/debit cards such as Visa, Mastercard, American Express,
                  Discover, etc. We also accept ACH debit/credit.
                </p>
              </div>
            </div>
          </div>
          <!-- faq content end -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- faq area end -->


<script>
function showPrice(plan, y2y, m2m) {
  var x = document.getElementById(plan + "PriceOptions").value;
  var price = "<sup>US$</sup> "+m2m+"<sub>/mo</sub><span>(<strong>1</strong> production<sup>*</sup> & <strong>unlimited</strong> non-prod K8s clusters)</span>";
  var show = false;
  if (x === "y2y") {
    // 16.67% discount
    price = "<sup>US$</sup> "+y2y+"<sub>/mo</sub><span>(<strong>1</strong> production<sup>*</sup> & <strong>unlimited</strong> non-prod K8s clusters)</span>";
    show = true;
  }
  document.getElementById(plan+"Price").innerHTML = price;

  var discount = document.getElementById(plan + "PriceDiscount");
  if (show) {
    discount.classList.remove("is-hide");
  } else {
    discount.classList.add("is-hide");
  }
  discount.innerHTML = "Save "+Math.floor((m2m-y2y)/y2y*100)+"%";
}

function showStandardPrice() { showPrice('standard', {{ $p.plans.Standard_Y2Y.price }}, {{ $p.plans.Standard_M2M.price }}); }
function showGoldPrice() { showPrice('gold', {{ $p.plans.Golden_Y2Y.price }}, {{ $p.plans.Golden_M2M.price }}); }

showStandardPrice();
showGoldPrice();
</script>
{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}
