{{ define "main" }}

{{ $p := (index .Site.Data.products .Site.Params.product_key) }}

<!-- hero area for page start -->
<section class="hero-area features-plan">
  <div class="container section">
    <div class="columns">
      <div class="column is-6">
        <!-- hero content start -->
        <div class="hero-area-content d-table pr-115">
          <div class="hero-content-inner d-table-cell" data-aos="fade-up">
            <h1>
              Choose best plan for take <b>your business to the next level</b>
            </h1>
            <p>
              Lorem Ipsum is simply dummy text of the printing and it is typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.scrambled it to make a type specimen book.
            </p>
          </div>
        </div>
        <!-- hero content end -->
      </div>
      <div class="column is-6">
        <div class="hero-area-img" data-aos="fade-up" data-aos-duration="1000">
          <img
            src="/assets/images/support-page/support-img.png"
            alt=""
            class="img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero area for page end -->

<!-- features cta area start -->
<section class="features-cta-area bgc-2 section-padding-100">
  <div class="container section">
    <!-- features cta start  -->
    <div class="features-plan-cta-wrapper">
      <!-- cta-left part start  -->
      <div class="cta-left fp-cta-bg">
        <h2>features</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and <br/> is typesetting.</p>
      </div>
      <!-- cta-left part end -->

      <!-- cta-right part start  -->
      <div class="cta-right">
        <!-- single cta start  -->
        <div class="single-cta community has-text-centered">
          <h3>community plan</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and it is typesetting.</p>
         <div class="bottom-content">
          <a href="#" class="button ac-button is-secondary">Try Now FREE</a>
         </div>
        </div>
        <!-- single cta end -->
        <!-- single cta start  -->
        <div class="single-cta enterprise has-text-centered">
          <h3>Enterprise plan</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and it is typesetting.</p>
          <div class="bottom-content">  
            <a href="#" class="is-trial">FREE FOR 14 Days</a>
          <a href="#" class="button ac-button is-secondary">Contact Sales</a>
          </div>
        </div>
        <!-- single cta end -->
      </div>
      <!-- cta-right part end -->
    </div>
    <!-- features cta end  -->

    <!-- features table start  -->
    <div class="features-plan-area mt-30">
      <!-- single features start  -->
      <div class="single-features-area">
        <div class="ac-table-container table-container">
          <table class="table ac-features-table is-fullwidth">
            <thead>
              <tr>
                <th>Features Name</th>
                <!-- <th></th>
                <th></th> -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><p>Lorem Ipsum is simply dummy text of the printing and it is typesetting.</p></td>
                <td><span class="t-icon"><img src="/assets/images/icon/check-icon.svg" alt="check-icon"></span></td>
                <td><span><img src="/assets/images/icon/error-icon.svg" alt="error-icon"></span></td>
              </tr>
              <tr>
                <td><p>Community Support</p></td>
                <td><span class="t-icon"><img src="/assets/images/icon/check-icon.svg" alt="check-icon"></span></td>
                <td><span><img src="/assets/images/icon/error-icon.svg" alt="error-icon"></span></td>
              </tr>
              <tr>
                <td><a href="#">Emergency patches
                  (at most weekly)</a><span class="info-icon tooltip is-tooltip-primary is-tooltip-multiline" data-tooltip="Generate Lorem Ipsum placeholder text for use in your graphic, print and web lay outs, and discover plugins for"><img src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></td>
                <td><span class="t-icon"><img src="/assets/images/icon/check-icon.svg" alt="check-icon"></span></td>
                <td><span><img src="/assets/images/icon/error-icon.svg" alt="error-icon"></span></td>
              </tr>

              <tr>
                <td><a href="#">Unlimited Incidents</a><span class="info-icon tooltip is-tooltip-primary is-tooltip-multiline" data-tooltip="Generate Lorem Ipsum placeholder text for use in your graphic, print and web lay outs, and discover plugins for"><img src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></td>
                <td><span class="t-icon"><img src="/assets/images/icon/check-icon.svg" alt="check-icon"></span></td>
                <td><span><img src="/assets/images/icon/error-icon.svg" alt="error-icon"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- single features end  -->

      <!-- single features start  -->
      <div class="single-features-area">
        <div class="ac-table-container table-container">
          <table class="table ac-features-table is-fullwidth">
            <thead>
              <tr>
                <th>Features Name</th>
                <!-- <th></th>
                <th></th> -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><p>Lorem Ipsum is simply dummy text of the printing and it is typesetting.</p></td>
                <td><span class="t-icon"><img src="/assets/images/icon/check-icon.svg" alt="check-icon"></span></td>
                <td><span><img src="/assets/images/icon/error-icon.svg" alt="error-icon"></span></td>
              </tr>
              <tr>
                <td><p>Community Support</p></td>
                <td><span class="t-icon"><img src="/assets/images/icon/check-icon.svg" alt="check-icon"></span></td>
                <td><span><img src="/assets/images/icon/error-icon.svg" alt="error-icon"></span></td>
              </tr>
              <tr>
                <td><a href="#">Emergency patches
                  (at most weekly)</a><span class="info-icon tooltip is-tooltip-primary is-tooltip-multiline" data-tooltip="Generate Lorem Ipsum placeholder text for use in your graphic, print and web lay outs, and discover plugins for"><img src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></td>
                <td><span class="t-icon"><img src="/assets/images/icon/check-icon.svg" alt="check-icon"></span></td>
                <td><span><img src="/assets/images/icon/error-icon.svg" alt="error-icon"></span></td>
              </tr>

              <tr>
                <td><a href="#">Unlimited Incidents</a><span class="info-icon tooltip is-tooltip-primary is-tooltip-multiline" data-tooltip="Generate Lorem Ipsum placeholder text for use in your graphic, print and web lay outs, and discover plugins for"><img src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></td>
                <td><span class="t-icon"><img src="/assets/images/icon/check-icon.svg" alt="check-icon"></span></td>
                <td><span><img src="/assets/images/icon/error-icon.svg" alt="error-icon"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- single features end  -->

      <!-- short description start  -->
      <div class="pricing-description mt-30">
        <ul>
          <li>
            <span>* </span>Every support comes with license for 1 production Kubernetes cluster and unlimited non-production clusters. If you serve user traffic from a Kubernetes cluster or run workloads that are used to support your users, it qualifies as a production cluster. Each additional production Kubernetes cluster is priced proportional to the base package price. There are no limits on how many nodes you can have per Kubernetes cluster.
          </li>
          <li>
            <span>☎ </span>Additional conditions apply. Please contact us for further details.
          </li>
        </ul>
      </div>
      <!-- short description end -->
    </div>
  </div>
  <!-- features table end -->
</section>
<!-- features  area end -->

<!-- assistance area start  -->
<section class="assistance-area section-padding-70">
  <div class="container section">
    <!-- title start  -->
    <div class="columns">
      <div class="column is-6">
        <!-- section title start -->
        <div class="section-title">
          <h2>Assistance</h2>
          <p>If you’re hesitation, don’t worry - we’re here to explain thoroughly everything you minght want to know, Let us help!</p>
        </div>
        <!-- section title end -->
      </div>
    </div>
    <!-- title end  -->

    <div class="columns is-multiline">
      <!-- single assistance start  -->
      <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
        <div class="single-assistance">
          <!-- icon with title start  -->
          <div class="ass-top">
            <div class="ass-icon">
              <img src="/assets/images/icon/mail-icon.svg" alt="mail-icon">
            </div>
            <div class="ass-title">
              <h3>Meet us or <br> schedule a call</h3>
            </div>
          </div>
          <!-- icon with title end -->
          <div class="ass-bottom">
            <p>We will listen to your needs and 
              help you make the decision.</p>
          </div>
        </div>
      </div>
      <!-- single assistance end -->
      <!-- single assistance start  -->
      <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
        <div class="single-assistance">
          <!-- icon with title start  -->
          <div class="ass-top">
            <div class="ass-icon">
              <img src="/assets/images/icon/setup-icon.svg" alt="mail-icon">
            </div>
            <div class="ass-title">
              <h3>Setups <br>
                a demo</h3>
            </div>
          </div>
          <!-- icon with title end -->
          <div class="ass-bottom">
            <p>We will listen to your needs and 
              help you make the decision.</p>
          </div>
        </div>
      </div>
      <!-- single assistance end -->
      <!-- single assistance start  -->
      <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
        <div class="single-assistance">
          <!-- icon with title start  -->
          <div class="ass-top">
            <div class="ass-icon">
              <img src="/assets/images/icon/mail-icon.svg" alt="mail-icon">
            </div>
            <div class="ass-title">
              <h3>Meet us or <br> schedule a call</h3>
            </div>
          </div>
          <!-- icon with title end -->
          <div class="ass-bottom">
            <p>We will listen to your needs and 
              help you make the decision.</p>
          </div>
        </div>
      </div>
      <!-- single assistance end -->
      <!-- single assistance start  -->
      <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
        <div class="single-assistance">
          <!-- icon with title start  -->
          <div class="ass-top">
            <div class="ass-icon">
              <img src="/assets/images/icon/setup-icon.svg" alt="mail-icon">
            </div>
            <div class="ass-title">
              <h3>Setups <br>
                a demo</h3>
            </div>
          </div>
          <!-- icon with title end -->
          <div class="ass-bottom">
            <p>We will listen to your needs and 
              help you make the decision.</p>
          </div>
        </div>
      </div>
      <!-- single assistance end -->
    </div>
  </div>
</section>
<!-- assistance area end -->

<!-- faq section start  -->
<section class="features-plan-faq-area pb-100">
  <div class="container section">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="section-title has-text-centered">
          <h2>FAQ</h2>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-8">
        <!--use "is-marginless" class for remove margin -->
        <div class="ac-accordion-wrapper">
          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>How many times i can contact with if i purchs</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->

          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>Lorem Ipsum is simply dummy typesetting industr?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->

          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>Lorem Ipsum is simply dummy typesetting industr?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->
        </div>
      
      </div>
    </div>
  </div>
</section>
<!-- faq section end  -->

{{ end }}

