@mixin colorize-product($name, $color) {
  /*==================================================
                  Theme #{$name} Start
  ====================================================*/

  // background color
  body.#{$name} .kubedb-primary-bg,
  body.#{$name} .kd-primary,
  body.#{$name} .fixed-nav #header,
  body.#{$name} .socail-link-inline li a:hover,
  body.#{$name} .tbl-of-contents ul a.active:before,
  body.#{$name} .kd-version a.dropdown-item:hover,
  body.#{$name} .ac-dropdown a.navbar-item:hover,
  body.#{$name} a.nav-link.active:after,
  body.#{$name} .trial-button .button,
  body.#{$name} .pricing-top,
  body.#{$name} .pricing-button .kd-button,
  body.#{$name} .subscription-form .button:hover,
  body.#{$name} .searchbar-area button,
  body.#{$name} .pagination-list li a.is-active {
    background-color: #{$color};
  }
  // font-color
  body.#{$name} .kd-transparent-btn,
  body.#{$name} .carousel-wrapper:after,
  body.#{$name} .cta-text h2,
  body.#{$name} .main-menu-button a,
  body.#{$name} .navbar-link.is-active,
  body.#{$name} .navbar-link:hover,
  body.#{$name} a.navbar-item.is-active,
  body.#{$name} a.navbar-item:hover,
  body.#{$name} .customize-kubedb .navbar-dropdown .navbar-item,
  body.#{$name} .carousel-wrapper:after,
  body.#{$name} .footer-link li a:hover,
  body.#{$name} .accordion-item.active .accordion-header h2,
  body.#{$name} ul li b,
  body.#{$name} .full-info p b,
  body.#{$name} .full-info ul li p a,
  body.#{$name} .full-info p a,
  body.#{$name} .full-info a,
  body.#{$name} .tbl-of-contents ul a.active,
  body.#{$name} li.nav-item.active a,
  body.#{$name} .item ul li.is-active a,
  body.#{$name} .kd-sidebar-menu li a:hover,
  body.#{$name} .single-search-result h3 a {
    color: #{$color};
  }
  // border-color
  body.#{$name} .star-count::before,
  body.#{$name} .subscription-form .button,
  body.#{$name} .accordion-item.active,
  body.#{$name} blockquote,
  body.#{$name} .input.is-active,
  body.#{$name} .input.is-focused,
  body.#{$name} .input:active,
  body.#{$name} .input:focus,
  body.#{$name} .textarea.is-active,
  body.#{$name} .textarea.is-focused,
  body.#{$name} .textarea:active,
  body.#{$name} .textarea:focus,
  body.#{$name} .subscription-form .input.is-hovered,
  body.#{$name} .subscription-form .input:hover {
    border-color: #{$color};
  }
  body.#{$name} .pricing-top:before {
    border-right-color: darken($color, 15%);
  }

  /*==================================================
                  Theme #{$name} End
  ====================================================*/
}
