{{ define "main" }}

{{ $p := (index .Site.Data.products .Site.Params.product_key) }}

<!-- features area start -->
<section class="features-area">
  <div class="hero-features d-table">
    <!-- hero features text start -->
    <div class="hero-features-content d-table-cell has-text-centered">
      <h1 data-aos="fade-up">{{ $p.name }} Features</h1>
      <p data-aos="fade-up" data-aos-duration="500">{{ $p.summary }}</p>
      <div class="hero-area-button" data-aos="fade-up" data-aos-duration="700">
        <a
          href="/docs/{{ $p.latestVersion }}/setup/"
          class="button kd-button kd-primary"
          >Install Now FREE</a
        >
      </div>
    </div>
    <!-- hero features text end -->
  </div>
</section>
<!-- features area end -->

<!-- all featured section start -->
<section class="features-wrapper">
  {{ range $idx, $f := $p.features }}
  <!-- single feature start -->
  <div class="container section">
    <div class="feature-section-gap pb-100">
      {{ if (modBool $idx 2) }}
      <div class="columns">
        <div class="column is-5 is-offset-1">
          <div class="feature-wrapper d-table">
            <div class="feature-content pr-140 d-table-cell" data-aos="fade-up">
              <h2>{{ $f.title }}</h2>
              <p>
                {{ $f.description }}
              </p>
            </div>
          </div>
        </div>
        <div class="column is-5">
          <div class="single-feature-image" data-aos="fade-up" data-aos-duration="1000">
            <img
              src="{{ $f.image.src }}"
              alt="{{ $f.image.alt }}"
              class="img"
            />
          </div>
        </div>
      </div>
      {{ else }}
      <div class="columns reverse-row-order">
        <div class="column is-5 is-offset-1">
          <div class="single-feature-image" data-aos="fade-up">
            <img
              src="{{ $f.image.src }}"
              alt="{{ $f.image.alt }}"
              class="img"
            />
          </div>
        </div>
        <div class="column is-5">
          <div class="feature-wrapper d-table" data-aos="fade-up" data-aos-duration="1000">
            <div class="feature-content pr-45 d-table-cell">
              <h2>{{ $f.title }}</h2>
              <p>
                {{ $f.description }}
              </p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  <!-- single feature end -->
  {{ end }}
</section>
<!-- all featured section end -->
{{ end }}
