{{ define "main" }}

{{ $p := (index .Site.Data.products .Site.Params.product_key) }}

<!-- hero area for page start -->
<section class="hero-area support-page">
  <div class="container section">
    <div class="columns">
      <div class="column is-6">
        <!-- hero content start -->
        <div class="hero-area-content d-table pr-115">
          <div class="hero-content-inner d-table-cell" data-aos="fade-up">
            <h1>
              Go Cloud Native Confidently
              with AppsCode
            </h1>
            <p>
              At AppsCode, we focus on helping you achieve the outcomes you need to make your business successful. Our Support plans are designed to give you the right mix of tools and access to expertise so that you can be successful with AppsCode products while optimizing performance, managing risk, and keeping costs under control.
            </p>
            <br />
            <p>
              Our support plans are product specific and you will need a separate support subscription for each product.
            </p>
          </div>
        </div>
        <!-- hero content end -->
      </div>
      <div class="column is-6">
        <div class="hero-area-img" data-aos="fade-up" data-aos-duration="1000">
          <img
            src="/assets/images/support-page/support-img.png"
            alt=""
            class="img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero area for page end -->

<!-- pricing plan start -->
<section class="pricing-plan-area section-padding support-page">
  <div class="container section">
    <div class="columns">
      <div class="column has-text-centered">
        <!-- section title start -->
        <div class="section-title" data-aos="fade-up">
          <h2>{{ $p.name }} Support Plans</h2>
          <p>
            Our support plans are designed to meet your need, risk tolerance and budget constraints
          </p>
        </div>
        <!-- section title end -->
      </div>
    </div>
  </div>
  <div class="pricing-area-wrapper">
    <div class="container section">
      <div class="columns is-variable is-0">
        <!-- pricing column start -->
        <div class="column" data-aos="fade-up">
          <div class="single-pricing-table details">
            <!-- pricing body start -->
            <div class="pricing-body">
              <!-- pricing content -->
              <ul>
                <li>
                  <span>
                    <br />
                    Recommended for
                    <br />
                    <br />
                  </span>
                </li>
                <li>
                  <span class="tooltip is-tooltip-primary is-tooltip-multiline" data-tooltip="We will make every reasonable effort to respond to your initial request within the corresponding timeframes.">
                    <br />
                    <br />
                    <br />
                    <br />
                    Response Times
                    <br />
                    <br />
                    <br />
                    <br />
                  </span>
                </li>
                <li>
                  <span class="tooltip is-tooltip-primary is-tooltip-multiline" data-tooltip="Business hours are generally defined as 9:00 AM to 6:00 PM in the customer country, excluding holidays and weekends. These times may vary in countries with multiple time zones.">
                    Support Coverage <br />
                  </span>
                </li>
                <li>
                  <span>
                    Emergency patches <br />
                  </span>
                </li>
                <li>
                  <span>
                    Unlimited Incidents <br />
                  </span>
                </li>
                <li>
                  <span>
                    Contacts for <br />
                    Ticketing
                  </span>
                </li>
                <li>
                  <span>
                    Community Support <br />
                  </span>
                </li>
                <li>
                  <span class="tooltip is-tooltip-primary is-tooltip-multiline" data-tooltip="We are able to accomodate a different remote desktop software if your organization provides it. Unused hours don't accrue over a month.">
                    Remote Hands <br />
                    (Debug via Zoom) <br />
                    <br />
                  </span>
                </li>
                <li>
                  <span>
                    Production Runbook
                  </span>
                </li>
                <li>
                  <span class="tooltip is-tooltip-primary is-tooltip-multiline" data-tooltip="We are able to accomodate a different chat software, if your organization provides it.">
                    Dedicated Private  <br />
                    chat (via Slack)
                  </span>
                </li>
                <li>
                  <span>
                    Phone support
                  </span>
                </li>
                <li>
                  <span>
                    Architectural  <br />
                    Guidance <br />
                    <br />
                  </span>
                </li>
                <li>
                  <span>
                    Professional Services
                  </span>
                </li>
              </ul>
              <!-- pricing content -->
            </div>
            <!-- pricing body end -->
          </div>
        </div>
        <!-- pricing column end -->
        <!-- pricing column start -->
        <div class="column has-text-centered" data-aos="fade-up" data-aos-duration="500">
          <div class="single-pricing-table free">
            <!-- pricing heading start -->
            <div class="pricing-heading">
              <!-- pricing title start -->
              <div class="pricing-top kd-green d-table">
                <div class="pricing-top-inner d-table-cell">
                  <h4>Community</h4>
                  <div class="package-price">Free</div>
                </div>
              </div>
              <!-- pricing title end -->

              <!-- pricing button start -->
              <div class="pricing-button">
                <a href="/docs/{{ $p.latestVersion }}/setup/" class="button kd-button kd-green">Try Now for FREE!</a>
              </div>
              <!-- pricing button end -->
            </div>
            <!-- pricing heading end -->

            <!-- pricing body start -->
            <div class="pricing-body">
              <!-- pricing content -->
              <ul>
                <li data-col_name="Recommended for">
                  <span>
                    Recommended if you are <br />
                    experimenting or testing <br />
                    <br />
                  </span>
                </li>
                <li data-col_name="Response Time">
                  <span>
                    <br />
                    <br />
                    <br />
                    <br />
                    Best effort
                    <br />
                    <br />
                    <br />
                    <br />
                  </span>
                </li>
                <li data-col_name="Support Coverage">
                  <span>
                    N/A
                  </span>
                </li>
                <li data-col_name="Emergency patches">
                  <span>
                    X <br />
                  </span>
                </li>
                <li data-col_name="Unlimited Incidents">
                  <span>X</span>
                </li>
                <li data-col_name="Contacts for Ticketing">
                  <span>X</span>
                </li>
                <li data-col_name="Community support">
                  <span
                    >Included <br />
                    (Public Slack & GitHub issues)</span
                  >
                </li>
                <li data-col_name="Remote Hands (Debug via Zoom)">
                  <span>
                    Yes <br />
                    (charged at $200/hr) <br />
                    <br />
                  </span>
                </li>
                <li data-col_name="Production Runbook">
                  <span>X</span>
                </li>
                <li data-col_name="Dedicated Private chat (via Slack)">
                  <span>X</span>
                </li>
                <li data-col_name="Phone support">
                  <span>X</span>
                </li>
                <li data-col_name="Architectural Guidance">
                  <span>
                    X <br />
                    <br />
                    <br />
                  </span>
                </li>
                <li data-col_name="Professional Services">
                  <span>Additional fees</span>
                </li>
              </ul>
              <!-- pricing content -->
              <!-- pricing button start -->
              <div class="pricing-button">
                <a href="/docs/{{ $p.latestVersion }}/setup/" class="button primary-transparent-btn">Try Now for FREE!</a>
              </div>
              <!-- pricing button end -->
            </div>
            <!-- pricing body end -->
          </div>
        </div>
        <!-- pricing column end -->
        <!-- pricing column start -->
        <div class="column has-text-centered" data-aos="fade-up" data-aos-duration="600">
          <div class="single-pricing-table silver">
            <div class="discount-text is-hide" id="standardPriceDiscount">Save 33%</div>
            <!-- pricing heading start -->
            <div class="pricing-heading">
              <!-- pricing title start -->
              <div class="pricing-top d-table">
                <div class="pricing-top-inner d-table-cell">
                <h4>Standard</h4>
                <div class="package-price" id="standardPrice"></span></div>
              </div>
              </div>
              <!-- pricing title end -->

              <!-- pricing type start -->
              <div class="pricing-type">
                <div class="control">
                  <div class="select is-multiple custom-arrow-down">
                    <select id="standardPriceOptions" onchange="showStandardPrice()">
                      <option value="y2y">Annual plan, prepaid</option>
                      <option value="m2m">Monthly plan</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- pricing type end -->

              <!-- pricing button start -->
              <div class="pricing-button">
                <a href="/meet-expert/" class="button kd-button kd-primary">Contact Sales</a>
              </div>
              <!-- pricing button end -->
            </div>
            <!-- pricing heading end -->

            <!-- pricing body start -->
            <div class="pricing-body">
              <!-- pricing content -->
              <ul>
                <li data-col_name="Recommended for">
                  <span>
                    Recommended if you want <br />
                    guaranteed support by the <br />
                    developer
                  </span>
                </li>
                <li data-col_name="Response Time">
                  <span>
                    <br />
                    General guidance: <br />
                    < 48 business hours  <br />
                    <br />
                    System impaired:  <br />
                    < 24 business hours <br />
                    <br />
                    <br />
                  </span>
                </li>
                <li data-col_name="Support Coverage">
                  <span>
                    Business hours <br />
                    M-F: 9-5 pm
                  </span>
                </li>
                <li data-col_name="Emergency patches">
                  <span>
                    Yes <br />
                    (at most bi-weekly)
                  </span>
                </li>
                <li data-col_name="Unlimited Incidents">
                  <span>Yes</span>
                </li>
                <li data-col_name="Contacts for Ticketing">
                  <span>2</span>
                </li>
                <li data-col_name="Community support">
                  <span
                    >Included <br />
                    (Public Slack & GitHub issues)</span
                  >
                </li>
                <li data-col_name="Remote Hands (Debug via Zoom)">
                  <span>
                    Yes <br />
                    (first 1 hr/month FREE, <br />
                    addt’l charged at $200/hr)
                  </span>
                </li>
                <li data-col_name="Production Runbook">
                  <span>Yes</span>
                </li>
                <li data-col_name="Dedicated Private chat (via Slack)">
                  <span>Yes</span>
                </li>
                <li data-col_name="Phone support">
                  <span>X</span>
                </li>
                <li data-col_name="Architectural Guidance">
                  <span>
                    General <br />
                    <br />
                    <br />
                  </span>
                </li>
                <li data-col_name="Professional Services">
                  <span>Additional fees</span>
                </li>
              </ul>
              <!-- pricing content -->
              <!-- pricing button start -->
              <div class="pricing-button">
                <a href="/meet-expert/" class="button kubedb-transparent-btn">Contact Sales</a>
              </div>
              <!-- pricing button end -->
            </div>
            <!-- pricing body end -->
          </div>
        </div>
        <!-- pricing column end -->
        <!-- pricing column start -->
        <div class="column has-text-centered" data-aos="fade-up" data-aos-duration="700">
          <div class="single-pricing-table gold">
            <!-- pricing heading start -->
            <div class="discount-text" id="goldPriceDiscount">Save 20%</div>
            <div class="pricing-heading">
              <!-- pricing title start -->
              <div class="pricing-top kd-orange d-table">
                <div class="pricing-top-inner d-table-cell">
                  <div class="round-shape">BEST VALUE!</div>
                <h4>Gold</h4>
                <div class="package-price" id="goldPrice"></div>
              </div>
              </div>
              <!-- pricing title end -->

              <!-- pricing type start -->
              <div class="pricing-type">
                <div class="control">
                  <div class="select is-multiple custom-arrow-down">
                    <select id="goldPriceOptions" onchange="showGoldPrice()">
                      <option value="y2y">Annual plan, prepaid</option>
                      <option value="m2m">Monthly plan</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- pricing type end -->

              <!-- pricing button start -->
              <div class="pricing-button">
                <a href="/meet-expert/" class="button kd-button kd-orange">Contact Sales</a>
              </div>
              <!-- pricing button end -->
            </div>
            <!-- pricing heading end -->

            <!-- pricing body start -->
            <div class="pricing-body">
              <!-- pricing content -->
              <ul>
                <li data-col_name="Recommended for">
                  <span>
                    Recommended if you have <br />
                    production workloads. <br />
                    <br />
                  </span>
                </li>
                <li data-col_name="Response Time">
                  <span>
                    General guidance: <br />
                    < 48 business hours  <br />
                    <br />
                    System impaired:  <br />
                    < 24 business hours <br />
                    <br />
                    Production system impaired: <br />
                    < 4 hours
                  </span>
                </li>
                <li data-col_name="Support Coverage">
                  <span>
                    24x5x365 <br />
                  </span>
                </li>
                <li data-col_name="Emergency patches">
                  <span>
                    Yes <br />
                    (at most bi-weekly)
                  </span>
                </li>
                <li data-col_name="Unlimited Incidents">
                  <span>Yes</span>
                </li>
                <li data-col_name="Contacts for Ticketing">
                  <span>5</span>
                </li>
                <li data-col_name="Community support">
                  <span
                    >Included <br />
                    (Public Slack & GitHub issues)</span
                  >
                </li>
                <li data-col_name="Remote Hands (Debug via Zoom)">
                  <span>
                    Yes <br />
                    (first 2 hrs/month FREE, <br />
                    addt’l charged at $200/hr)
                  </span>
                </li>
                <li data-col_name="Production Runbook">
                  <span>Yes</span>
                </li>
                <li data-col_name="Dedicated Private chat (via Slack)">
                  <span>Yes</span>
                </li>
                <li data-col_name="Phone support">
                  <span>X</span>
                </li>
                <li data-col_name="Architectural Guidance">
                  <span>
                    Contextual to your <br />
                    use-cases <br />
                    <br />
                  </span>
                </li>
                <li data-col_name="Professional Services">
                  <span>Additional fees</span>
                </li>
              </ul>
              <!-- pricing content -->
              <!-- pricing button start -->
              <div class="pricing-button">
                <a href="/meet-expert/" class="button kd-button kd-orange">Contact Sales</a>
              </div>
              <!-- pricing button end -->
            </div>
            <!-- pricing body end -->
          </div>
        </div>
        <!-- pricing column end -->
        <!-- pricing column start -->
        <div class="column has-text-centered" data-aos="fade-up" data-aos-duration="800">
          <div class="single-pricing-table plutinum">
            <!-- pricing heading start -->
            <div class="pricing-heading">
              <!-- pricing title start -->
              <div class="pricing-top kd-red d-table">
                <div class="pricing-top-inner d-table-cell">
                <h4>Platinum</h4>
                <div class="package-price"></div>
              </div>
              </div>
              <!-- pricing title end -->

              <!-- pricing button start -->
              <div class="pricing-button">
                <a href="/meet-expert/" class="button kd-button kd-red">Contact Sales</a>
              </div>
              <!-- pricing button end -->
            </div>
            <!-- pricing heading end -->

            <!-- pricing body start -->
            <div class="pricing-body">
              <!-- pricing content -->
              <ul>
                <li data-col_name="Recommended for">
                  <span>
                    Recommended if you have <br />
                    business and/or mission <br />
                    critical workloads.
                    <br />
                  </span>
                </li>
                <li data-col_name="Response Time">
                  <span>
                    General guidance: <br />
                    < 48 business hours  <br />
                    <br />
                    System impaired:  <br />
                    < 24 business hours <br />
                    <br />
                    Production system impaired: <br />
                    < 2 hours
                  </span>
                </li>
                <li data-col_name="Support Coverage">
                  <span>
                    24x7x365 <br />
                  </span>
                </li>
                <li data-col_name="Emergency patches">
                  <span>
                    Yes <br />
                    (as required)
                  </span>
                </li>
                <li data-col_name="Unlimited Incidents">
                  <span>Yes</span>
                </li>
                <li data-col_name="Contacts for Ticketing">
                  <span>10</span>
                </li>
                <li data-col_name="Community support">
                  <span
                    >Included <br />
                    (Public Slack & GitHub issues)</span
                  >
                </li>
                <li data-col_name="Remote Hands (Debug via Zoom)">
                  <span>
                    Included <br />
                    (as negotiated) <br />
                    <br />
                  </span>
                </li>
                <li data-col_name="Production Runbook">
                  <span>Yes</span>
                </li>
                <li data-col_name="Dedicated Private chat (via Slack)">
                  <span>Yes</span>
                </li>
                <li data-col_name="Phone support">
                  <span>Yes</span>
                </li>
                <li data-col_name="Architectural Guidance">
                  <span>
                    Consultative review and <br />
                    guidance based on your <br />
                    applications
                  </span>
                </li>
                <li data-col_name="Professional Services">
                  <span>Additional fees</span>
                </li>
              </ul>
              <!-- pricing content -->
              <!-- pricing button start -->
              <div class="pricing-button">
                <a href="/meet-expert/" class="button medium-btn red-transparent-btn">Contact Sales</a>
              </div>
              <!-- pricing button end -->
            </div>
            <!-- pricing body end -->
          </div>
        </div>
        <!-- pricing column end -->
      </div>
      <!-- pricing description start -->
      <div class="columns mt-30 pricing-description-mobile" data-aos="fade-up">
        <div class="column">
          <div class="pricing-description">
            <ul>
              <li>
                <span>* </span>Every support comes with license for 1 production Kubernetes cluster and unlimited non-production clusters. If you serve user traffic from a Kubernetes cluster or run workloads that are used to support your users, it qualifies as a production cluster. For each additional production Kubernetes cluster, add 50% of the base package price. There are no limits on how many nodes you can have per Kubernetes cluster.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- pricing description end -->
    </div>
  </div>
</section>
<!-- pricing plan end -->

<!-- payment method area start -->
<section class="payment-method-area section-padding">
  <div class="container section">
    <div class="columns">
      <div class="column is-4 is-offset-1" data-aos="fade-up">
        <div class="payment-method-innner-text pr-140">
          <h2>Payment Methods</h2>
          <p>
            Our payment processing is powerd by <a href="https://stripe.com" class="ac-primary-color">Stripe</a>.
            You credit card data never touches our servers. For more information, please visit
            <a target="_blank" href="https://stripe.com" class="ac-primary-color">stripe.com</a>.
          </p>
        </div>
      </div>
      <div class="column is-6 is-offset-1" data-aos="fade-up" data-aos-duration="1000">
        <div class="image-wrapper d-table">
          <div class="payment-option-image d-table-cell">
            <div class="single-payment-method">
              <img
                src="/assets/images/payment-method/american.png"
                alt=""
                class="img"
              />
            </div>
            <div class="single-payment-method">
              <img
                src="/assets/images/payment-method/mastercard.png"
                alt=""
                class="img"
              />
            </div>
            <div class="single-payment-method">
              <img
                src="/assets/images/payment-method/paypal.png"
                alt=""
                class="img"
              />
            </div>
            <div class="single-payment-method">
              <img
                src="/assets/images/payment-method/visa.png"
                alt=""
                class="img"
              />
            </div>
            <div class="single-payment-method">
              <img
                src="/assets/images/payment-method/western-union.png"
                alt=""
                class="img"
              />
            </div>
            <div class="single-payment-method">
              <img
                src="/assets/images/payment-method/worldpay.png"
                alt=""
                class="img"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- payment method area end -->

<!-- faq area start -->
<section class="faq-area section-padding">
  <div class="container section">
    <div class="columns">
      <div class="column has-text-centered">
        <div class="section-title" data-aos="fade-up">
          <h2>Frequently Asked Questions</h2>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-5 is-offset-1">
        <div class="faq-image" data-aos="fade-up">
          <img src="/assets/images/support-page/faq.png" alt="" class="img" />
        </div>
      </div>
      <div class="column is-5 is-offset-1">
        <div class="faq-content" data-aos="fade-up" data-aos-duration="1000">
          <!-- faq content start -->
          <div class="accordion">
            <div class="accordion-item active">
              <div class="accordion-header">
                <h2>Can I upgrade or downgrade anytime?</h2>
              </div>
              <div class="accordion-body">
                <p>
                  Monthly plans are subject to a 30 day minimum term.
                  Monthly plans can be upgraded anytime.
                  Annual plans can be downgraded at the end of the term.
                </p>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header">
                <h2>Is my data safe?</h2>
              </div>
              <div class="accordion-body">
                <p>
                  Our payment processing is powerd by
                  <a href="https://stripe.com" class="ac-primary-color">Stripe</a>.
                  You credit card data never touches our servers. For more information,
                  please visit <a target="_blank" href="https://stripe.com" class="ac-primary-color">stripe.com</a>.
                </p>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header">
                <h2>Do you have any cancellation fee?</h2>
              </div>
              <div class="accordion-body">
                <p>
                  There is no cancellation fee. But plans are subject to minimum duration as stated above.
                </p>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header">
                <h2>What types of payment do you accept?</h2>
              </div>
              <div class="accordion-body">
                <p>
                  We accept all popular credit/debit cards such as Visa, Mastercard, American Express,
                  Discover, etc. We also accept ACH debit/credit.
                </p>
              </div>
            </div>
          </div>
          <!-- faq content end -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- faq area end -->


<script>
function showPrice(plan, y2y, m2m) {
  var x = document.getElementById(plan + "PriceOptions").value;
  var price = "<sup>US$</sup> "+m2m+"<sub>/mo</sub><span>(<strong>1</strong> production<sup>*</sup> & <strong>unlimited</strong> non-prod K8s clusters)</span>";
  var show = false;
  if (x === "y2y") {
    // 16.67% discount
    price = "<sup>US$</sup> "+y2y+"<sub>/mo</sub><span>(<strong>1</strong> production<sup>*</sup> & <strong>unlimited</strong> non-prod K8s clusters)</span>";
    show = true;
  }
  document.getElementById(plan+"Price").innerHTML = price;

  var discount = document.getElementById(plan + "PriceDiscount");
  if (show) {
    discount.classList.remove("is-hide");
  } else {
    discount.classList.add("is-hide");
  }
  discount.innerHTML = "Save "+Math.floor((m2m-y2y)/y2y*100)+"%";
}

function showStandardPrice() { showPrice('standard', {{ $p.plans.Standard_Y2Y.price }}, {{ $p.plans.Standard_M2M.price }}); }
function showGoldPrice() { showPrice('gold', {{ $p.plans.Golden_Y2Y.price }}, {{ $p.plans.Golden_M2M.price }}); }

showStandardPrice();
showGoldPrice();
</script>
{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}
