{{ define "main" }}

{{ $p := (index .Site.Data.products .Site.Params.product_key) }}

<!-- hero area for page start -->
<section class="hero-area features-plan">
  <div class="container section">
    <div class="columns">
      <div class="column is-6">
        <!-- hero content start -->
        <div class="hero-area-content d-table pr-115">
          <div class="hero-content-inner d-table-cell" data-aos="fade-up">
            <h1>
              Go Cloud Native Confidently
              with AppsCode
            </h1>
            <p>
              At AppsCode, we focus on helping you achieve the outcomes you need to make your business successful. Our
              Support plans are designed to give you the right mix of tools and access to expertise so that you can be
              successful with AppsCode products while optimizing performance, managing risk, and keeping costs under
              control.
            </p>
            <br />
            <p>
              Our pricing plans are product specific and you will need a separate subscription for each product.
            </p>
          </div>
        </div>
        <!-- hero content end -->
      </div>
      <div class="column is-6">
        <div class="hero-area-img" data-aos="fade-up" data-aos-duration="1000">
          <img src="/assets/images/support-page/support-img.png" alt="" class="img" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero area for page end -->
<!-- features cta area start -->
<section class="features-cta-area bgc-2 section-padding-100 pb-50">
  <div class="container section">
    <!-- features cta start  -->
    <div class="features-plan-cta-wrapper">
      <!-- cta-left part start  -->
      <div class="cta-left fp-cta-bg">
        <h2>Features</h2>
        <p>Our pricing plans are designed to meet your need, risk tolerance and budget constraints</p>
      </div>
      <!-- cta-left part end -->

      <!-- cta-right part start  -->
      <div class="cta-right">
        <!-- single cta start  -->
        <div class="single-cta community has-text-centered">
          <h3>KubeDB Community</h3>
          <p>Open source KubeDB Free for everyone</p>
          <div class="bottom-content">
            <a href="/docs/latest/setup" class="button ac-button is-secondary" style="width: calc(100% - 30px);">Install
              Now!</a>
            <!-- <a href="/docs/latest/setup/install/community" class="button ac-button is-secondary">Install Now!</a> -->
          </div>
        </div>
        <!-- single cta end -->
        <!-- single cta start  -->
        <div class="single-cta enterprise has-text-centered">
          <h3>KubeDB On-Prem</h3>
          <p class="description">Open Core KubeDB for production databases</p>
          <div class="bottom-content">
            <!-- switch buttons start  -->
            <div class="switch-buttons mb-10">
              <div class="button kdb-on-prem">KubeDB On-prem</div>
              <div class="button kdb-cloud">KubeDB Cloud</div>
              <div class="is-active-bg"></div>
            </div>
            <div class="is-flex is-justify-content-center">
              <a href="#" class="orange-underlinebtn is-block mb-10">What’s different?</a>
            </div>
            <!-- switch buttons end -->
            <!-- <a href="/docs/latest/setup/install/enterprise" class="is-trial">Try for Free!</a> -->
            <div class="buttons kubedb-cloud-btns is-block">
              <a href="http://14-days-trial-url" class="button ac-button is-secondary is-outlined trial-btn">Start a
                free 14-day trial</a>
              <button onclick="showModal()" class="button ac-button is-secondary talk-btn">Talk to sales</button>
            </div>
          </div>
        </div>
        <!-- single cta end -->
      </div>
      <!-- cta-right part end -->
    </div>
    <!-- features cta end  -->

    <!-- features table start  -->
    <div class="features-plan-area mt-30">

      <!-- single features area start  -->
      <div class="single-features-area">
        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Database Clustering</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon">
                  <img src="/assets/images/icon/check-icon.svg" alt="check-icon">
                  <img class="is-kubedb-cloud" src="/assets/images/icon/error-icon.svg" alt="check-icon">
                </span>
              </div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Cloud / On-prem / Air-gapped clusters</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon">
                  <img src="/assets/images/icon/check-icon.svg" alt="check-icon">
                  <img class="is-kubedb-cloud" src="/assets/images/icon/error-icon.svg" alt="error-icon">
                </span>
              </div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Multizone Cluster</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">
                <span class="t-icon">
                  <img src="/assets/images/icon/check-icon.svg" alt="check-icon">
                  <img class="is-kubedb-cloud" src="/assets/images/icon/error-icon.svg" alt="error-icon">
                </span>
              </div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Private Registry</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">
                <span class="t-icon">
                  <img src="/assets/images/icon/check-icon.svg" alt="check-icon">
                  <img class="is-kubedb-cloud" src="/assets/images/icon/error-icon.svg" alt="error-icon">
                </span>
              </div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">CLI</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">
                <span class="t-icon">
                  <img src="/assets/images/icon/check-icon.svg" alt="check-icon">
                  <img class="is-kubedb-cloud" src="/assets/images/icon/error-icon.svg" alt="error-icon">
                </span>
              </div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Halt & resume database</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">
                <span class="t-icon">
                  <img src="/assets/images/icon/check-icon.svg" alt="check-icon">
                  <img class="is-kubedb-cloud" src="/assets/images/icon/error-icon.svg" alt="error-icon">
                </span>
              </div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Custom Configuration</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">
                <span class="t-icon">
                  <img src="/assets/images/icon/check-icon.svg" alt="check-icon">
                  <img class="is-kubedb-cloud" src="/assets/images/icon/error-icon.svg" alt="error-icon">
                </span>
              </div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Custom Extensions</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">
                <span class="t-icon">
                  <img src="/assets/images/icon/check-icon.svg" alt="check-icon">
                  <img class="is-kubedb-cloud" src="/assets/images/icon/error-icon.svg" alt="error-icon">
                </span>
              </div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Prometheus Metrics<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="Rich database metrics and KubeDB operator metrics"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span>
          </div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">
                <span class="t-icon">
                  <img src="/assets/images/icon/check-icon.svg" alt="check-icon">
                  <img class="is-kubedb-cloud" src="/assets/images/icon/error-icon.svg" alt="error-icon">
                </span>
              </div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Protect against accidental deletion</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon">
                  <img src="/assets/images/icon/check-icon.svg" alt="check-icon">
                  <img class="is-kubedb-cloud" src="/assets/images/icon/error-icon.svg" alt="error-icon">
                </span>
              </div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Managed Backup/Recovery using <a href="https://stash.run">Stash </a> </div>
          <!-- features plan wrapper -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span></div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">
                <span class="t-icon">
                  <img src="/assets/images/icon/check-icon.svg" alt="check-icon">
                  <img class="is-kubedb-cloud" src="/assets/images/icon/error-icon.svg" alt="error-icon">
                </span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Managed Patch Upgrades</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">
                <span class="t-icon">
                  <img src="/assets/images/icon/check-icon.svg" alt="check-icon">
                  <img class="is-kubedb-cloud" src="/assets/images/icon/error-icon.svg" alt="error-icon">
                </span>
              </div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Managed Vertical Scaling</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">
                <span class="t-icon">
                  <img src="/assets/images/icon/check-icon.svg" alt="check-icon">
                  <img class="is-kubedb-cloud" src="/assets/images/icon/error-icon.svg" alt="error-icon">
                </span>
              </div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Managed Restarts</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">
                <span class="t-icon">
                  <img src="/assets/images/icon/check-icon.svg" alt="check-icon">
                  <img class="is-kubedb-cloud" src="/assets/images/icon/error-icon.svg" alt="error-icon">
                </span>
              </div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->
      </div>
      <!-- single features area end  -->
    </div>
    <!-- features table end -->
  </div>
</section>
<!-- features  area end -->

<!-- support area start  -->
<section class="support-area features-cta-area bgc-2 pb-40">
  <div class="container section">
    <div class="columns">
      <div class="column">
        <!-- support section start -->
        <!-- support cta start  -->
        <div class="support-section features-plan-cta-wrapper">
          <!-- cta-left part start  -->
          <div class="cta-left fp-cta-bg">
            <h2>Support Coverage</h2>
            <p>Support content dummy text designed to meet your need, risk tolerance</p>
          </div>
          <!-- cta-left part end -->
          <!-- cta-right part start  -->
          <div class="cta-right">
            <!-- single cta start  -->
            <div class="single-cta community communiry-support has-text-centered">
              <h3>KubeDB Community</h3>
              <p>Open source KubeDB Free for everyone</p>
            </div>
            <!-- single cta end -->
            <!-- single cta start  -->
            <div class="single-cta basic has-text-centered">
              <h3>Basic</h3>
              <p>Open Core KubeDB for production databases</p>
            </div>
            <!-- single cta end -->
            <!-- single cta start  -->
            <div class="single-cta gold has-text-centered">
              <h3>Gold</h3>
              <p>Open Core KubeDB for production databases</p>
            </div>
            <!-- single cta end -->
            <!-- single cta start  -->
            <div class="single-cta platinum has-text-centered">
              <h3>Platinum</h3>
              <p>Open Core KubeDB for production databases</p>
            </div>
            <!-- single cta end -->
          </div>
          <!-- cta-right part end -->
        </div>
        <!-- support cta end  -->
        <!-- features table start  -->
        <div class="features-plan-area mt-30">
          <!-- single features area start  -->
          <div class="single-features-area">
            <!-- single features start  -->
            <div class="single-features title">
              <div class="features-name">Recommended For</div>
              <!-- features plan wrapper  -->
              <div class="features-plan-wrapper">
                <!-- community plan start  -->
                <div class="features-plan community">
                  Core functionalities for FREE<br>for any Kubernetes user
                </div>
                <!-- community plan end  -->
                <!-- enterprise plan start  -->
                <div class="features-plan enterprise has-three-column">
                  <div class="e-plan">Self-service plan for production databases</div>
                  <div class="e-plan">For production databases</div>
                  <div class="e-plan">For business and/or mission critical databases</div>
                </div>
                <!-- enterprise plan end  -->
              </div>
              <!-- features plan wrapper  -->
            </div>
            <!-- single features end -->
            <!-- single features start  -->
            <div class="single-features">
              <div class="features-name">PostgreSQL</div>
              <!-- features plan wrapper  -->
              <div class="features-plan-wrapper">
                <!-- community plan start  -->
                <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                      alt="check-icon"></span> </div>
                <!-- community plan end  -->
                <!-- enterprise plan start  -->
                <div class="features-plan enterprise has-three-column">
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                </div>
                <!-- enterprise plan end  -->
              </div>
              <!-- features plan wrapper  -->
            </div>
            <!-- single features end -->
            <!-- single features start  -->
            <div class="single-features">
              <div class="features-name">MySQL</div>
              <!-- features plan wrapper  -->
              <div class="features-plan-wrapper">
                <!-- community plan start  -->
                <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                      alt="check-icon"></span> </div>
                <!-- community plan end  -->
                <!-- enterprise plan start  -->
                <div class="features-plan enterprise has-three-column">
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                </div>
                <!-- enterprise plan end  -->
              </div>
              <!-- features plan wrapper  -->
            </div>
            <!-- single features end -->
            <!-- single features start  -->
            <div class="single-features">
              <div class="features-name">Elasticsearch</div>
              <!-- features plan wrapper  -->
              <div class="features-plan-wrapper">
                <!-- community plan start  -->
                <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                      alt="check-icon"></span> </div>
                <!-- community plan end  -->
                <!-- enterprise plan start  -->
                <div class="features-plan enterprise has-three-column">
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                </div>
                <!-- enterprise plan end  -->
              </div>
              <!-- features plan wrapper  -->
            </div>
            <!-- single features end -->
            <!-- single features start  -->
            <div class="single-features">
              <div class="features-name">MongoDB</div>
              <!-- features plan wrapper  -->
              <div class="features-plan-wrapper">
                <!-- community plan start  -->
                <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                      alt="check-icon"></span> </div>
                <!-- community plan end  -->
                <!-- enterprise plan start  -->
                <div class="features-plan enterprise has-three-column">
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                </div>
                <!-- enterprise plan end  -->
              </div>
              <!-- features plan wrapper  -->
            </div>
            <!-- single features end -->
            <!-- single features start  -->
            <div class="single-features">
              <div class="features-name">Redis</div>
              <!-- features plan wrapper  -->
              <div class="features-plan-wrapper">
                <!-- community plan start  -->
                <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                      alt="check-icon"></span> </div>
                <!-- community plan end  -->
                <!-- enterprise plan start  -->
                <div class="features-plan enterprise has-three-column">
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                </div>
                <!-- enterprise plan end  -->
              </div>
              <!-- features plan wrapper  -->
            </div>
            <!-- single features end -->
            <!-- single features start  -->
            <div class="single-features">
              <div class="features-name">Memcached</div>
              <!-- features plan wrapper  -->
              <div class="features-plan-wrapper">
                <!-- community plan start  -->
                <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                      alt="check-icon"></span> </div>
                <!-- community plan end  -->
                <!-- enterprise plan start  -->
                <div class="features-plan enterprise has-three-column">
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                </div>
                <!-- enterprise plan end  -->
              </div>
              <!-- features plan wrapper  -->
            </div>
            <!-- single features end -->
            <!-- single features start  -->
            <div class="single-features">
              <div class="features-name">MariaDB</div>
              <!-- features plan wrapper  -->
              <div class="features-plan-wrapper">
                <!-- community plan start  -->
                <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                      alt="check-icon"></span> </div>
                <!-- community plan end  -->
                <!-- enterprise plan start  -->
                <div class="features-plan enterprise has-three-column">
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                </div>
                <!-- enterprise plan end  -->
              </div>
              <!-- features plan wrapper  -->
            </div>
            <!-- single features end -->
            <!-- single features start  -->
            <div class="single-features">
              <div class="features-name">Percona XtraDB</div>
              <!-- features plan wrapper  -->
              <div class="features-plan-wrapper">
                <!-- community plan start  -->
                <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                      alt="check-icon"></span> </div>
                <!-- community plan end  -->
                <!-- enterprise plan start  -->
                <div class="features-plan enterprise has-three-column">
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                </div>
                <!-- enterprise plan end  -->
              </div>
              <!-- features plan wrapper  -->
            </div>
            <!-- single features end -->
            <!-- single features start  -->
            <div class="single-features">
              <div class="features-name">PgBouncer</div>
              <!-- features plan wrapper  -->
              <div class="features-plan-wrapper">
                <!-- community plan start  -->
                <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                      alt="error-icon"></span> </div>
                <!-- community plan end  -->
                <!-- enterprise plan start  -->
                <div class="features-plan enterprise has-three-column">
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                </div>
                <!-- enterprise plan end  -->
              </div>
              <!-- features plan wrapper  -->
            </div>
            <!-- single features end -->
            <!-- single features start  -->
            <div class="single-features">
              <div class="features-name">ProxySQL</div>
              <!-- features plan wrapper  -->
              <div class="features-plan-wrapper">
                <!-- community plan start  -->
                <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                      alt="error-icon"></span> </div>
                <!-- community plan end  -->
                <!-- enterprise plan start  -->
                <div class="features-plan enterprise has-three-column">
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                  <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                        alt="check-icon"></span></div>
                </div>
                <!-- enterprise plan end  -->
              </div>
              <!-- features plan wrapper  -->
            </div>
            <!-- single features end -->
          </div>
          <!-- single features area end  -->
          <!-- short description start  -->
          <div class="pricing-description mt-30">
            <ul>
              <li>
                <span>⏰ </span>Business Hours: Mon - Fri 9am - 6pm UTC+6 timezone (Bangladesh Standard Time) excluding
                local Bangladesh Holidays
              </li>
              <li>
                <span>☎ </span>Additional conditions apply. Please contact us for further details.
              </li>
            </ul>
          </div>
          <!-- short description end -->
        </div>
        <!-- features table end -->
        <!-- support section end -->

      </div>
    </div>
  </div>
</section>
<!-- support area end -->
<!-- contact modal area start  -->
<div class="is-hidden contact-us-modal ac-modal is-medium">
  <div class="ac-modal-inner">
    <!-- header start  -->
    <div class="ac-modal-header">
      <h4>AppsCode Product Pricing List</h4>
      <div class="ms-close-button">
        <button class="is-transparent" onclick="closeModal()"><img src="/assets/images/icon/close-icon.svg" alt="close-icon"></button>
      </div>
    </div>
    <!-- header end -->
    <!-- body start  -->
    <div class="ac-modal-body">
      <form action="/_/pricing" method="post">
        <div class="form-content">
          <div class="single-input-form">
            <label class="label" for="fname">FIRST NAME <span class="is-require" title="Require field">*</span></label>
            <input name="name" id="fname" type="text" placeholder="Jhon" required />
          </div>

          <div class="single-input-form">
            <label class="label" for="lname">LAST NAME <span class="is-require" title="Require field">*</span></label>
            <input name="name" id="lname" type="text" placeholder="Haris" required />
          </div>

          <div class="single-input-form">
            <label class="label" for="w-email">WORK EMAIL <span class="is-require"
                title="Require field">*</span></label>
            <input name="email" id="w-email" type="email" placeholder="name@domain.com" value="" required />
          </div>

          <div class="single-input-form">
            <label class="label" for="job-title">JOB TITLE <span class="is-require"
                title="Require field">*</span></label>
            <input name="title" id="job-title" type="text" placeholder="Software Engineer" required />
          </div>

          <div class="single-input-form">
            <label class="label" for="phone">PHONE <span class="is-require" title="Require field">*</span></label>
            <span class="country-code-wrapper">
              <input class="country-code" type="text" value="+88">
            </span>
            <input class="pl-50" name="telephone" id="phone" type="tel" placeholder="018 6484 1998"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required />
          </div>

          <div class="single-input-form">
            <label class="label" for="company-name">COMPANY NAME <span class="is-require"
                title="Require field">*</span></label>
            <input name="company" id="company-name" type="text" placeholder="AppsCode Inc" />
          </div>
        </div>
        <div class="term-and-condition">
          <input name="tos" id="checkbox" type="checkbox" value="true" />
          <label class="checkbox" for="checkbox">
            I agree to the <a href="https://appscode.com/legal/tos/">terms and conditions</a>
          </label>
        </div>
        <button class="button ac-primary send-message">Send</button>
      </form>
    </div>
    <!-- body end  -->
  </div>
</div>
<!-- contact modal area end  -->
<!-- for modal show hide script start -->
<script type="text/javascript">
  // modal show 
  function showModal(){
    let modal = document.querySelector(".ac-modal");
    if(modal.classList.contains('is-hidden')){
      modal.classList.remove('is-hidden')
    }
  }
  // modal hide 
  function closeModal(){
    let modal = document.querySelector(".ac-modal");
    if(!(modal.classList.contains('is-hidden'))){
      modal.classList.add('is-hidden')
    }
  }
</script>
<!-- for modal show hide script end -->
<!-- assistance area start  -->
<section class="assistance-area section-padding-100">
  <div class="container section">
    <!-- section title start  -->
    <div class="columns is-centered">
      <div class="column is-8 has-text-centered">
        <div class="section-title">
          <h2>Need Help?</h2>
          <p>If you have a question, we are here to help! Don't hesitate to reach out.</p>
        </div>
      </div>
    </div>
    <!-- section title end -->

    <!-- assistance cards start  -->
    <div class="columns is-centered is-multiline assistance-card-wrapper">
      <!-- single card start  -->
      <div
        class="column is-one-quarter-fullhd is-one-third-widescreen is-half-desktop is-two-thirds-tablet is-three-full-mobile">
        <div class="single-card">
          <!-- card head start  -->
          <div class="card-head">
            <div class="ass-icon is-flex">
              <img src="/assets/images/icon/calendar-icon.svg" alt="" class="img" />
            </div>
            <div class="ass-title">Schedule <br> a Meeting</div>
          </div>
          <!-- card head end -->
          <!-- card body start  -->
          <div class="card-body">
            <p>Talk an expert about {{ $p.name }}</p>
            <!-- <a href="#" class="button is-fullwidth">Set a Meeting</a> -->
            <!-- Calendly link widget begin -->
            <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
            <a href="" class="button is-fullwidth"
              onclick="Calendly.initPopupWidget({url: 'https://calendly.com/appscode/30min'});return false;">Schedule a
              Meeting</a>
            <!-- Calendly link widget end -->
          </div>
          <!-- card body end -->
        </div>
      </div>
      <!-- single card end -->

      {{ if $p.datasheetFormID }}
      <!-- single card start  -->
      <div
        class="column is-one-quarter-fullhd is-one-third-widescreen is-half-desktop is-two-thirds-tablet is-three-full-mobile">
        <div class="single-card">
          <!-- card head start  -->
          <div class="card-head">
            <div class="ass-icon is-flex">
              <img src="/assets/images/icon/download-icon.svg" alt="" class="img" />
            </div>
            <div class="ass-title">Download <br> White Paper </div>
          </div>
          <!-- card head end -->
          <!-- card body start  -->
          <div class="card-body">
            <p>Download the {{ $p.name }} White Paper</p>
            <a href="/datasheet/" class="button is-fullwidth">Download Now</a>
          </div>
          <!-- card body end -->
        </div>
      </div>
      <!-- single card end -->
      {{ end }}

      <!-- single card start  -->
      <div
        class="column is-one-quarter-fullhd is-one-third-widescreen is-half-desktop is-two-thirds-tablet is-three-full-mobile">
        <div class="single-card">
          <!-- card head start  -->
          <div class="card-head">
            <div class="ass-icon is-flex">
              <img src="/assets/images/icon/newsletter-icon.svg" alt="" class="img" />
            </div>
            <div class="ass-title">Mailing <br> List</div>
          </div>
          <!-- card head end -->
          <!-- card body start  -->
          <div class="card-body">
            <p>Subscribe to Our Newsletter</p>
            <!-- subscription form start -->
            <div class="subscription-form">
              <form
                action="https://appscode.us17.list-manage.com/subscribe/post?u=feb2bf31969a951e7449048a3&amp;id=82fb19acb9"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="navbar-form"
                target="_blank" novalidate role="email" role="email">
                <input class="input" name="EMAIL" id="mce-EMAIL" type="email" placeholder="Your work email address"
                  required />
                <button id="mc-embedded-subscribe" type="submit" name="subscribe" class="button">
                  <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                </button>
              </form>
            </div>
            <!-- subscription form end -->
          </div>
          <!-- card body end -->
        </div>
      </div>
      <!-- single card end -->
      <!-- single card start  -->
      <div
        class="column  is-one-quarter-fullhd is-one-third-widescreen is-half-desktop is-two-thirds-tablet is-three-full-mobile">
        <div class="single-card">
          <!-- card head start  -->
          <div class="card-head">
            <div class="ass-icon is-flex">
              <img src="/assets/images/icon/document-icon.svg" alt="" class="img" />
            </div>
            <div class="ass-title">Explore <br> Docs</div>
          </div>
          <!-- card head end -->
          <!-- card body start  -->
          <div class="card-body">
            <p>Learn about {{ $p.name }} from our docs</p>
            <a href="/docs/latest/" class="button is-fullwidth">Read the Docs</a>
          </div>
          <!-- card body end -->
        </div>
      </div>
      <!-- single card end -->
    </div>
    <!-- assistance cards end -->
  </div>
</section>
<!-- assistance area end -->

<!-- faq section start  -->
<section class="features-plan-faq-area pb-100">
  <div class="container section">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="section-title has-text-centered">
          <h2>FAQ</h2>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-8">
        <!--use "is-marginless" class for remove margin -->
        <div class="ac-accordion-wrapper">
          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>Can I upgrade or downgrade anytime?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                Monthly plans are subject to a 30 day minimum term.
                Monthly plans can be upgraded anytime.
                Annual plans can be downgraded at the end of the term.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->

          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>Is my payment information safe?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                Our payment processing is powerd by
                <a href="https://stripe.com" class="ac-primary-color">Stripe</a>.
                You credit card data never touches our servers. For more information,
                please visit <a target="_blank" href="https://stripe.com" class="ac-primary-color">stripe.com</a>.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->

          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>Do you have any cancellation fee?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                There is no cancellation fee. But plans are subject to minimum duration as stated above.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->

          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>What types of payment do you accept?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                We accept all popular credit/debit cards such as Visa, Mastercard, American Express,
                Discover, etc. We also accept ACH debit/credit.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->
        </div>

      </div>
    </div>
  </div>
</section>
<!-- faq section end  -->

<script type="text/javascript">
  let ctaEnterprise = document.querySelector('.single-cta.enterprise');
  let switchBtn = ctaEnterprise.querySelector('.switch-buttons');
  switchBtn.addEventListener('click', function () {
    let switchBG = switchBtn.querySelector('.is-active-bg');
    // toggle active bg color 
    switchBG.classList.toggle('left-50');

    // selected tag
    let enterpriseTitle = ctaEnterprise.querySelector('h3');
    let enterpriseDescription = ctaEnterprise.querySelector('p.description');
    let trialBtn = ctaEnterprise.querySelector('.kubedb-cloud-btns .trial-btn');
    let talkBtn = ctaEnterprise.querySelector('.kubedb-cloud-btns .talk-btn');
    let featuresArea = document.querySelector('.single-features-area');

    if (switchBG.classList.contains('left-50')) {
      setTimeout(() => {
        enterpriseTitle.innerHTML = 'KubeDB Cloud';
        enterpriseDescription.innerHTML = 'Something here';
        trialBtn.innerHTML = 'Trial 30days';
        trialBtn.href = 'http://14-days-trial-url';
        talkBtn.innerHTML = 'Send Message';
        talkBtn.href = 'http://send-message-url';
        featuresArea.classList.add('active-kubedb-cloud');
        switchBtn.classList.add('change-color');
      }, 200);
    } else {
      setTimeout(() => {
        enterpriseTitle.innerHTML = 'KubeDB On-prem';
        enterpriseDescription.innerHTML = 'Open Core KubeDB for production databases';
        trialBtn.innerHTML = 'Start a free 14-day trial';
        trialBtn.href = 'http://30-days-trial-url';
        talkBtn.innerHTML = 'Talk to sales';
        trialBtn.href = 'http://talk-to-sale-url';
        featuresArea.classList.remove('active-kubedb-cloud');
        switchBtn.classList.remove('change-color');
      }, 200);
    }
  })
</script>
{{ end }}