{{ define "main" }}
<!-- hero area for page start -->
<section class="hero-area support-page">
  <div class="container section">
    <div class="columns">
      <div class="column is-6">
        <!-- hero content start -->
        <div class="hero-area-content d-table pr-115">
          <div class="hero-content-inner d-table-cell">
            <h1>
              Choose best plan for take <br />
              your business to the next level
            </h1>
            <p>
              Lorem Ipsum is simply dummy text of the printing and it is
              typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever.scrambled it to make a type specimen book.
            </p>
          </div>
        </div>
        <!-- hero content end -->
      </div>
      <div class="column is-6">
        <div class="hero-area-img">
          <img
            src="/assets/images/support-page/support-img.png"
            alt=""
            class="img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero area for page end -->

<!-- pricing plan start -->
<section class="pricing-plan-area section-padding support-page">
  <div class="container section">
    <div class="columns">
      <div class="column has-text-centered">
        <!-- section title start -->
        <div class="section-title">
          <h2>Pricing Plan</h2>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece
          </p>
        </div>
        <!-- section title end -->
      </div>
    </div>
  </div>
  <div class="container section">
    <div class="columns is-variable is-0">
      <!-- pricing column start -->
      <div class="column">
        <div class="single-pricing-table details">
          <!-- pricing body start -->
          <div class="pricing-body">
            <!-- pricing content -->
            <ul>
              <li><span>Cluster</span></li>
              <li>
                <span>Community <br />support</span>
              </li>
              <li><span>Response Times</span></li>
              <li>
                <span
                  >Emergency patches <br />
                  (at most weekly)</span
                >
              </li>
              <li><span>Unlimited Incidents</span></li>
              <li><span>Contacts for Ticketing</span></li>
              <li>
                <span>Remote Hands <br />(Debug via Zoom)</span>
              </li>
              <li><span>Production Runbook</span></li>
              <li><span>Dedicated Private chat (Discord)</span></li>
              <li><span>Managed Upgrades</span></li>
              <li><span>Professional Services</span></li>
            </ul>
            <!-- pricing content -->
          </div>
          <!-- pricing body end -->
        </div>
      </div>
      <!-- pricing column end -->
      <!-- pricing column start -->
      <div class="column has-text-centered">
        <div class="single-pricing-table free">
          <!-- pricing heading start -->
          <div class="pricing-heading">
            <!-- pricing title start -->
            <div class="pricing-top kd-green">
              <h4>Community</h4>
              <div class="package-price">Free</div>
            </div>
            <!-- pricing title end -->

            <!-- pricing button start -->
            <div class="pricing-button">
              <a href="#" class="button kd-button kd-green">Try Now FREE</a>
            </div>
            <!-- pricing button end -->
          </div>
          <!-- pricing heading end -->

          <!-- pricing body start -->
          <div class="pricing-body">
            <!-- pricing content -->
            <ul>
              <li data-col_name="Cluster"><span>X</span></li>
              <li data-col_name="Community support">
                <span
                  >Included <br />
                  (Slack & GitHub issues)</span
                >
              </li>
              <li data-col_name="Response Time"><span>X</span></li>
              <li data-col_name="Emergency patches (at most weekly)">
                <span>X</span>
              </li>
              <li data-col_name="Unlimited Incidents"><span>X</span></li>
              <li data-col_name="Contacts for Ticketing"><span>X</span></li>
              <li data-col_name="Remote Hands (Debug via Zoom)">
                <span>X</span>
              </li>
              <li data-col_name="Production Runbook"><span>X</span></li>
              <li data-col_name="Dedicated Private chat (Discord)">
                <span>X</span>
              </li>
              <li data-col_name="Managed Upgrades"><span>X</span></li>
              <li data-col_name="Professional Services"><span>X</span></li>
            </ul>
            <!-- pricing content -->
            <!-- pricing button start -->
            <div class="pricing-button">
              <a href="#" class="button kd-button kd-green">Buy Now</a>
            </div>
            <!-- pricing button end -->
          </div>
          <!-- pricing body end -->
        </div>
      </div>
      <!-- pricing column end -->
      <!-- pricing column start -->
      <div class="column has-text-centered">
        <div class="single-pricing-table silver">
          <!-- pricing heading start -->
          <div class="pricing-heading">
            <!-- pricing title start -->
            <div class="pricing-top">
              <h4>Silver</h4>
              <div class="package-price">$220 <span>Per cluster</span></div>
            </div>
            <!-- pricing title end -->

            <!-- pricing type start -->
            <div class="pricing-type">
              <div class="control">
                <div class="select is-multiple custom-arrow-down">
                  <select>
                    <option>Annual plan, paid monthly</option>
                    <option>With options</option>
                    <option>With options 2</option>
                    <option>With options 3</option>
                    <option>With options 4</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- pricing type end -->

            <!-- pricing button start -->
            <div class="pricing-button">
              <a href="#" class="button kd-button kd-primary">Buy Now</a>
            </div>
            <!-- pricing button end -->
          </div>
          <!-- pricing heading end -->

          <!-- pricing body start -->
          <div class="pricing-body">
            <!-- pricing content -->
            <ul>
              <li data-col_name="Cluster"><span> One cluster</span></li>
              <li data-col_name="Community support">
                <span>
                  Included <br />
                  (Slack & GitHub issues)</span
                >
              </li>
              <li data-col_name="Response Time">
                <span> 2 business days</span>
              </li>
              <li data-col_name="Emergency patches (at most weekly)">
                <span> Included</span>
              </li>
              <li data-col_name="Unlimited Incidents"><span> Yes</span></li>
              <li data-col_name="Contacts for Ticketing"><span> 1</span></li>
              <li data-col_name="Remote Hands (Debug via Zoom)">
                <span> Available via calendar <br />reservation</span>
              </li>
              <li data-col_name="Production Runbook"><span> No</span></li>
              <li data-col_name="Dedicated Private chat (Discord)">
                <span> Yes</span>
              </li>
              <li data-col_name="Managed Upgrades">
                <span> Additional fee</span>
              </li>
              <li data-col_name="Professional Services">
                <span> Additional fee</span>
              </li>
            </ul>
            <!-- pricing content -->
            <!-- pricing button start -->
            <div class="pricing-button">
              <a href="#" class="button kd-button kd-primary">Buy Now</a>
            </div>
            <!-- pricing button end -->
          </div>
          <!-- pricing body end -->
        </div>
      </div>
      <!-- pricing column end -->
      <!-- pricing column start -->
      <div class="column has-text-centered">
        <div class="single-pricing-table gold">
          <!-- pricing heading start -->
          <div class="pricing-heading">
            <!-- pricing title start -->
            <div class="pricing-top kd-orange">
              <h4>Gold</h4>
              <div class="package-price">$120</div>
            </div>
            <!-- pricing title end -->

            <!-- pricing button start -->
            <div class="pricing-button">
              <a href="#" class="button kd-button kd-orange">Contact Sales</a>
            </div>
            <!-- pricing button end -->
          </div>
          <!-- pricing heading end -->

          <!-- pricing body start -->
          <div class="pricing-body">
            <!-- pricing content -->
            <ul>
              <li data-col_name="Cluster"><span>One cluster</span></li>
              <li data-col_name="Community support">
                <span>Critical: 4 hrs L2: 1 day</span>
              </li>
              <li data-col_name="Response Time">
                <span>Business hours M-F: 9-5pm</span>
              </li>
              <li data-col_name="Emergency patches (at most weekly)">
                <span>Included</span>
              </li>
              <li data-col_name="Unlimited Incidents"><span>Yes</span></li>
              <li data-col_name="Contacts for Ticketing"><span>5</span></li>
              <li data-col_name="Remote Hands (Debug via Zoom)">
                <span>Included</span>
              </li>
              <li data-col_name="Production Runbook"><span>Yes</span></li>
              <li data-col_name="Dedicated Private chat (Discord)">
                <span>Yes</span>
              </li>
              <li data-col_name="Managed Upgrades">
                <span> Additional fee</span>
              </li>
              <li data-col_name="Professional Services">
                <span> Additional fee</span>
              </li>
            </ul>
            <!-- pricing content -->
            <!-- pricing button start -->
            <div class="pricing-button">
              <a href="#" class="button kd-button kd-orange">Contact Sales</a>
            </div>
            <!-- pricing button end -->
          </div>
          <!-- pricing body end -->
        </div>
      </div>
      <!-- pricing column end -->
      <!-- pricing column start -->
      <div class="column has-text-centered">
        <div class="single-pricing-table plutinum">
          <!-- pricing heading start -->
          <div class="pricing-heading">
            <!-- pricing title start -->
            <div class="pricing-top kd-red">
              <h4>Platinum</h4>
              <div class="package-price">$500</div>
            </div>
            <!-- pricing title end -->

            <!-- pricing button start -->
            <div class="pricing-button">
              <a href="#" class="button kd-button kd-red">Contact Sales</a>
            </div>
            <!-- pricing button end -->
          </div>
          <!-- pricing heading end -->

          <!-- pricing body start -->
          <div class="pricing-body">
            <!-- pricing content -->
            <ul>
              <li data-col_name="Cluster"><span>One cluster</span></li>
              <li data-col_name="Community support">
                <span>Critical: 4 hrs L2: 1 day</span>
              </li>
              <li data-col_name="Response Time">
                <span>Business hours M-F: 9-5pm</span>
              </li>
              <li data-col_name="Emergency patches (at most weekly)">
                <span>Included</span>
              </li>
              <li data-col_name="Unlimited Incidents"><span>Yes</span></li>
              <li data-col_name="Contacts for Ticketing"><span>5</span></li>
              <li data-col_name="Remote Hands (Debug via Zoom)">
                <span>Included</span>
              </li>
              <li data-col_name="Production Runbook"><span>Yes</span></li>
              <li data-col_name="Dedicated Private chat (Discord)">
                <span>Yes</span>
              </li>
              <li data-col_name="Managed Upgrades">
                <span> Additional fee</span>
              </li>
              <li data-col_name="Professional Services">
                <span> Additional fee</span>
              </li>
            </ul>
            <!-- pricing content -->
            <!-- pricing button start -->
            <div class="pricing-button">
              <a href="#" class="button kd-button kd-red">Contact Sales</a>
            </div>
            <!-- pricing button end -->
          </div>
          <!-- pricing body end -->
        </div>
      </div>
      <!-- pricing column end -->
    </div>
  </div>
</section>
<!-- pricing plan end -->

<!-- payment method area start -->
<section class="payment-method-area section-padding">
  <div class="container section">
    <div class="columns">
      <div class="column is-4 is-offset-1">
        <div class="payment-methode-innner-text pr-140">
          <h2>Payment Method</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and it is
            typesetting industry has been dummy.
          </p>
        </div>
      </div>
      <div class="column is-6 is-offset-1">
        <div class="image-wrapper d-table">
          <div class="payment-option-image d-table-cell">
            <div class="single-payment-methode">
              <img
                src="/assets/images/payment-methode/american.png"
                alt=""
                class="img"
              />
            </div>
            <div class="single-payment-methode">
              <img
                src="/assets/images/payment-methode/mastercard.png"
                alt=""
                class="img"
              />
            </div>
            <div class="single-payment-methode">
              <img
                src="/assets/images/payment-methode/paypal.png"
                alt=""
                class="img"
              />
            </div>
            <div class="single-payment-methode">
              <img
                src="/assets/images/payment-methode/visa.png"
                alt=""
                class="img"
              />
            </div>
            <div class="single-payment-methode">
              <img
                src="/assets/images/payment-methode/western-union.png"
                alt=""
                class="img"
              />
            </div>
            <div class="single-payment-methode">
              <img
                src="/assets/images/payment-methode/worldpay.png"
                alt=""
                class="img"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- payment method area end -->

<!-- faq area start -->
<section class="faq-area section-padding pb-0">
  <div class="container section">
    <div class="columns">
      <div class="column has-text-centered">
        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-5 is-offset-1">
        <div class="faq-image">
          <img src="/assets/images/support-page/faq.png" alt="" class="img" />
        </div>
      </div>
      <div class="column is-5 is-offset-1">
        <div class="faq-content">
          <!-- faq content start -->
          <div class="accordion">
            <div class="accordion-item active">
              <div class="accordion-header">
                <h2>Can I upgrade or downgrade anytime?</h2>
              </div>
              <div class="accordion-body">
                <p>
                  Lorem Ipsum has been is the one industry's standard dummy text
                  ever. Scrambled it
                </p>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header">
                <h2>Is my data safe?</h2>
              </div>
              <div class="accordion-body">
                <p>
                  lore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.
                </p>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header">
                <h2>Do you have any cancellation fees?</h2>
              </div>
              <div class="accordion-body">
                <p>
                  labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                  nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat.
                </p>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header">
                <h2>Who owns my data?</h2>
              </div>
              <div class="accordion-body">
                <p>
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat.
                </p>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header">
                <h2>What types of payment do you accept?</h2>
              </div>
              <div class="accordion-body">
                <p>
                  abore et dolore magna aliqua. Ut enim ad minim veniam, quis
                  nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat.
                </p>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header">
                <h2>
                  Can I sign up for QUBEdb without the Omnichannel features?
                </h2>
              </div>
              <div class="accordion-body">
                <p>
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
          <!-- faq content end -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- faq area end -->
{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}
