{{ $data := . }}
{{ with $data }}
<section id="partner-form" class="section-padding has-background-white">
  <div class="container">
    <div class="has-max-width-lg mx-auto">

      <div class="section-header has-text-centered mb-10">
        <h2 class="section-header-title has-text-weight-black is-size-2-desktop has-tracking-tighter">Ready to become a partner? <br> Join our program today and start earning!</h2>
      </div>

      <div class="form-content">
        <script src='https://appscode.freshworks.com/crm/sales/web_forms/8cba8c35285047f6bbc4641701ef8c2f96e2fa0908f9dea70bbc2729dd75c786/form.js' crossorigin='anonymous' id='fs_8cba8c35285047f6bbc4641701ef8c2f96e2fa0908f9dea70bbc2729dd75c786'></script>
      </div>

    </div>
  </div>
</section>
{{ end }}
