/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1087px) {
    .single-db-logo {
        margin: 10px;
        padding: 10px;
        display: inline-block;
    }

    .db-logo-area {
        padding: 0;
    }

    .section-padding {
        padding: 60px 0
    }

    .main-menu a {
        padding: 5px 0;
    }

    .main-menu {
        padding: 20px;
    }

    .main-menu-button .button {
        padding: 6px 20px;
    }

    .navbar-item {
        padding: 5px 0 0;
    }

    .kd-tranparent-btn {
        padding: 0;
        margin: 0;
        font-size: 14px;
    }

    .kd-button {
        padding: 10px 30px;
        margin: 0;
        height: auto;
        font-size: 14px;
    }

    /* support page pricing table style */
    .pricing-heading{
        padding: 20px 15px;
    }
    .pricing-body li{
        font-size: 13px;
    }

   
}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .section-padding {
        padding: 60px 0
    }

    .main-menu a {
        padding: 5px 0;
    }
    .buttons .button:not(:last-child):not(.is-fullwidth){
        margin-right: 0;
    }
    .main-menu {
        padding: 20px;
    }

    .main-menu-button .button {
        padding: 6px 20px;
    }

    .navbar-item {
        padding: 5px 0 0;
    }

    .kd-tranparent-btn {
        padding: 0;
        margin: 0;
        font-size: 14px;
    }

    .kd-button {
        padding: 10px 30px;
        margin: 0;
        height: auto;
        font-size: 14px;
    }

    .single-db-logo {
        margin: 10px !important;
        padding: 10px;

    }

    .db-logo-area {
        overflow: hidden;
        padding: 10px;
    }
    /* support page pricing table style */
    .pricing-heading{
        padding: 20px 0px;
    }
    .pricing-body li{
        font-size: 13px;
    }

}


/* small mobile :320px. */
@media (max-width: 767px) {}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .navbar-brand .navbar-item {
        padding: 0;
    }

    .main-menu a {
        padding: 5px 0;
    }

    .main-menu {
        padding: 20px;
    }

    .main-menu-button .button {
        padding: 6px 20px;
    }
    .buttons .button:not(:last-child):not(.is-fullwidth){
        margin-right: 0;
    }
    .navbar-item {
        padding: 5px 0 0;
    }

    .hero-area-button {
        margin-top: 20px;
    }

    .hero-content-inner h1 {
        font-size: 31px;
        line-height: 45px;
    }

    .hero-content-inner h4 {
        margin-bottom: 10px;
    }

    .kd-tranparent-btn {
        padding: 0;
        margin: 0;
        font-size: 14px;
    }

    .kd-button {
        padding: 10px 30px;
        margin: 0;
        height: auto;
        font-size: 14px;
    }

    .hero-area {
        padding: 50px 0;
    }
    .hero-area-img{
        position: initial;
    }
    .hero-area-img img {
        position: absolute;
        top: 0;
        opacity: 0.1;
        max-width: 400px;
        right: 0;
    }

    .feature-video {
        padding: 100px;
        margin-bottom: 20px;
    }

    .section-padding {
        padding: 30px 0;
    }

    .feature-area .feature-content {
        padding: 0;
    }

    .feature-content h2 {
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .feature-content p {
        margin-bottom: 15px;
    }

    .db-logo-area {
        padding: 0;
        overflow: hidden;
    }

    .single-db-logo {
        box-shadow: none !important;
        border: 1px solid #EBEBEB !important;
        padding: 10px;
        margin: 10px 0 !important;
        width: auto;
        margin-right: 10px !important;
        max-height: 70px;
    }

    .section-title h2 {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .carousel-wrapper {
        padding: 30px 15px;
    }

    .cta-padding {
        padding: 20px;
    }

    .cta-text h2 {
        font-size: 25px;
    }

    .cta-text p {
        font-size: 18px;
        margin: 0;
    }

    .footer-menu h4 {
        margin-bottom: 0px;
    }
/* ==============================================
    Support Page Responsive Code
 ==============================================*/
     /* Pricing table style */
     .pricing-body li:before {
        content: attr(data-col_name);
        position: relative;
        display: block;
        float: left;
        width: 50%;
        text-align: left;
        font-weight: 500;
        font-size: 14px;
    }
    .pricing-body li{
        display: inline-block;
        text-align: left;
        font-size: 14px;
        height: auto;
    }
    .pricing-body li span:before {
        content: ": ";
        margin-right: 15px;
    }
    .single-pricing-table.details .pricing-body{
        display: none;
    }
    .pricing-type .select select{
        width: 100%;
    }
    .single-pricing-table .pricing-body{
        border: 1px solid #DEDEDE !important;
        border-radius: 8px;
    }
    .pricing-body{
        margin-bottom: 20px !important;
    }
    .single-pricing-table.free, .single-pricing-table.gold, .single-pricing-table.plutinum{
        margin-top: 0;
    }
    .payment-method-area{
        margin-top: 0;
    }
    .single-payment-methode {
        margin: 0;
        padding: 15px;
    }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .section-padding {
        padding: 60px 0;
    }

    .has-text-right.is-mobile {
        text-align: left !important;
    }

    .is-mobile.has-text-centered {
        text-align: left !important;
    }

    .navbar-brand .navbar-item {
        padding: 0;
    }

    .main-menu a {
        padding: 5px 0;
    }

    .main-menu {
        padding: 20px;
    }

    .main-menu-button .button {
        padding: 6px 20px;
    }

    .navbar-item {
        padding: 5px 0 0;
    }
    .buttons .button:not(:last-child):not(.is-fullwidth){
        margin-right: 0;
    }
    .hero-area-button {
        margin-top: 20px;
    }
 
    .hero-content-inner h1 {
        font-size: 31px;
        line-height: 45px !important;
    }

    .hero-content-inner h4 {
        margin-bottom: 10px;
    }

    .kd-tranparent-btn {
        padding: 0;
        margin: 0;
        font-size: 14px;
    }

    .kd-button {
        padding: 10px 30px;
        margin: 0;
        height: auto;
        font-size: 14px;
    }

    .hero-area {
        padding: 0;
    }
    .hero-area-img{
        position: initial;
    }

    .hero-area-img img {
        position: absolute;
        top: 0;
        opacity: 0.1;
        max-width: 400px;
        right: 0;
        z-index: -1;
    }

    .feature-area .feature-content {
        padding: 0;
    }

    .feature-content h2 {
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .feature-content p {
        margin-bottom: 15px;
    }

    .db-logo-area {
        padding: 0;
        overflow: hidden;
    }

    .single-db-logo {
        box-shadow: none !important;
        border: 1px solid #EBEBEB !important;
        padding: 10px;
        margin: 10px 0 !important;
        width: 100%;
    }

    .section-title h2 {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .carousel-wrapper {
        padding: 30px 15px;
    }

    .cta-padding {
        padding: 20px;
    }

    .cta-text h2 {
        font-size: 25px;
    }

    .cta-text p {
        font-size: 18px;
        margin: 0;
    }

    .footer-menu h4 {
        margin-bottom: 0px;
    }



/* ============================================
        Feature Page Responsive Code
============================================*/
    .hero-features {
        min-height: auto;
        padding: 70px 0;
    }

    .pr-140 {
        padding-right: 0;
    }

    .pr-45 {
        padding-right: 0;
    }

/* ==============================================
    Support Page Responsive Code
==============================================*/
     /* Pricing table style */
     .pricing-body li:before {
        content: attr(data-col_name);
        position: relative;
        display: block;
        float: left;
        width: 50%;
        text-align: left;
        font-weight: 500;
        font-size: 14px;
    }
    .pricing-body li{
        display: inline-block;
        text-align: left;
        font-size: 14px;
        height: auto;
    }
    .pricing-body li span:before {
        content: ": ";
        margin-right: 15px;
    }
    .single-pricing-table.details .pricing-body{
        display: none;
    }
    .pricing-type .select select{
        width: 100%;
    }

    .single-pricing-table .pricing-body{
        border: 1px solid #DEDEDE !important;
        border-radius: 8px;
    }
    .pricing-body{
        margin-bottom: 20px !important;
    }
    .single-pricing-table.free, .single-pricing-table.gold, .single-pricing-table.plutinum{
        margin-top: 0;
    }
    .payment-method-area{
        margin-top: 0;
    }
    .single-payment-methode {
        margin: 0;
        padding: 15px;
    }
    .hero-area-content.pr-115 {
        padding-right: 0;
    }
}
