.button {
  &.ac-button {
    border-radius: 2px;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid $ac-primary;
    color: $ac-primary;
    &.is-primary{
      background-color: $ac-primary;
    }
    &.is-secondary {
      background: $green-color;
      color: #fff;
      &:hover{
        background-color: darken($green-color, 0.2%);
      }
    }
  }
}