.cta-area {
  margin-top: -125px;
  .cta-area-inner {
    padding: 20px 50px;
    background-image: url(/assets/images/bg-image/cta-area-bg.png);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    height: 250px;
    display: flex;
    align-items: center;
    h3 {
      color: $ac-white;
      margin-bottom: 1rem;
    }
    p {
      color: $ac-white;
    }
  }
}

/****************************************
Responsive Classes
*****************************************/
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 767.98px) {
  .cta-area {
    .cta-area-inner {
      height: auto !important;
      padding: 30px 15px;
      h3 {
        font-size: 22px;
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px) {
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
