.footer-area {
  margin-top: 60px;
  position: relative;
  z-index: 1;
  &:after {
   position: absolute;
   content: "";
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   @extend .decorative-el-large;
  }
 }
 .single-footer-widget {
   .footer-logo {
     max-width: 160px;
   }
 }
 
 .subscription-form {
   margin-top: 10px;
   label {
     font-size: 18px;
     font-weight: 600;
     display: block;
     font-family: $ac-font-heading;
   }
 
   input {
     background: rgba(255,255,255, 0.2);
     border: 1px solid rgba(255,255,255, 0.3);
     box-shadow: none;
     font-size: 16px;
     border-radius: 4px;
     padding: 8px 50px 8px 10px;
     height: 40px;
     position: relative;
     z-index: 1;
     &::placeholder {
       color: #ADB2B0;
     }
     &:focus {
       border: 1px solid $ac-primary;
     }
   }
 
   .button {
     font-family: $color-link;
     color: $ac-primary;
     font-size: 16px;
     height: 40px;
     box-shadow: none;
     transition: 0.3s ease-in-out;
     cursor: pointer;
     border: 1px solid transparent;
     position: absolute;
     top: 0;
     right: 0;
     z-index: 9 !important;
     background: transparent;
 
     &:hover {
       background-color: $ac-primary;
       color: $ac-white !important;
       outline: none;
       box-shadow: none;
     }
   }
 }
 
 .contact-information {
   margin-top: 28px;
 
   h4 {
     font-size: 18px;
     color: $color-heading;
   }
 }
 
 .all-contact-info li a,
 p.spam-message {
   color: $color-text;
   display: inline-block;
   font-size: 14px;
   font-family: $ac-font-paragraph;
   padding: 5px 0;
 }
 
 .all-contact-info {
   li {
     a {
       span {
         padding-right: 10px;
       }
     }
   }
 }
 
 .footer-menu {
   label {
     font-size: 18px;
     margin-bottom: 4px;
     font-weight: 500;
   }
 }
 
 .footer-link {
   li {
     a {
       color: #D4D6D5;
       font-size: 14px;
       display: block;
       padding: 8px 0;
       transition: 0.3s linear;
 
       &:last-child {
         padding-bottom: 0;
       }
 
       &:hover {
         color: $ac-primary;
         padding-left: 5px;
       }
     }
   }
 }
 
 .footer-top {
   padding: 50px 0 30px 0;
   border-bottom: 1px solid rgba(255,255,255, 0.1);
 }
 
 .footer-bottom {
   padding: 30px 0;
 
   p {
     font-size: 14px;
     color: $color-text;
     margin-bottom: 0;
   }
 }
 
 .footer-inline-link {
   a {
     color: $color-link;
     font-size: 14px;
     margin-right: 30px;
     transition: 0.3s ease-in-out;
 
     &:hover {
       color: $ac-primary;
     }
 
     &:last-child {
       margin-right: 0;
     }
   }
 }
 
 .socail-link-inline {
   li {
     margin-right: 10px;
     display: inline-block;
 
     a{
       color: #8a8a8a;
       font-size: 14px;
       display: inline-block;
       width: 30px;
       height: 30px;
       text-align: center;
       line-height: 30px;
       border: 1px solid #8a8a8a;
       border-radius: 50%;
       transition: 0.3s ease-in-out;
 
       &:hover {
         background: $ac-primary;
         color: $ac-white;
         border: 1px solid transparent;
       }
     }
 
     &:last-child {
       margin-right: 0;
     }
   }
 }
 
 /****************************************
 Responsive Classes
 *****************************************/
 @include mobile {
   .footer-area {
     .footer-top {
       // padding-top: 0;
       .is-1-mobile {
         .column {
           padding: 0.25rem;
         }
       }
     }
     .single-footer-widget {
       height: 100%;
       .footer-logo {
         margin: 0 auto;
       }
       .subscription-form {
         text-align: center;
       }
       .field.has-addons {
         justify-content: center;
       }
     }
     .footer-menu {
       background-color: #4d4dcb0d;
       height: 100%;
       padding: 20px 5px;
       border-radius: 4px;
       &.is-info {
         background-color: #0aafff2e;
       }
       &.is-danger {
         background-color: #ea3d2f24;
       }
       &.is-warning {
         background: #f7ad2a36;
       }
       &.is-success {
         background-color: #27b06430;
       }
       h4 {
         margin-bottom: 0;
       }
     }
     .contact-information {
       text-align: center;
     }
   }
   .footer-inline-link {
     padding: 10px 0;
   }
   .footer-bottom {
     padding: 20px 0;
   }
 }