// new navbar area start
.navbar-area {
  position: relative;
  z-index: 99;
  background-color: $ac-white;
}

.navbar-appscode-wrapper {
  background-color: $ac-white;
  border-bottom: 1px solid $ac-white-light;

  &.navbar-product {
    background-color: #fafafd;
    will-change: transform;
    transition: transform 200ms linear;

    .mega-menu-wrapper {
      top: 57px;
    }

    .navbar-left {
      .navbar-brand {
        a img {
          height: 1.58rem;
        }
      }
    }

    .buttons.has-addons {
      .button {
        font-size: 14px;
      }
    }
  }
}

.navbar-appscode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.25rem;

  &.container {
    padding: 0.5rem 0;

    .mega-menu-wrapper {
      width: calc(100% + 100%);
      left: -50%;
    }
  }

  &.documentation-menu {
    margin-left: 349px;
    background-color: $ac-white;
    border-left: 1px solid $ac-white-light;

    .mega-menu-wrapper {
      top: 104px;
    }

    .navbar-right {
      width: 100%;
      justify-content: space-between;

      .ac-searchbar {
        width: 49%;
      }
    }

    ul {
      .nav-item {
        .link {
          &.is-active {
            position: relative;
            z-index: 1;

            &:after {
              position: absolute;
              content: "";
              left: 0;
              bottom: -8px;
              width: 100%;
              height: 4px;
              background: $ac-primary;
              border-radius: 3px 3px 0 0;
            }
          }
        }
      }
    }
  }

  .navbar-left {
    display: flex;
    align-items: center;

    .navbar-brand {
      min-height: auto;
      align-items: center;
      margin-right: 3.8rem;

      a {
        display: flex;
        align-items: center;

        img {
          height: 1.875rem;
        }
      }
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;
    width: calc(100% - 200px);
    justify-content: flex-end;

    .button {
      margin-left: 2.5rem;
    }
  }

  ul {
    .nav-item {
      margin-right: 2.5rem;

      &.is-active {
        .link {
          color: $ac-primary;

          i.fa {
            transform: rotate(-180deg);
          }
        }

        .mega-menu-wrapper {
          display: block !important;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      .link {
        font-size: 0.875rem;
        line-height: 1;
        color: $ac-color-heading;
        font-weight: 500;
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin: 0;
        padding: 0.5rem 0;
        transition: 0.3s ease-in-out;
        position: relative;
        z-index: 1;

        &.is-active {
          color: $ac-primary;
        }

        &:hover {
          color: $ac-primary;
        }

        .fa {
          transition: 0.3s ease-in-out;
          margin-left: 0.625rem;
        }

        .whats-new {
          position: absolute;
          z-index: 1;
          top: -0.5rem;
          right: -2.5rem;
          font-size: 0.8rem;
          color: $ac-white;
          padding: 0.2rem 0.3rem;
          line-height: 1.2;
          display: none;

          &:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: block;
            width: 2rem;
            height: 1rem;
            background: $ac-primary;
            border-radius: 2px;
            animation: pulse-border 1500ms ease-out infinite;
          }

          &:after {
            content: "";
            position: absolute;
            z-index: -1;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: block;
            width: 2rem;
            height: 1rem;
            background: $ac-primary;
            transition: all 200ms;
          }

          @keyframes pulse-border {
            0% {
              transform: translateX(-50%) translateY(-50%) translateZ(0)
                scale(1);
              opacity: 1;
            }

            100% {
              transform: translateX(-50%) translateY(-50%) translateZ(0)
                scale(1.5);
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

.ac-grid-container {
  max-width: 1344px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

// new navbar area end

.mega-menu-wrapper {
  display: none;
  background: $ac-white;
  position: absolute;
  z-index: 9;
  min-width: 300px;
  padding: 2.5rem 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 61px;

  .mega-menu-inner {
    overflow: hidden;

    // product menu start
    .product-menu {
      display: grid;
      grid-template-columns: auto auto;
      width: 60%;
      float: left;

      &.database-list {
        grid-template-columns: auto auto auto;

        .single-product {
          grid-template-columns: 40px auto 1.5rem;
          width: 100%;
          padding: 0.7rem;

          .product-logo {
            height: 40px;
            width: 40px;

            img {
              height: 1.5rem;
            }
          }

          .navigate-icon {
            .material-icons {
              font-size: 1rem;
            }
          }
        }
      }

      .single-product {
        display: grid;
        grid-template-columns: 3.75rem auto 1.5rem;
        padding: 1rem;
        align-items: center;
        width: 100%;
        grid-gap: 1rem;
        border-radius: 0.25rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:hover,
        &.is-active {
          background-color: #4d4dcb0d;

          .navigate-icon {
            .material-icons {
              opacity: 1;
              visibility: visible;
            }
          }
        }

        .product-logo {
          height: 60px;
          width: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #e9e9fc;
          border-radius: 0.25rem;

          img {
            height: 2.5rem;
          }
        }

        .product-info {
          h6 {
            font-size: 1rem;
            letter-spacing: 0.009rem;
            color: $ac-color-heading;
            font-weight: 500;
          }

          p {
            font-size: 0.813rem;
            color: #636363;
            line-height: 140%;
            letter-spacing: 0.025rem;
          }
        }

        .navigate-icon {
          text-align: right;
          display: flex;
          justify-content: center;
          align-items: center;

          .material-icons {
            font-size: 1.2rem;
            color: $ac-primary;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }

    // product menu end

    // description start
    .product-description {
      margin-left: 1rem;
      float: left;
      border-left: 1px solid $ac-white-light;
      padding-left: 4rem;
      max-width: 36%;
      opacity: 0;
      display: none;
      visibility: hidden;
      transition: 0.3s ease-in-out;

      &.is-block {
        opacity: 1;
        visibility: visible;
      }

      .brand {
        margin-bottom: 1rem;

        img {
          height: 1.5rem;
        }
      }

      p {
        font-size: 0.875rem;
        color: $ac-color-text;
        line-height: 160%;
        margin-bottom: 1rem;
      }

      .features {
        li {
          font-size: 0.813rem;
          color: $ac-color-heading;
          display: flex;
          align-items: center;
          margin-bottom: 15px;

          .material-icons {
            font-size: 1rem;
            margin-right: 0.6rem;
            color: $ac-primary;
          }
        }
      }
    }

    // description end
  }
}

.back-button {
  display: none !important;
  color: $ac-color-text;
  margin-bottom: 10px !important;
  background-color: transparent;
}

// inline button start
.button {
  &.ac-button {
    &.inline-button {
      border: none;
      height: auto;
      margin: 0;
      padding: 0.5rem 0;

      display: inline-flex;
      align-items: center;
      justify-content: flex-start;

      &:hover {
        background-color: transparent;
        border: none;
        color: $ac-primary;

        .material-icons {
          margin-left: 1rem;
        }
      }

      .material-icons {
        font-size: 1rem;
        margin-left: 0.5rem;
        transition: 0.3s ease-in-out;
      }
    }
  }
}

// open source menu start
.linkable-nav-items {
  width: 500px;
  float: left;

  ul {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.5rem;

    li {
      width: 250px;

      a {
        display: inline-flex;
        align-items: center;
        font-size: 0.875rem;
        letter-spacing: 0.009rem;
        color: $ac-color-heading;
        font-weight: 500;
        transition: 0.3s;
        padding-left: 0;

        &:hover {
          color: $ac-primary;

          span {
            &:last-child {
              padding-left: 1rem;
            }
          }
        }

        span {
          display: flex;
          align-items: center;
          font-size: 1rem;

          &:last-child {
            padding-left: 0.5rem;
          }

          img {
            height: 1rem;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

.resources-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2rem;

  .list-items {
    h6 {
      font-weight: 400;
      position: relative;
      font-size: 0.875rem;
      z-index: 1;
      margin-bottom: 1.5rem;
      display: inline-block;
      letter-spacing: 1.2px;

      // &:after {
      //   position: absolute;
      //   content: "";
      //   left: 0;
      //   bottom: 0;
      //   width: 50%;
      //   height: 2px;
      //   background-color: $ac-primary;
      // }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        a {
          font-size: 0.875rem;
          padding: 0.6rem 0;
          color: $ac-color-heading;
          display: inline-block;
          line-height: 1;
          transition: 0.3s ease-in-out;
          font-weight: 500;

          &:hover {
            color: $ac-primary;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.press-wrapper {
  .single-press {
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    transition: 0.3s;

    &:hover {
      h6 {
        color: $ac-primary;
      }
    }

    .calender {
      text-align: center;
      height: 90px;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      margin-right: 1rem;
      border-radius: 4px;

      .date {
        width: 84px;
        height: 45px;
        background-color: #9dffcd;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 140%;
        letter-spacing: 0.4px;
        color: $ac-primary;
        align-items: center;
        display: flex;
        justify-content: center;
      }

      .month {
        width: 84px;
        height: 45px;
        background: #ccffe5;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.4px;
        color: $ac-primary;
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }

    .description {
      max-width: 327px;

      h6 {
        font-size: 1rem;
        margin-bottom: 0px;
        letter-spacing: 0;
        font-weight: 500;
        display: block;

        &:after {
          position: inherit;
        }
      }

      .author {
        font-weight: 400;
        font-size: 0.875rem;
        letter-spacing: 0.4px;
        margin-bottom: 0.5rem;
        display: block;
        color: #1c1c1c;
      }

      p {
        font-size: 0.875rem;
        color: #636363;
        line-height: 150%;
      }
    }
  }

  .button.inline-button {
    margin-left: 100px !important;
  }
}

.community-items {
  display: flex;
  align-items: center;

  .community-item {
    border: 1px solid #636363;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
    transition: 0.3s;

    &:hover {
      background-color: $ac-primary;
      border-color: $ac-primary;

      img {
        filter: brightness(10);
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

// responsive menu start
.responsive-menu {
  background-color: $ac-primary;

  .button {
    border: none;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    color: $ac-white;

    &.is-active {
      color: #d2d2d2;
    }
  }
}

// responsive menu end

// product version style start
.product-version {
  .dropdown {
    .dropdown-trigger {
      .button {
        font-size: 0.813rem;
        width: 190px;
        height: 2rem;
        border-radius: 2px;
        padding: 2px 15px;
        color: $ac-color-heading;
        border: 1px solid $ac-white-light;

        .arrow {
          color: #999999;
          font-size: 0.9rem;
        }
      }
    }

    .dropdown-menu {
      /* ===== Scrollbar CSS ===== */
      /* Firefox */
      * {
        scrollbar-width: auto;
        scrollbar-color: #ebebeb #fafafd;
      }

      /* Chrome, Edge, and Safari */
      *::-webkit-scrollbar {
        width: 12px;
      }

      *::-webkit-scrollbar-track {
        background: #fafafd;
      }

      *::-webkit-scrollbar-thumb {
        background-color: #ebebeb;
        border-radius: 10px;
        border: 3px solid #fafafd;
      }

      .dropdown-content {
        max-height: 420px;
        overflow-y: auto;

        .dropdown-item {
          font-size: 0.813rem;
          color: $ac-color-heading;
        }
      }
    }
  }

  .new-item {
    background-color: $ac-primary;
    font-size: 0.813rem;
    color: $ac-white;
    border-radius: 2px;
    height: 1.2rem;
    padding: 2px 5px;
    line-height: 1.2;
  }
}

// product version style end
// navbar search start
.ac-searchbar {
  position: relative;
  z-index: 1;
  padding: 0 20px;
  border-left: 1px solid $ac-white-light;

  label {
    .fa {
      color: $ac-color-heading;
    }
  }

  input[type="search"] {
    border: none;
    background-color: transparent;
    color: $ac-color-text;
    font-size: 0.875rem;
    width: 270px;
    padding: 0.2rem 0.875rem;

    &:focus {
      border: none;
      outline: none;
    }

    &::placeholder {
      color: #636363;
    }
  }
}

// navbar search end

// modal-backdrop start
.modal-backdrop {
  &.is-show {
    width: 100%;
    height: 100%;
    background: #333;
    position: fixed;
    top: 0;
    opacity: 0.8;
    z-index: 9;
  }
}

// modal-backdrop end
.header--fixed {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: -1;
    transition: 0.5s ease-in-out;
  }
  &.headroom--unpinned {
    &::after {
      transition: transform 500ms linear;
    }
  }
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0px);
  transition: transform 500ms linear;
}

.headroom--unpinned {
  transform: translateY(-165px);

  .navbar-appscode-wrapper {
    &.navbar-product {
      transform: translateY(104px);
    }
  }
}

.navbar-burger {
  height: 30px;
  width: 30px;
  border-radius: 4px;
  &.is-active {
    i.fa {
      transform: rotate(-180deg);
      transform-origin: 10px;
    }
  }

  span {
    height: 1.5px;
  }
}

/****************************************
Responsive Classes
*****************************************/
@media (max-width: 1023.98px) {
  .headroom--unpinned {
    .navbar-appscode-wrapper {
      &.navbar-product {
        padding: 0 0;
        transform: translateY(104px);

        .navbar-appscode {
          .navbar-right {
            top: 47px;
          }
        }
      }

      // .documentation-menu {
      //   .navbar-right {
      //     top: 85px !important;
      //   }
      // }
    }
  }

  .navbar-appscode {
    &.container {
      padding: 0.5rem 15px;
    }

    &.documentation-menu {
      margin-left: 0;
      padding: 0;
      ul .nav-item {
        .link.is-active:after {
          display: none;
        }
      }
      .navbar-right {
        position: fixed;
        // top: -60px !important;
        width: 80%;
        border-right: 1px solid $ac-white-light;
      }
    }

    .navbar-left {
      width: 100%;

      .navbar-brand {
        margin: 0;
        width: 100%;

        a {
          img {
            height: 1.5rem !important;
          }
        }
      }

      ul {
        position: absolute;
        right: 20%;
        opacity: 0;
        visibility: hidden;
      }
    }

    .navbar-right {
      position: absolute;
      z-index: 99;
      right: 20%;
      opacity: 0;
      visibility: hidden;
      background: #fafafd;
      width: 100%;
      left: 0;
      min-height: calc(100vh + 110px);
      overflow-y: auto;
      transition: 0.3s ease-in-out;
      top: 61px;
      padding: 15px;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;

      .is-flex.is-justify-content-space-between {
        flex-direction: column;
        align-items: flex-start;
      }

      .is-primary.ml-8 {
        margin-left: 0 !important;
        margin-top: 15px;
      }

      .button.ac-button {
        &.is-primary {
          margin-left: 0;
          width: 100%;
        }
      }

      ul {
        display: flex;
        flex-direction: column;

        li.nav-item {
          margin: 6px 0;

          .link .whats-new {
            top: -0.2rem;
            right: 0.5rem;
          }
        }
      }

      .community-items.ml-70 {
        margin-left: 0 !important;
        margin-top: 30px;
      }

      &.is-visible {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .resources-list {
    grid-template-columns: auto;

    .list-items {
      h6 {
        margin-bottom: 0.5rem;
      }
    }
  }

  .mega-menu-wrapper {
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
    padding-top: 20px !important;
    background-color: #fafafd;
    max-height: 90vh;
    overflow-y: auto;

    .mega-menu-inner {
      .product-menu {
        grid-template-columns: auto;
        width: 100%;

        .single-product {
          width: 100%;

          .product-logo {
            height: 50px;
            width: 50px;

            img {
              height: 1.8rem;
            }
          }

          .navigate-icon {
            .material-icons {
              font-size: 16px;
            }
          }
        }

        &.database-list {
          grid-template-columns: auto;
        }
      }

      .product-description {
        border-left: none;
        padding-left: 0;
        margin-top: 35px;
        margin-left: 0;
        max-width: 100%;
      }
    }
  }
  .press-wrapper {
    .button.inline-button {
      margin-left: 0 !important;
      background-color: transparent;
    }
  }
  .navbar-appscode-wrapper.navbar-product {
    .navbar-appscode .navbar-right {
      top: 47px;
    }
  }

  .product-version {
    &.pl-20 {
      padding-left: 10px;
    }

    .dropdown {
      .dropdown-trigger {
        .button {
          width: 170px;
        }
      }
    }

    .dropdown-menu {
      z-index: 9999;
    }
  }

  .back-button {
    display: flex !important;

    span {
      color: $ac-primary;
      padding-right: 15px;
      font-size: 18px;
    }
  }
}

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 768px) {
// }

// Medium devices (tablets, 769px and up)
@media (min-width: 769px) and (max-width: 1023.98px) {
}

// Large devices (desktops, 1024px and up)
@media (min-width: 1024px) and (max-width: 1215px) {
  .navbar-burger {
    display: none !important;
  }

  .navbar-appscode {
    &.documentation-menu {
      margin-left: 0;
      border-left: none;
    }

    .navbar-right {
      width: calc(100% - 180px);

      .community-items.ml-70 {
        margin-left: 10px !important;
      }
    }

    ul {
      .nav-item {
        margin-right: 1.5rem;
      }
    }
  }

  .mega-menu-wrapper {
    .mega-menu-inner {
      .product-menu {
        grid-template-columns: auto;
        width: calc(50% - 5rem);
      }

      .product-description {
        border-left: none;
      }
    }

    .video-content {
      display: none;
    }
  }

  .product-version {
    &.ml-20 {
      margin-left: 4px !important;
    }

    .dropdown {
      .dropdown-trigger {
        .button {
          width: 160px;
          padding: 2px 5px;
        }
      }
    }
  }
}

@media (min-width: 1216px) and (max-width: 1407px) {
  .navbar-burger {
    display: none !important;
  }
  .navbar-appscode {
    &.documentation-menu {
      margin-left: 0;
      border-left: none;
    }
    .navbar-right {
      width: calc(100% - 180px);

      .community-items.ml-70 {
        margin-left: 10px !important;
      }
    }

    ul {
      .nav-item {
        margin-right: 1.5rem;
      }
    }
  }
  .mega-menu-wrapper {
    .mega-menu-inner {
      .product-menu {
        grid-template-columns: auto;
        width: calc(50% - 5rem);
      }

      .product-description {
        border-left: none;
      }
    }

    .video-content {
      display: none;
    }
  }
}

@media (min-width: 1408px) and (max-width: 1600px) {
  .navbar-appscode {
    .navbar-left {
      .navbar-brand {
        margin-right: 3rem;
      }
    }
  }
}

@media (min-width: 1408px) {
  .navbar-burger {
    display: none !important;
  }
}
