.fixed-menu {
  position: absolute;
  width: 100%;
  padding: 0px 0px;
  z-index: 99;
  top: 0;
  left: 0;
}

body {
  &.fixed-nav {
    .fixed-menu {
      position: fixed;
      top: 0;
      z-index: 99;
      width: 100%;
      padding: 0px 0px;
      background: $ac-white;
      box-shadow: 0px 1px 1px rgba(25, 76, 128, 0.08);
    }
  }
}

.appscode {
  .header-top {
    box-shadow: 0px 1px 1px rgba(25, 76, 128, 0.08);
  }
}

.main-menu.is-bg-available .navbar-item,
.main-menu.is-bg-available .navbar-link {
  color: $ac-white;
}

.main-menu.is-bg-available .navbar-item:hover,
.main-menu.is-bg-available .navbar-link:hover {
  color: #ddd;
}

.navbar-item.has-dropdown.is-active .navbar-link,
.navbar-item.has-dropdown:hover .navbar-link {
  background: transparent;
}

body.fixed-nav .main-menu.is-bg-available .navbar-item,
body.fixed-nav .main-menu.is-bg-available .navbar-link {
  color: $ac-color-link;
}

body.fixed-nav .main-menu.is-bg-available .navbar-item:hover,
body.fixed-nav .main-menu.is-bg-available .navbar-link:hover {
  color: $ac-primary;
}

.main-menu.is-bg-available .navbar-link:not(.is-arrowless)::after,
.main-menu.is-bg-available .select:not(.is-multiple):not(.is-loading)::after {
  border-color: $ac-white;
}

body.fixed-nav .main-menu.is-bg-available .navbar-link:not(.is-arrowless)::after,
body.fixed-nav .main-menu.is-bg-available .select:not(.is-multiple):not(.is-loading)::after {
  border-color: $ac-color-link;
}

// from base
body {
  &.fixed-nav {
    header {
      box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08);
      background-color: $ac-white;
    }

    .fixed-menu {
      position: fixed;
      background-color: $ac-white;
      box-shadow: 0 0 60px rgba(0, 0, 0, 0.12);
      top: 0;
      margin-top: 0;
      padding: 3px 0;
      width: 100%;
    }
  }
}

.header-area {
  padding: 3px 0;
  position: relative;
}

.header-top {
  position: relative;
  z-index: 99;
  padding: 6px 0px;
  background-color: $ac-white;
}

.main-menu {
  a {
    padding: 15px 15px;
    font-size: 14px;
    color: $ac-color-link;
    font-weight: 600;
    transition: 0.3s ease-in-out;
  }
}

.main-menu-button {
  min-width: 110px;
  min-height: 10px;

  a {
    padding: 6px 25px;
    border-radius: 2px;
    box-shadow: none;
    border: none;
    background: $ac-white;
    color: $ac-primary !important;
    font-size: 14px !important;
    transition: 0.3s ease-in-out;
  }

  .star-count {
    &::after {
      left: -6px;
      margin-top: -7px;
      border-width: 7px 7px 7px 0;
    }

    &::before {
      left: -5px;
      margin-top: -6px;
      border-width: 6px 6px 6px 0;
    }
  }
}

.buttons {
  &.main-menu-button {
    margin-bottom: 0;
  }
}

.button.for-support,
.button.for-chat {
  background: $ac-white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.17);
  border-radius: 2px;
  border: none;
}

.button {
  &.for-chat {
    color: #36c5f0;

    &:hover {
      background-color: #4a154b;
      color: $ac-white;
    }
  }

  &.for-support {
    color: #9d0a0e;

    &:hover {
      background-color: #9d0a0e;
      color: $ac-white;

      img {
        filter: brightness(100);
      }
    }
  }
}

.main-menu-button-top {
  .button {
    padding: 7px 16px;
  }
}

.main-menu-button-top {
  .button {
    span {
      padding-right: 6px;
      max-width: 20px;
      margin-top: 2px;
    }
  }
}

.navbar-link.is-active,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:hover {
  background: transparent;
  color: $ac-primary;
}

.customize-kubedb .navbar-item.has-dropdown.is-active .navbar-link,
.customize-kubedb .navbar-item.has-dropdown:hover .navbar-link {
  background: rgba(62, 62, 161, 0.1);
}

.kubedb-primary-bg {
  nav {
    &.navbar {
      background: transparent;
    }
  }
}

.customize-kubedb {
  .main-menu {
    a {
      color: $ac-color-text;

      &:hover {
        color: #ddd !important;
      }
    }
  }

  .navbar-dropdown {
    .navbar-item {
      color: $ac-primary;
    }
  }
}

nav {
  &.navbar {
    background-color: transparent;
  }
}

.navbar-item {
  img {
    max-height: 35px;
  }
}

.navbar-dropdown {
  border-top: none;
}

.star-count {
  border: 1px solid #ddd;
  display: block;
  padding: 4px 20px;
  border-radius: 2px;
  margin-top: -8px;
  height: 33px;
  position: relative;
  color: $ac-white;

  &::after {
    top: 50%;
    left: -4px;
    z-index: -1;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #d4d4d4;
  }

  &::before {
    top: 50%;
    left: -3px;
    margin-top: -4px;
    border-width: 4px 4px 4px 0;
    border-right-color: $ac-primary;
  }
}

.star-count::after,
.star-count::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.fixed-menu-z-index {
  z-index: 9999;
}

.lg .btn,
.lg .social-count {
  height: 16px;
  padding: 5px 10px;
  font-size: $font-size-extra-small;
  line-height: 16px;
  box-shadow: none;
  border: none;
  padding: 7px 19px;
}

.menu-header {
  overflow: hidden;

  h5 {
    float: left;
    font-size: 16px;
    color: $ac-color-heading;
    font-weight: 700;
  }
}

.menu-logo {
  width: 20px;
  float: left;
  margin-right: 10px;
  margin-top: 4px;
}

.menu-body {
  p {
    font-size: $font-size-extra-small;
    color: $ac-color-text;
  }
}

.single-product-item {
  padding: 15px;
  display: block;
  padding: 10px 12px !important;
  min-height: 75px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  border-radius: 4px;

  &:hover {
    background: #e4e4f7;
  }

  &.byte-builder {
    &:hover {
      background: #fef0d9;
    }
  }

  &.is-voyager {
    &:hover {
      background: transparentize($voyager-primary, 0.8);
    }
  }

  &.is-kubed {
    &:hover {
      background: transparentize($kubed-primary, 0.8);
    }
  }

  &.is-kubedb {
    &:hover {
      background: transparentize($ac-primary, 0.8);
    }
  }

  &.is-stash {
    &:hover {
      background: transparentize($stash-primary, 0.8);
    }
  }

  &.is-kubevault {
    &:hover {
      background: transparentize($kubevault-primary, 0.8);
    }
  }

  &.is-searchlight {
    &:hover {
      background: transparentize($searchlight-primary, 0.8);
    }
  }

  &.is-guard {
    &:hover {
      background: transparentize($guard-primary, 0.8);
    }
  }

  &.is-broker {
    &:hover {
      background: transparentize($service-broker-primary, 0.8);
    }
  }

  &.is-pharmer {
    &:hover {
      background: transparentize($pharmer-primary, 0.8);
    }
  }

  &.is-kubeshield {
    &:hover {
      background: transparentize($kubesheild-primary, 0.8);
    }
  }

  &.is-swift {
    &:hover {
      background: transparentize($swift-primary, 0.8);
    }
  }

  .learn-more-btn {
    padding: 0;
    font-size: $font-size-extra-small;
    color: #242a31;
    font-family: $ac-font-paragraph;
    margin-top: 20px;
    font-weight: 600;
    display: block;
  }
}

.byte-builder {
  &.kd-orange {
    background-color: #fef0d9 !important;

    &:hover {
      background-color: #fde0b0 !important;
    }
  }
}

.ac-megamenu {
  box-shadow: 0px 7px 26px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 12px 6px 6px;
  background: $ac-white;
  position: absolute;
  min-width: 480px;
  top: 40px;
  transform: translateX(-50%);
  left: 50%;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s ease-in-out;
  display: none;
}

.ac-dropdown {
  z-index: 99;
  top: 91px;
  box-shadow: 0px 7px 26px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  background: $ac-white;
  position: absolute;
  min-width: 200px;
  top: 40px;
  transform: translateX(-50%);
  left: 50%;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;

  a {
    &.navbar-item {
      color: #333;
      padding: 10px 20px;
      transition: 0.2s ease-in-out;

      &:hover {
        background: $ac-primary;
        color: $ac-white !important;
      }

      &:last-child {
        &:hover {
          border-radius: 0 0 4px 4px;
        }
      }

      &:first-child {
        &:hover {
          border-radius: 4px 4px 0 0;
        }
      }
    }
  }
}

.ac-megamenu:before,
.ac-dropdown:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 0;
  border: 7px solid transparent;
  border-bottom: 7px solid $ac-white;
  top: -14px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ac-is-hoverable:hover>.ac-megamenu,
.ac-is-hoverable:hover>.ac-dropdown {
  opacity: 1;
  visibility: visible;
  top: 52px;
  max-height: none;
  display: block;
}

.documentation-menu {
  .ac-is-hoverable {
    &:hover {
      .ac-dropdown {
        top: 41px;
      }
    }
  }
}

p {
  &.intro {
    font-size: $font-size-extra-small;
    font-family: $ac-font-paragraph;
    color: #242a31;
    margin-top: -5px;
    margin-bottom: 10px;
  }
}

.menu-bottom {
  background: #bfe9d3;
  padding: 5px;
  color: #6b6b6b;
  border-radius: 4px;
  position: relative;
  z-index: 1;

  &:before {
    position: absolute;
    content: "";
    left: 0;
    top: -6px;
    width: 100%;
    height: 1px;
    background: #ddd;
  }

  a {
    padding: 0;
    color: #00a651;
  }

  p {
    font-size: 14px;
  }
}

// new navbar area start
header {
  position: relative;
  z-index: 99;

  .navbar-appscode {
    border-bottom: 1px solid #e7e7e7;
    background-color: $ac-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.25rem;

    .navbar-left {
      display: flex;
      align-items: center;

      .navbar-brand {
        min-height: auto;
        align-items: center;
        margin-right: 2.5rem;

        a {
          display: flex;
          align-items: center;

          img {
            height: 1.875rem;
          }
        }
      }
    }

    .navbar-right {
      display: flex;
      align-items: center;

      .button {
        margin-left: 2.5rem;
      }
    }

    ul {
      .nav-item {
        margin-right: 2.5rem;

        &.is-active {
          .link {
            color: $ac-primary;

            i.fa {
              transform: rotate(-180deg);
            }
          }

          .mega-menu-wrapper {
            display: block !important;
          }
        }

        &:last-child {
          margin-right: 0;
        }

        .link {
          font-size: 0.875rem;
          line-height: 1;
          color: $ac-color-heading;
          font-weight: 500;
          border: none;
          background-color: transparent;
          cursor: pointer;
          margin: 0;
          padding: 0.5rem 0;
          transition: 0.3s ease-in-out;
          position: relative;
          z-index: 1;

          &:hover {
            color: $ac-primary;
          }

          .fa {
            transition: 0.3s ease-in-out;
            margin-left: 0.625rem;
          }

          .whats-new {
            position: absolute;
            z-index: 1;
            top: -0.5rem;
            right: -2.5rem;
            font-size: 0.8rem;
            color: $ac-white;
            padding: 0.2rem 0.3rem;
            line-height: 1.2;
            display: none;

            &:before {
              content: "";
              position: absolute;
              z-index: -1;
              left: 50%;
              top: 50%;
              transform: translateX(-50%) translateY(-50%);
              display: block;
              width: 2rem;
              height: 1rem;
              background: $ac-primary;
              border-radius: 2px;
              animation: pulse-border 1500ms ease-out infinite;
            }

            &:after {
              content: "";
              position: absolute;
              z-index: -1;
              left: 50%;
              top: 50%;
              transform: translateX(-50%) translateY(-50%);
              display: block;
              width: 2rem;
              height: 1rem;
              background: $ac-primary;
              transition: all 200ms;
            }

            @keyframes pulse-border {
              0% {
                transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
                opacity: 1;
              }

              100% {
                transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }

  .ac-grid-container {
    max-width: 1344px;
    margin: 0 auto;
    padding: 0 0.5rem;
  }

  .navbar-product {}

  .navbar-docs {}
}

// new navbar area end

.mega-menu-wrapper {
  display: none;
  background: $ac-white;
  position: absolute;
  z-index: 9;
  min-width: 300px;
  padding: 2.5rem 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 63px;

  .mega-menu-inner {
    overflow: hidden;

    // product menu start
    .product-menu {
      display: grid;
      grid-template-columns: auto auto;
      width: 48rem;
      float: left;

      .single-product {
        display: grid;
        grid-template-columns: 3.75rem auto 1.5rem;
        padding: 1rem;
        align-items: center;
        width: 24rem;
        grid-gap: 0.8rem;
        border-radius: 0.25rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:hover,
        &.is-active {
          background-color: #e6fff2;

          .navigate-icon {
            .material-icons {
              opacity: 1;
              visibility: visible;
            }
          }
        }

        .product-logo {
          height: 60px;
          width: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #e9e9fc;
          border-radius: 0.25rem;

          img {
            height: 2.5rem;
          }
        }

        .product-info {
          h6 {
            font-size: 1rem;
            letter-spacing: 0.009rem;
            color: $ac-color-heading;
            font-weight: 500;
          }

          p {
            font-size: 0.813rem;
            color: #636363;
            line-height: 140%;
            letter-spacing: 0.025rem;
          }
        }

        .navigate-icon {
          text-align: right;

          .material-icons {
            font-size: 1.5rem;
            color: $ac-primary;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }

    // product menu end

    // description start
    .product-description {
      margin-left: 1rem;
      float: left;
      border-left: 1px solid #e7e7e7;
      padding-left: 5rem;
      max-width: 30rem;
      opacity: 0;
      display: none;
      visibility: hidden;
      transition: 0.3s ease-in-out;

      &.is-block {
        opacity: 1;
        visibility: visible;
      }

      .brand {
        margin-bottom: 1rem;

        img {
          height: 1.5rem;
        }
      }

      p {
        font-size: 0.875rem;
        color: $ac-color-text;
        line-height: 160%;
        margin-bottom: 1rem;
      }

      .features {
        li {
          font-size: 0.813rem;
          color: $ac-color-heading;
          display: flex;
          align-items: center;
          margin-bottom: 15px;

          .material-icons {
            font-size: 1rem;
            margin-right: 0.6rem;
            color: $ac-primary;
          }
        }
      }
    }

    // description end
  }
}

// inline button start
.button {
  &.ac-button {
    &.inline-button {
      border: none;
      height: auto;
      margin: 0;
      padding: 0.5rem 0;

      display: inline-flex;
      align-items: center;
      justify-content: flex-start;

      &:hover {
        background-color: transparent;
        border: none;
        color: $ac-primary;

        .material-icons {
          margin-left: 1rem;
        }
      }

      .material-icons {
        font-size: 1rem;
        margin-left: 0.5rem;
        transition: 0.3s ease-in-out;
      }
    }
  }
}

// open source menu start
.linkable-nav-items {
  width: 500px;
  float: left;

  ul {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.5rem;

    li {
      width: 250px;

      a {
        display: inline-flex;
        align-items: center;
        font-size: 0.875rem;
        letter-spacing: 0.009rem;
        color: $ac-color-heading;
        font-weight: 500;
        transition: 0.3s;

        &:hover {
          color: $ac-primary;

          span {
            &:last-child {
              padding-left: 1rem;
            }
          }
        }

        span {
          display: flex;
          align-items: center;
          font-size: 1rem;

          &:last-child {
            padding-left: 0.5rem;
          }

          img {
            height: 1rem;
            margin-right: 1rem;
          }
        }

        .material-icons {}
      }
    }
  }
}

.product-description {
  .brand {
    img {}
  }

  p {}

  .button {
    .material-icons {}
  }
}

.resources-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2rem;

  .list-items {
    h6 {
      font-weight: 400;
      position: relative;
      font-size: 0.875rem;
      z-index: 1;
      margin-bottom: 1.5rem;
      display: inline-block;
      letter-spacing: 1.2px;

      &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 50%;
        height: 2px;
        background-color: $ac-primary;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        a {
          font-size: 0.875rem;
          padding: 0.6rem 0;
          color: $ac-color-heading;
          display: inline-block;
          line-height: 1;
          transition: 0.3s ease-in-out;
          font-weight: 500;

          &:hover {
            color: $ac-primary;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.press-wrapper {
  .single-press {
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    transition: 0.3s;

    &:hover {
      h6 {
        color: $ac-primary;
      }
    }

    .calender {
      text-align: center;
      height: 90px;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      margin-right: 1rem;
      border-radius: 4px;

      .date {
        width: 84px;
        height: 45px;
        background-color: #9dffcd;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 140%;
        letter-spacing: 0.4px;
        color: $ac-primary;
        align-items: center;
        display: flex;
        justify-content: center;
      }

      .month {
        width: 84px;
        height: 45px;
        background: #ccffe5;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.4px;
        color: $ac-primary;
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }

    .description {
      max-width: 327px;

      h6 {
        font-size: 1rem;
        margin-bottom: 0px;
        letter-spacing: 0;
        font-weight: 500;
        display: block;

        &:after {
          position: inherit;
        }
      }

      .author {
        font-weight: 400;
        font-size: 0.875rem;
        letter-spacing: 0.4px;
        margin-bottom: 0.5rem;
        display: block;
        color: #1c1c1c;
      }

      p {
        font-size: 0.875rem;
        color: #636363;
        line-height: 150%;
      }
    }
  }

  .button.inline-button {
    margin-left: 100px !important;
  }
}

.community-items {
  display: flex;
  align-items: center;


  .community-item {
    border: 1px solid #636363;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
    transition: 0.3s;

    &:hover {
      background-color: $ac-primary;
      border-color: $ac-primary;

      img {
        filter: brightness(10);
      }
    }

    &:last-child {
      margin-right: 0;
    }

    img {}
  }
}

// navbar search start
.ac-searchbar {
  position: relative;
  z-index: 1;

  label {

    .fa {
      color: $ac-color-heading;

    }
  }

  input[type="search"] {
    border: none;
    background-color: transparent;
    color: $ac-color-text;
    font-size: 0.875rem;
    width: 300px;
    padding: 0.2rem  0.875rem;
    &:focus{
      border: none;
      outline: none;
    }
    &::placeholder {
      color: #636363;
    }
  }
}

// navbar search end

// modal-backdrop start
.modal-backdrop {
  &.is-show {
    width: 100%;
    height: 100%;
    background: #333;
    position: fixed;
    top: 0;
    opacity: 0.8;
    z-index: 9;
  }
}

// modal-backdrop end
