.hero-area.is-product {
  background-color: #f1f1f9;
  padding: 100px 0;
  height: calc(100vh - 200px);
  align-items: center;
  overflow: hidden;
  display: flex;
  background-size: cover;
  background-position: center;
  margin-top: 110px;
  position: relative;
  z-index: 1;

  &.is-overview {
    h1 {
      strong {
        color: $ac-primary;
        // position: relative;
        // z-index: 1;
        // &:after{
        //   position: absolute;
        //   content: "";
        //   left: 0;
        //   top: 80%;
        //   width: 100%;
        //   height: 100%;
        //   background-image: url(../images/shape/underline.svg);
        //   background-repeat: no-repeat;
        //   z-index: -1;
        // }
      }
    }
    &.elasticsearch {
      background: rgb(185, 128, 208);
      background: linear-gradient(
        16deg,
        rgba(185, 128, 208, 0.1) 0%,
        rgba(253, 31, 65, 0.1) 51%,
        rgba(0, 119, 204, 0.1) 91%,
        rgba(239, 0, 100, 0.1) 100%
      );
    }

    &.mariadb {
      background: rgb(185, 128, 208);
      background: linear-gradient(
        39deg,
        rgba(185, 128, 208, 0.1) 0%,
        rgba(112, 115, 152, 0.1) 51%,
        rgba(175, 0, 208, 0.1) 91%,
        rgba(112, 115, 152, 0.1) 100%
      );
    }

    &.memcached {
      background: rgb(81, 71, 69);
      background: linear-gradient(
        39deg,
        rgba(81, 71, 69, 0.1) 0%,
        rgba(81, 71, 69, 0.1) 51%,
        rgba(175, 0, 208, 0.1) 91%,
        rgba(81, 71, 69, 0.1) 100%
      );
    }

    &.mongodb {
      background: rgb(0, 237, 100);
      background: linear-gradient(
        39deg,
        rgba(0, 237, 100, 0.1) 0%,
        rgba(253, 31, 65, 0.1) 51%,
        rgba(0, 237, 100, 0.1) 91%,
        rgba(239, 0, 100, 0.1) 100%
      );
    }

    &.mysql {
      background: rgb(242, 146, 33);
      background: linear-gradient(
        39deg,
        rgba(242, 146, 33, 0.1) 0%,
        rgba(253, 31, 65, 0.1) 51%,
        rgba(242, 146, 33, 0.1) 91%,
        rgba(0, 117, 143, 0.1) 100%
      );
    }

    &.perconaxtradb {
      background: rgb(231, 125, 3);
      background: linear-gradient(
        39deg,
        rgba(231, 125, 3, 0.1) 0%,
        rgba(253, 31, 65, 0.1) 51%,
        rgba(231, 125, 3, 0.1) 91%,
        rgba(239, 0, 100, 0.1) 100%
      );
    }

    &.pgbouncer {
      background: rgb(34, 34, 34);
      background: linear-gradient(
        39deg,
        rgba(34, 34, 34, 0.1) 0%,
        rgba(253, 31, 65, 0.1) 51%,
        rgba(34, 34, 34, 0.1) 91%,
        rgba(239, 0, 100, 0.1) 100%
      );
    }

    &.postgres {
      background: rgb(51, 103, 144);
      background: linear-gradient(
        39deg,
        rgba(51, 103, 144, 0.1) 0%,
        rgba(253, 31, 65, 0.1) 51%,
        rgba(175, 0, 208, 0.1) 91%,
        rgba(51, 103, 144, 0.1) 100%
      );
    }

    &.proxysql {
      background: rgb(46, 115, 184);
      background: linear-gradient(
        39deg,
        rgba(46, 115, 184, 0.1) 0%,
        rgba(253, 31, 65, 0.1) 51%,
        rgba(46, 115, 184, 0.1) 91%,
        rgba(46, 115, 184, 0.1) 100%
      );
    }

    &.redis {
      background: rgb(217, 43, 33);
      background: linear-gradient(
        39deg,
        rgba(217, 43, 33, 0.1) 0%,
        rgba(217, 43, 33, 0.1) 51%,
        rgba(175, 0, 208, 0.1) 91%,
        rgba(217, 43, 33, 0.1) 100%
      );
    }

    // h1 {
    //   font-size: 4rem;
    // }

    // .tag {
    //   border: 1px solid $ac-white-light;
    // }

    .cube,
    .circle {
      border-color: #333333;
    }
  }

  &.has-image-bg {
    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      z-index: -1;
      opacity: 0.5;
      background-size: 50%;
    }
  }

  &.is-dark {
    &.is-gradient {
      background: linear-gradient(-45deg, #a8356d, #940148, #4c346f, #3334f5);
      background-size: 200% 200%;
      animation: gradient 15s ease infinite;
    }
    h1 {
      strong {
        color: $ac-white;
      }
    }
    h1,
    p {
      color: $ac-white;
    }

    .button.ac-button {
      border-color: rgba(255, 255, 255, 0.5);
      color: $ac-white;

      &:hover {
        border-color: $ac-primary;
      }
    }
  }

  h1 {
    font-size: 3rem;
    line-height: 130%;
    font-weight: 700;
    letter-spacing: -0.57px;
    margin-bottom: 1rem;
  }

  p {
    font-family: $ac-font-inter;
    font-size: 1rem;
    line-height: 160%;
    color: #636363;
    margin-bottom: 2rem;
  }

  .buttons {
    .button {
      height: 2.875rem;
      margin-right: 0.5rem;
      padding: 0 30px;

      .material-icons-outlined {
        font-size: 1.3rem;
        margin-right: 0.5rem;
      }

      &.is-primary {
        box-shadow: 2px 4px 24px rgba(73, 73, 163, 0.15);
      }

      &.is-secondary {
        background-color: transparent;

        &:hover {
          background-color: $ac-primary !important;
        }
      }
    }
  }
}

.hero-area-code-editor {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s ease-in-out;

  &.is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  .hljs {
    background-color: transparent;
  }
  &.is-dark {
    .editor-header {
      background: #151a21;
      border-bottom: 1px solid #472f2f;
    }

    // pre {
    //   background-color: #1e242e;
    //   color: #f1f1f9;

    //   .hljs {
    //     background-color: #1e242e;
    //     color: #f1f1f9;

    //     .hljs-keyword,
    //     .hljs-literal,
    //     .nginx .hljs-title {
    //       color: #f410d0;
    //     }

    //     .hljs-string {
    //       color: #f92e29;
    //     }

    //     .hljs-variable {
    //       color: #72ccd7;
    //     }
    //   }
    // }
  }

  .editor-header {
    height: 50px;
    background: #fafbfc;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    padding-left: 20px;

    span {
      width: 15px;
      height: 15px;
      background-color: #ddd;
      display: block;
      border-radius: 50%;
      margin-right: 8px;

      &.close {
        background-color: #ff5a52;
      }

      &.maximize {
        background-color: #e6c029;
      }

      &.minimize {
        background-color: #53c22b;
      }
    }
  }

  pre {
    padding: 20px;
    background-color: #fff;

    code {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-o-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.social-prove-brand-area {
  .brand-image-wrapper {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .single-brand {
      img {
        max-height: 2rem;
        filter: grayscale(1);
        transition: 0.3s ease-in-out;
      }

      &:hover {
        img {
          filter: grayscale(0);
        }
      }
    }
  }
  .owl-carousel {
    .owl-stage {
      transition-timing-function: linear !important;
    }
    .owl-item {
      img {
        width: auto !important;
        // margin: 0 auto;
      }
    }
  }
}

/****************************************
Responsive Classes
*****************************************/

@media (max-width: 1023.98px) {
  .hero-area {
    &.is-product {
      height: 100%;
      margin-top: 60px;
      padding-bottom: 60px;

      .buttons {
        justify-content: center;

        .button {
          height: 2.5rem;
          padding: 0 20px;
        }
      }

      h1 {
        font-size: 2.1rem;
        letter-spacing: -0.3px;
        margin-bottom: 0.5rem;
        text-align: center;
      }

      p {
        text-align: center;
      }
    }
  }

  .hero-area-code-editor {
    max-width: calc(100vw - 30px);
    margin: 0 auto;

    .editor-header {
      display: none;
    }
  }

  .social-prove-brand-area {
    .brand-image-wrapper {
      padding: 30px 0;
      padding-bottom: 0px;
      justify-content: center;

      .single-brand {
        padding: 5px;

        img {
          max-height: 1.5rem;
        }
      }
    }
  }
}
@media (max-width: 378px) {
  .hero-area {
    &.is-product {
      .buttons {
        .button {
          padding: 0 14px;
        }
      }
    }
  }
}
// // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 768px) and (max-width: 1023.98px) {
  .hero-area {
    &.is-product {
      p {
        padding: 0 100px;
      }

      h1 {
        font-size: 2.5rem;
      }
    }
  }

  .hero-area-code-editor {
    max-width: calc(100vw - 100px);
    margin: 0 auto;

    .editor-header {
      display: none;
    }
  }
}

// @media (min-width: 769px) and (max-width: 1023.98px) {
// }

// Large devices (desktops, 1024px and up)
@media (min-width: 1024px) and (max-width: 1215px) {
  .hero-area.is-product {
    h1 {
      font-size: 2.3rem;
    }
  }

  .social-prove-brand-area {
    .brand-image-wrapper {
      justify-content: center;

      .single-brand {
        padding: 0 10px;
      }
    }
  }
}

@media (min-width: 1216px) and (max-width: 1407px) {
}

@media (min-width: 1408px) and (max-width: 1600px) {
  .hero-area {
    &.is-product {
      height: calc(100vh - 195px);
      h1 {
        font-size: 2.8rem;
      }
    }
  }
  .social-prove-brand-area {
    .brand-image-wrapper {
      padding: 30px 0;
    }
  }
  .hero-area-code-editor {
    pre {
      code {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
