
/* table style start */
table {
  display: block;
  overflow-x: auto;
  margin-bottom: 15px;
  border-radius: 2px;
}

table tr {
  border-left: 1px solid $ac-white-light;
  border-top: 1px solid $ac-white-light;
}

table td,
table th {
  border-right: 1px solid $ac-white-light;
  border-bottom: 1px solid $ac-white-light;
  padding: 8px 20px;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
}


table tr:nth-child(even) {
  background-color: #f6f8fa;
  border-top: transparent;
}

table td:first-child,
table th:first-child {
  text-align: left;
}
