
// /* table style start */
// table {
//   display: block;
//   overflow-x: auto;
//   margin-bottom: 15px;
//   border-radius: 2px;
//   border: 1px solid $color-border;
// }

// table tr {
//   border-left: 1px solid $color-border;
//   border-top: 1px solid $color-border;
// }

// table td,
// table th {
//   border-right: 1px solid $color-border;
//   border-bottom: 1px solid $color-border;
//   padding: 8px 20px;
//   vertical-align: middle;
//   text-align: center;
//   font-size: 15px;
// }


table tr:nth-child(even) {
  background-color: #f6f8fa;
  // border-top: transparent;
}

// table td:first-child,
// table th:first-child {
//   text-align: left;
// }
.content {
  table {
    display: block;
    overflow-x: auto;
    margin-bottom: 15px;
    border-radius: 2px;
  }
}
.content table thead td, .content table thead th {
  border-width: 1px;
}
.content table td, .content table th{
  border-width: 1px 1px 1px;
}
.content table tbody tr:last-child td, .content table tbody tr:last-child th{
  border-bottom-width: 1px;
}