.testimonial-area {
  background-color: hsl(var(--primary-h), 20%, 98%);
  padding: 60px 0;
  
  .section-title {
    h2 {
      font-size: 48px;
    }
    
    p {
      font-size: 18px;
    }
  }

  .single-testimonial-item {
    background: $ac-white;
    box-shadow: 0px 2px 30px rgba(44, 60, 74, 0.08);
    border-radius: 4px;
    padding: 50px 40px;
    min-height: 490px;

    .user-info-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .image {
        margin-right: 1.2rem;

        img {
          height: 100%;
        }
      }

      .user-info {
        label {
          font-weight: 600;
          font-size: 22px;
          line-height: 1;
          line-height: 160%;
        }

        p {
          font-size: 14px;
          line-height: 160%;
          color: $color-text;
        }
      }
    }

    p {
      font-size: 1rem;
      line-height: 160%;
    }
  }

  .owl-carousel {
    .owl-stage-outer {
      padding: 40px 0px;
    }
  }
}

.arrows {
  display: flex;
  width: 136px;
  justify-content: space-between;

  .button {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $ac-white;
    border: none;

    &:hover {
      .icon-outlined {
        transform: scale(1.2);
        color: $ac-primary;
      }
    }

    .icon-outlined {
      transition: 0.3s ease-in-out;
      font-size: 18px;
    }
  }
}

/****************************************
Responsive Classes
*****************************************/
@media (max-width: 768px) {
  .testimonial-area {
    padding-top: 30px;

    .section-title {
      text-align: center;

      h2 {
        font-size: 32px;
      }
    }

    .owl-carousel {
      .owl-stage-outer {
        padding: 0 !important;
      }
    }

    .arrows {
      width: 96px;
      margin: 0 auto;
      margin-top: 30px;

      .button {
        width: 40px;
        height: 40px;
      }
    }

    .single-testimonial-item {
      padding: 30px;
      min-height: auto;

      .user-info-wrapper {
        justify-content: center;

        .user-info {
          label {
            font-size: 20px;
          }
          text-align: left;
        }
      }

      p {
        text-align: center;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1023.98px) {
  .testimonial-area {
    .section-title {
      h2 {
        font-size: 38px;
      }
    }

    .single-testimonial-item {
      padding: 30px 30px;
      min-height: 310px;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1215px) {
  .testimonial-area {
    .section-title {
      h2 {
        font-size: 38px;
      }
    }

    .single-testimonial-item {
      min-height: 310px;
      padding: 30px;
    }
  }
}

@media (min-width: 1216px) and (max-width: 1407px) {
}

@media (min-width: 1408px) and (max-width: 1600px) {
  .testimonial-area {
    .single-testimonial-item {
      padding: 30px;
      .user-info-wrapper {
        .user-info {
          label {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (min-width: 1408px) {
}

