.gallery-card {
  display: block;
  border: 1px solid $ac-white-light;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  overflow: hidden;

  &:hover {
    border: 1px solid $ac-primary;

    .gallery-body {
      h1 {
        color: $ac-primary;
      }
    }

    .gallery-card-thumbnail {
      .play-button {
        background-color: rgba(77, 77, 203, 1);
      }
    }
  }

  .gallery-card-thumbnail {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 170px;
      object-fit: cover;
      width: 100%;
    //   border-radius: 4px 4px 0 0;
    }

    .play-button {
      position: absolute;
      display: flex;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: rgba(77, 77, 203, 0.3);
      justify-content: center;
      color: #fff;
      transition: 0.3s ease-in-out;

      .material-icons-outlined {
        font-size: 28px;
      }
    }
  }

  .gallery-body {
    padding: 20px 20px;

    .filtered-items {
      span {
        margin-right: 0.8rem;
        font-weight: normal;
        font-size: 13px;
        color: #505050;
      }
    }

    h1 {
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      margin: 1rem 0 2rem;
      color: $ac-color-heading;
      transition: 0.3s ease-in-out;
    }

    .meta-tag {
      p {
        font-weight: normal;
        font-size: 14px;
        display: flex;
        align-items: center;
        color: #505050;

        .material-icons-outlined {
          font-size: 16px;
          margin-right: 0.8rem;
        }
      }
    }
  }
}

.filtered-tags {
  .tag {
    background-color: rgba(77, 77, 203, 0.07);
    border: 1px solid $ac-white-light;
    height: 33px;
    padding: 0 1.1rem;

    span {
      font-size: 13px;
      margin-left: 8px;
      cursor: pointer;
      padding: 9px;
      margin-right: -18px;
    }
  }
}

.outlined-bg-buttons {
  .button {
    background: rgba(77, 77, 203, 0.07);
    border: 1px solid $ac-primary;
    font-size: 13px;
    letter-spacing: -0.5px;
    font-weight: 400;
    height: 33px;
    border-radius: 4px;

    &:hover {
      background-color: $ac-primary;
      color: #fff;
    }

    span {
      font-size: 13px;
    }
  }
}
