{{ define "main" }}

<!-- whitepaper area start -->
<section class="section-padding">
  <div class="container section">
    <div class="columns">
      <div class="column is-6">
        <div class="download-image">
          <img src="/assets/images/whitepaper-image/download.png" alt="" />
        </div>
        <div class="download-question mt-30">
          <h4 class="mb-30">Questions? We’ll be your guide.</h4>
          <p>
            Ask about our products, pricing, implementation, or anything else.
            Our advisors are here to help you chart a course to success.
          </p>
          <p>
            <strong
              >Just fill out the form at right or call 1-800-667-6389.</strong
            >
          </p>
          <p>
            Already a customer? Visit the link below for: <br>
            <a href="#">Billing</a> and <a href="#">Tech Support</a>
          </p>
          <h4 class="mt-15">Schedule a demo with a product expert</h4>
          <a href="#">Schedule a Demo</a>
        </div>
      </div>
      <div class="column is-6">
        <div class="form-area">
          <h4>Please enter your information</h4>
          <form action="#">
            <div class="columns is-multiline">
              <!-- name field start -->
              <div class="column is-6">
                <div class="single-input-field">
                    <label for="f-name">First Name*</label>
                    <input
                      class="kd-input"
                      id="f-name"
                      type="text"
                      placeholder="Jhone"
                    />
                </div>
              </div>
              <div class="column is-6">
                <div class="single-input-field">
                    <label for="l-name">Last Name*</label>
                    <input
                      class="kd-input"
                      id="l-name"
                      type="text"
                      placeholder="Due"
                    />
                </div>
              </div>
              <!-- name field end -->

              <!-- email field start -->
              <div class="column is-12">
                <div class="single-input-field">
                    <label for="kd-email">Email*</label>
                    <input
                      class="kd-input"
                      id="kd-email"
                      type="email"
                      placeholder="Enter your email"
                    />
                </div>
              </div>
              <!-- email field end -->

              <!-- phone number field start -->
              <div class="column is-12">
                <div class="single-input-field">
                    <label for="phone">Email*</label>
                    <input
                      class="kd-input"
                      id="phone"
                      type="number"
                      placeholder="Enter your phone number"
                    />
                </div>
              </div>
              <!-- phone number field end -->

              <!-- total employee field start -->
              <div class="column is-12">
                  <div class="single-input-field">
                      <label for="">Total Employee Count of Your Organization*</label>
                      <div class="select">
                        <select>
                          <option>Select number of Employee</option>
                          <option>With options</option>
                        </select>
                      </div>
                  </div>
              </div>
              <!-- total employee field end -->

              <!-- country field start -->
              <div class="column is-12">
                <div class="single-input-field">
                    <label for="">Country*</label>
                    <div class="select">
                      <select>
                        <option>United State</option>
                        <option>Bangladesh</option>
                        <option>Japan</option>
                      </select>
                    </div>
                </div>
              </div>
              <!-- country field end -->

              <!-- state field start -->
              <div class="column is-12">
                <div class="single-input-field">
                    <label for="">State/Province*</label>
                    <div class="select">
                      <select>
                        <option>Select your State/Province</option>
                        <option>X-11 Uttara</option>
                        <option>Banani, Dhaka</option>
                      </select>
                    </div>
                </div>
              </div>
              <!-- state field end -->

              <!-- button field start -->
              <div class="column is-12">
                <div class="download-button">
                  <a href="#" class="button kd-button kd-primary is-fullwidth"><span class="icon mr-10"><i class="fa fa-cloud-download" aria-hidden="true"></i></span>Download Datasheet</a>
                </div>
              </div>
              <!-- button field end -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- whitepaper area end -->

{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}
