<!--==========================  faq area end  ==========================-->
<section class="faq-area section-padding">
  <div class="container">
    <div class="columns is-vcentered ">
      <div class="column is-6">
        <div class="faq-left">

          <div class="faq-image mb-40">
            <img src="/assets/images/illustrations/faq.png" alt="faq-image">
          </div>

          <h2 class="title">frequently asked questions</h2>
          <p>Here are a few of the questions we get the most. If you don't see what's on your mind, contact us anytime.
          </p>
          <div class="buttons">
            <a href="https://appscode.com/contact/" class="button ac-button is-normal is-primary"> <span>
                <lord-icon speed="0.50" src="https://cdn.lordicon.com/uvextprq.json" trigger="loop"
                  colors="primary:#ffffff;" style="width:22px;height:22px; margin-right: 8px;">
                </lord-icon>
              </span>
              <span>CONTACT SALES</span>
            </a>

            <a href="" class="button ac-button is-primary is-outlined is-normal"
              onclick="Calendly.initPopupWidget({url: 'https://calendly.com/appscode/intro'});return false;">SCHEDULE
              DEMO</a>
          </div>

        </div>
      </div>
      <div class="column is-6">
        <div class="faq-right">
          <div class="ac-accordion-wrapper">
            <!-- single accordion item start  -->
            <div class="single-accordion-item open">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>Can I manage multiple Databases via KubeDB?</h3>
                <button class="icon">
                  <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body" style="max-height: 48px;">
                <p>
                  Yes, you can manage as many databases as you want within a single subscription to KubeDB, and there is
                  no extra charge for that!
                </p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

            <!-- single accordion item start  -->
            <div class="single-accordion-item closed">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>Can I use KubeDB in any cloud?</h3>
                <button class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body">
                <p>
                  Yes, of course! KubeDB is platform-independent. You can use KubeDB in any cloud or on-premises.
                </p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

            <!-- single accordion item start  -->
            <div class="single-accordion-item closed">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>My cluster is running on bare metal. Will it be safe to use KubeDB?</h3>
                <button class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body">
                <p>
                  KubeDB is running in production by multiple Governments and large organizations. Your data is always
                  safe within KubeDB.
                </p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

            <!-- single accordion item start  -->
            <div class="single-accordion-item closed">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>Do you have offer technical support?</h3>
                <button class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body">
                <p>We offer 24x7 technical system and maintain SLA to provide 100% reliability to our customers.</p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

            <!-- single accordion item start  -->
            <div class="single-accordion-item closed">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>Is Stash complementary with KubeDB?</h3>
                <button class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body">
                <p>Yes, Stash is seemingly integrated with KubeDB. There is no extra charge for using Stash. It is
                  complimentary with KubeDB.</p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

            <!-- single accordion item start  -->
            <div class="single-accordion-item closed">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>Can we try KubeDB?</h3>
                <button class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body">
                <p>Of course! We offer a 30 days license free of cost to try fully featured KubeDB.
                </p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

            <!-- single accordion item start  -->
            <div class="single-accordion-item closed">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>Can I upgrade from Community edition to the Enterprise edition anytime?</h3>
                <button class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body">
                <p>Yes, you can seemlessly upgrade from the Community edition to the Enterprise Edition without any
                  downtime.</p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

            <!-- single accordion item start  -->
            <div class="single-accordion-item closed">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>Is there any cancellation fee?</h3>
                <button class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body">
                <p>There is no cancellation fee. But plans are subject to minimum duration (1 year) as stated above.
                </p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

            <!-- single accordion item start  -->
            <div class="single-accordion-item closed">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>What types of payment do you accept?</h3>
                <button class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body">
                <p>We prefer ACH transfer for US based customers and international wire transfer for everyone else. We
                  can also accept all popular credit/debit cards such as Visa, Mastercard, American Express, Discover,
                  etc.</p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

            <!-- single accordion item start  -->
            <div class="single-accordion-item closed">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>Is my payment information safe?</h3>
                <button class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body">
                <p>Yes! For ACH transfer and wire transfer you work with your bank for payment. Our credit card
                  processing is powerd by <a href="https://stripe.com/">Stripe</a>. You credit card data never touches
                  our servers. For more information, please visit <a href="https://stripe.com/">stripe.com</a>.</p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

          </div>
        </div>
      </div>
</section>

<!--==========================  faq area end  ==========================-->