<!--==========================  faq area end  ==========================-->
<section class="faq-area">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <div class="faq-left">
          <img src="/assets/images/illustrations/faq.svg" alt="faq-image">

          <h2 class="title">frequently asked questions</h2>
          <p>Find your answers here. if you don’t find it here, please contact us.</p>
          <a href="https://appscode.com/contact/" class="button ac-button is-normal is-primary"> <span>
              <lord-icon speed="0.50" src="https://cdn.lordicon.com/uvextprq.json" trigger="loop"
                colors="primary:#ffffff;" style="width:22px;height:22px; margin-right: 8px;">
              </lord-icon>
            </span>
            <span>CONTACT SALES</span>
          </a>
        </div>
      </div>
      <div class="column is-6">
        <div class="faq-right">
          <div class="ac-accordion-wrapper">
            <!-- single accordion item start  -->
            <div class="single-accordion-item open">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>Can I manage multiple Databases via KubeDB?</h3>
                <button class="icon">
                  <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body" style="max-height: 48px;">
                <p>
                  Yes, you can manage as many databases as you want within a single subscription to KubeDB, and there
                  is no extra charge for that!
                </p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

            <!-- single accordion item start  -->
            <div class="single-accordion-item closed">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>Can I use KubeDB in any cloud?</h3>
                <button class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body">
                <p>
                  Yes, of course! KubeDB is platform-independent. You can use KubeDB in any cloud or on-premises.
                </p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

            <!-- single accordion item start  -->
            <div class="single-accordion-item closed">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>My cluster is running on bare metal. Will it be safe to use KubeDB?</h3>
                <button class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body">
                <p>
                  KubeDB is running in production by multiple Governments and Security projects. Your data always has
                  been encrypted and safe within KubeDB.
                </p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

            <!-- single accordion item start  -->
            <div class="single-accordion-item closed">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>Do you have any support system?</h3>
                <button class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body">
                <p>We have 24x7 support system and maintain SLA to provide 100% reliability to our customers</p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

            <!-- single accordion item start  -->
            <div class="single-accordion-item closed">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>Is Stash complementary with KubeDB?</h3>
                <button class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body">
                <p>Yes, Stash is seemingly integrated with KubeDB. There is no extra charge for using Stash. It is
                  complimentary with KubeDB.</p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

            <!-- single accordion item start  -->
            <div class="single-accordion-item closed">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>Can we try KubeDB Enterprise Edition?</h3>
                <button class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body">
                <p>Of course! We offer a 30 days license free of cost to try KubeDB Enterprise Edition. And if you
                  want more trial days to make your decision you can contact us, we are open to talk.</p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

            <!-- single accordion item start  -->
            <div class="single-accordion-item closed">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>Can I upgrade or downgrade my subscription anytime?</h3>
                <button class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body">
                <p>Monthly plans are subject to a 30 day minimum term. Monthly plans can be upgraded anytime. Annual
                  plans can be downgraded at the end of the term.</p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

            <!-- single accordion item start  -->
            <div class="single-accordion-item closed">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>Is my payment information safe?</h3>
                <button class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body">
                <p>Our payment processing is powerd by <a href="https://stripe.com/">Stripe</a>. You credit card data
                  never touches our servers. For
                  more information, please visit <a href="https://stripe.com/">stripe.com</a>.</p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

            <!-- single accordion item start  -->
            <div class="single-accordion-item closed">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>Can I upgrade or downgrade my subscription anytime?</h3>
                <button class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body">
                <p>Monthly plans are subject to a 30 day minimum term. Monthly plans can be upgraded anytime. Annual
                  plans can be downgraded at the end of the term.</p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

            <!-- single accordion item start  -->
            <div class="single-accordion-item closed">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>Do you have any cancellation fee?</h3>
                <button class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body">
                <p>There is no cancellation fee. But plans are subject to minimum duration (30 days) as stated above.
                </p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->

            <!-- single accordion item start  -->
            <div class="single-accordion-item closed">
              <!-- accordion heading start  -->
              <div class="accordion-heading">
                <h3>What types of payment do you accept?</h3>
                <button class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <!-- accordion heading end -->
              <!-- accordion body start  -->
              <div class="accordion-body">
                <p>We accept all popular credit/debit cards such as Visa, Mastercard, American Express, Discover, etc.
                  We also accept ACH debit/credit or any kind of bank transaction.</p>
              </div>
              <!-- accordion body end -->
            </div>
            <!-- single accordion item end  -->
          </div>
        </div>
      </div>
</section>

<script>
  // custom accordion
  function acAccordion(actionBtn) {
    let accordionHeadingAll = document.querySelectorAll(actionBtn);
    // Create event listeners for each accordion heading
    Array.from(accordionHeadingAll).forEach((accordionHeading) => {
      accordionHeading.addEventListener("click", function () {
        let singleAcc = accordionHeading.closest(".single-accordion-item");

        let isOpen = singleAcc.classList.contains("open");

        // select all accordion
        let accordionItems = document.querySelectorAll(".single-accordion-item");
        Array.from(accordionItems).forEach((accordionItem) => {
          // close all item
          accordionItem.className = "single-accordion-item closed";
          let icon = accordionItem.querySelector(".icon .fa");
          if (icon) {
            icon.classList.replace("fa-minus", "fa-plus");
          }
          let accordionBody = accordionItem.querySelector(".accordion-body");
          accordionBody.style.maxHeight = null;
        });

        // get single element icon
        let icon = singleAcc.querySelector(".icon .fa");
        if (isOpen) {
          singleAcc.className = "single-accordion-item closed";
          let accordionBody = singleAcc.querySelector(".accordion-body");
          accordionBody.style.maxHeight = null;
          if (icon) {
            icon.classList.replace("fa-minus", "fa-plus");
          }
        } else {
          singleAcc.className = "single-accordion-item open";
          let accordionBody = singleAcc.querySelector(".accordion-body");
          accordionBody.style.maxHeight = accordionBody.scrollHeight + "px";
          if (icon) {
            icon.classList.replace("fa-plus", "fa-minus");
          }
        }
      });
    });
  }

  acAccordion(".accordion-heading h3");
  acAccordion(".accordion-heading .icon");
</script>
<!--==========================  faq area end  ==========================-->
