// Colour variable

$kubeci-primary: #2c3e50;

/*==================================================
           Theme kubeci start
====================================================*/
//background colour
body.kubeci .kubedb-primary-bg,
body.kubeci .kd-primary,
body.kubeci.fixed-nav #header,
body.kubeci .socail-link-inline li a:hover,
body.kubeci .tbl-of-contents ul a.active:before,
body.kubeci .kd-version a.dropdown-item:hover,
body.kubeci .ac-dropdown a.navbar-item:hover,
body.kubeci a.nav-link.active:after,
body.kubeci .trial-button .button{
  background-color: $kubeci-primary;
}
//Font-colour
body.kubeci .kd-transparent-btn,
body.kubeci .carousel-wrapper:after,
body.kubeci .cta-text h2,
body.kubeci .main-menu-button a,
body.kubeci .navbar-link.is-active,
body.kubeci .navbar-link:hover,
body.kubeci a.navbar-item.is-active,
body.kubeci a.navbar-item:hover,
body.kubeci .customize-kubedb .navbar-dropdown .navbar-item,
body.kubeci .carousel-wrapper:after,
body.kubeci .footer-link li a:hover,
body.kubeci .accordion-item.active .accordion-header h2,
body.kubeci ul li b,
body.kubeci .full-info p b,
body.kubeci .full-info ul li p a,
body.kubeci .full-info p a,
body.kubeci .full-info a,
body.kubeci .tbl-of-contents ul a.active,
body.kubeci li.nav-item.active a,
body.kubeci .item ul li.is-active a,
body.kubeci .kd-sidebar-menu li a:hover {
  color: $kubeci-primary;
}
//Border-colour
body.kubeci .star-count::before,
body.kubeci .subscription-form .button,
body.kubeci .accordion-item.active,
body.kubeci blockquote {
  border-color: $kubeci-primary;
}
/*==================================================
           Theme kubeci End
====================================================*/
