{{ define "main" }}
<!-- hero area start -->
<section class="hero-area">
  <div class="container section">
    <div>
      <div class="columns">
        <div class="column is-6">
          <!-- hero content start -->
          <div class="hero-area-content d-table">
            <div class="hero-content-inner d-table-cell">
              <h4>KubeDB</h4>
              <h1>
                Run production-grade databases <br />
                easily on <strong>Kubernetes</strong>
              </h1>
              <div class="hero-area-button buttons">
                <a href="#" class="button kd-button kd-primary"
                  >Schedule a Demo</a
                >
                <a href="#" class="button kd-tranparent-btn"
                  ><span
                    ><i
                      class="fa fa-cloud-download"
                      aria-hidden="true"
                    ></i></span
                  >Download Datasheet</a
                >
              </div>
            </div>
          </div>
          <!-- hero content end -->
        </div>
        <div class="column is-6">
          <!-- hero image start -->
          <div class="hero-area-img">
            <img src="/assets/images/hero-img.png" alt="" class="img" />
          </div>
          <!-- hero image end -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero area end -->

<!-- about feature area start -->
<section class="feature-area section-padding">
  <div class="container section">
    <div class="columns">
      <div class="column is-5">
        <div class="feature-video d-table">
          <div class="feature-inner d-table-cell">
            <a href="#" class="play-icon" id="playBtn">
              <i class="fa fa-play" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="column is-7">
        <div class="feature-content">
          <h2>Lorem Ipsum is simply dummy text of the printing.</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and it is the best
            typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever.
          </p>
          <p>
            Scrambled it to make a type specimen book. It has survived not only
            five <br />
            centuries, but also the leap into electronic typesetting, remaining
            essentially
          </p>
          <div class="feature-button">
            <a href="#" class="button kd-button kd-primary"
              >All Features
              <span
                ><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about feature area end -->

<!-- feature bottom area start -->
<section class="section-padding">
  <div class="container section">
    <div class="columns">
      <div class="column is-5">
        <div class="feature-wrapper d-table">
          <div class="feature-content d-table-cell">
            <h2>
              Our database engines make it easy to set up, operate, and scale.
            </h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and it is the
              best typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever.
            </p>
            <div class="feature-button">
              <a href="#" class="button kd-button kd-primary">Try it FREE</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-7">
        <div class="db-logo-area">
          <!-- single db logo start -->
          <a class="single-db-logo">
            <img src="/assets/images/db-logo/postgre.png" alt="" class="img" />
          </a>
          <!-- single db logo end -->
          <!-- single db logo start -->
          <a class="single-db-logo">
            <img
              src="/assets/images/db-logo/logo-memcached.png"
              alt=""
              class="img"
            />
          </a>
          <!-- single db logo end -->
          <!-- single db logo start -->
          <a class="single-db-logo">
            <img src="/assets/images/db-logo/redis.png" alt="" class="img" />
          </a>
          <!-- single db logo end -->
          <!-- single db logo start -->
          <a class="single-db-logo">
            <img src="/assets/images/db-logo/mongo.png" alt="" class="img" />
          </a>
          <!-- single db logo end -->
          <!-- single db logo start -->
          <a class="single-db-logo">
            <img src="/assets/images/db-logo/sql.png" alt="" class="img" />
          </a>
          <!-- single db logo end -->
          <!-- single db logo start -->
          <a class="single-db-logo">
            <img
              src="/assets/images/db-logo/elasticsearch.png"
              alt=""
              class="img"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- feature bottom area end -->
{{ end }}
