{{ define "main" }}

{{ $p := (index .Site.Data.products .Site.Params.product_key) }}

<section>
  <div class="container">
    <div class="columns">
        <div class="column has-text-centered">
            <div class="schedule-title">
                <h2>Talk to a product expert about {{ $p.name }}
                </h2>
            </div>
        </div>
    </div>
  </div>
</section>
<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/appscode/intro" style="min-width:320px;height:800px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Calendly inline widget end -->

{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}
