// ac-buttons
@mixin ac-button($colorName) {
  background-color: $colorName;
  color: $ac-white;
  border: none;

  &:hover {
    @if (type_of($colorName) == "color") {
      background-color: darken($colorName, 2%);
    } @else {
      background-color: $colorName;
    }

    box-shadow: 0px 6px 12px scale-color($color: $colorName, $lightness: 70%);
  }

  &:focus-visible {
    outline: none;
  }

  &.is-light {
    @if (type_of($colorName) == "color") {
      background-color: scale-color($colorName, $lightness: 90%);
    } @else {
      background-color:$colorName;
    }

    color: $colorName;

    &.is-border {
      border: 1px solid $colorName;
    }

    &:hover {
      @if (type_of($colorName) == "color") {
        background-color: scale-color($colorName, $lightness: 80%);
      } @else {
        background-color: $colorName;
      }
    }
  }

  &.is-outlined {
    background-color: transparent;
    border: 1px solid $colorName;
    color: $colorName;

    &:hover {
      background-color: $colorName;
      color: $ac-white;
    }
  }

}

// Absulate Shape
@mixin absulate-shape($colorName, $width, $height) {
  position: absolute;
  content: "";
  width: $width;
  height: $height;
  background-color: $colorName;
  left: 0;
  top: 0;
}


@mixin colorize-product($name, $color) {
  /*==================================================
                  Theme #{$name} Start
  ====================================================*/

  // background color
  body.#{$name} .kubedb-primary-bg,
  body.#{$name} .kd-primary,
  body.#{$name}.fixed-nav .fixed-menu,
  body.#{$name} .socail-link-inline li a:hover,
  body.#{$name} .tbl-of-contents ul a.active:before,
  body.#{$name} .kd-version a.dropdown-item:hover,
  body.#{$name} .ac-dropdown a.navbar-item:hover,
  body.#{$name} a.nav-link.active:after,
  body.#{$name} .trial-button .button,
  body.#{$name} .pricing-top,
  body.#{$name} .pricing-button .kd-button,
  body.#{$name} .subscription-form .button:hover,
  body.#{$name} .searchbar-area button,
  body.#{$name} .countdown-area .right-sidebar-menu ul li a::after,
  body.#{$name} .pagination-list li a.is-active,
  body.#{$name} .pricing-button .kubedb-transparent-btn:hover,
  body.#{$name} .single-product-feature-wrapper:after {
    background-color: #{$color};
  }
  // font-color
  body.#{$name} .kd-transparent-btn,
  body.#{$name} .carousel-wrapper:after,
  body.#{$name} .cta-text h2,
  body.#{$name} .main-menu-button a,
  body.#{$name} .navbar-link.is-active,
  body.#{$name} .navbar-link:hover,
  body.#{$name} a.navbar-item.is-active,
  body.#{$name} a.navbar-item:hover,
  body.#{$name} .customize-kubedb .navbar-dropdown .navbar-item,
  body.#{$name} .carousel-wrapper:after,
  body.#{$name} .footer-link li a:hover,
  body.#{$name} .footer-inline-link a:hover,
  body.#{$name} .accordion-item.active .accordion-header h2,
  body.#{$name} ul li b,
  body.#{$name} .full-info p b,
  body.#{$name} .full-info ul li p a,
  body.#{$name} .full-info p a,
  body.#{$name} .full-info a,
  body.#{$name} .tbl-of-contents ul a.active,
  body.#{$name} li.nav-item.active a,
  body.#{$name} .item ul li.is-active a,
  body.#{$name} .kd-sidebar-menu li a:hover,
  body.#{$name} .service-content h5,
  body.#{$name} .trusted-action a,
  body.#{$name} .trusted-company a,
  body.#{$name} .single-count-wrapper:hover .count,
  body.#{$name} .single-count-wrapper .action-btn,
  body.#{$name} .subscription-form .button,
  body.#{$name} .section-title h4,
  body.#{$name} .hero-content-inner h4,
  body.#{$name} .pricing-button .kubedb-transparent-btn,
  body.#{$name} .hero-area-content .play-buttons a span.video-icon,
  body.#{$name} .hero-area-content .play-buttons a,
  body.#{$name} .single-pricing-table.silver .discount-text,
  body.#{$name} .single-search-result h3 a {
    color: #{$color};
  }
  // border-color
  body.#{$name} .star-count::before,
  body.#{$name} .accordion-item.active,
  body.#{$name} blockquote,
  body.#{$name} .input.is-active,
  body.#{$name} .input.is-focused,
  body.#{$name} .input:active,
  body.#{$name} .input:focus,
  body.#{$name} .textarea.is-active,
  body.#{$name} .textarea.is-focused,
  body.#{$name} .textarea:active,
  body.#{$name} .textarea:focus,
  body.#{$name} .pricing-button .kubedb-transparent-btn,
  body.#{$name} .pricing-button .kubedb-transparent-btn:hover,
  body.#{$name} .searchbar-area input:focus,
  body.#{$name} .hero-area-content .play-buttons a span.video-icon,
  body.#{$name} .subscription-form .input:hover {
    border-color: #{$color};
  }
  body.#{$name} .pricing-top:before {
    border-right-color: darken($color, 15%);
  }
  body.#{$name} .go-to-top {
    background-color: rgba($color, 0.8);
  }
  body.#{$name} .documentation-menu {
    background-color: scale-color($color, $lightness: 80%);
  }
  /*==================================================
                  Theme #{$name} End
  ====================================================*/
}

/*==================================================
                  Theme CSS prefix End
  ====================================================*/
