/* call to action area */

.cta-padding {
  padding: 80px 100px;
  box-shadow: 0px 8px 57px rgba(38, 102, 151, 0.17);
  border-radius: 4px;
}

.cta-text h2 {
  font-size: 36px;
  color: $ac-primary;
  line-height: 42px;
}

.cta-text p {
  font-size: 26px;
  color: $ac-color-text;
  margin-top: 10px;
  margin-bottom: 0;
}

/*====================================
    Support page CSS
====================================*/
.pricing-plan-area {
  background-color: #f9f9f9;
}

.support-page .hero-content-inner h1 {
  margin-bottom: 30px;
  color: $ac-color-heading;
  font-weight: 500;
  line-height: 64px;
}

/* Payment Method section style */
.single-payment-method {
  display: inline-block;
  margin-left: 30px;
}

.single-payment-method:first-child {
  margin-left: 0;
}

.payment-method-innner-text h2 {
  color: $ac-color-heading;
  margin-bottom: 20px;
}

.payment-method-innner-text p {
  margin: 0;
}

.payment-method-area {
  position: relative;
  background-image: url(../images/shape/shape-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  margin-top: 120px;
}

.payment-method-area:after {
  background-image: url(../images/shape/shape-2.png);
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.item ul,
.item input[type="checkbox"] {
  display: none;
  overflow: hidden;
  transition: 0.3s;
}

.product-sidebar-menu .item label a {
  font-weight: 500;
  color: $ac-color-heading;
  padding: 0.5rem 1.25rem;
  display: block;
}

.item ul li.is-active a {
  color: $ac-primary;
}

.item input:checked ~ ul,
.item input:checked ~ .item > ul {
  display: block;
  transition: 0.3s linear;
}

.item input:checked ~ label span,
.item input:checked ~ .item > label span {
  transform: rotate(90deg);
  margin-top: 0;
  transform-origin: 0;
}

.item label span {
  position: absolute;
  right: 15px;
  transition: 0.3s ease-in-out;
  top: 9px;
}

.item ul li a {
  display: block;
  padding: 6px 0;
  font-family: $ac-font-paragraph;
  font-weight: 400;
}

.item label {
  position: relative;
  z-index: 9;
}

.product-sidebar-menu label,
.product-sidebar-menu li a {
  font-size: 14px;
  font-weight: 500;
  color: $ac-color-link;
  display: block;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.product-sidebar-menu li a:hover {
  color: $ac-primary;
}

.product-sidebar-menu .item ul {
  margin-left: 20px;
  padding-left: 15px;
  border-left: 1px solid $ac-white-light;
}
// border remove style
// .item input:checked ~ label,
// .item input:checked ~ .item > label {
//   border: 1px solid $ac-white-light;
//   background: $ac-white;
// }

.item:first-child input:checked ~ label,
.item:first-child input:checked ~ .item:first-child > label {
  border: 1px solid transparent;
}

.appscode-style .item input:checked ~ label > a {
  color: $ac-primary;
}

.item input:checked ~ ul,
.item input:checked ~ .item > ul > .item {
  margin-left: -20px;
}

.ac-product-left-sidebar {
  margin-right: 30px;
  position: sticky;
  top: 130px;
  z-index: 9;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  max-height: calc(100vh - 190px);
  overflow-x: hidden;
}

.product-sidebar-menu .item label {
  border: 1px solid transparent;
  position: relative;
  z-index: 1;
  border-radius: 3px 0 0 3px;
}

/* datasheet style start */
.datasheet-wrapper {
  padding: 0 100px;
}

.download-question h4 {
  font-size: 18px;
  color: $ac-color-heading;
  font-weight: 700;
}

.download-question p {
  color: $ac-color-text;
  font-size: 16px;
  font-family: $ac-font-paragraph;
}

.download-question p strong {
  color: #32325d;
  font-weight: 500;
  font-family: $ac-font-paragraph;
  margin: 10px 0;
  display: block;
}

.download-question a {
  font-family: $ac-font-paragraph;
  font-size: 16px;
}

.form-area h4 {
  font-size: 18px;
  color: $ac-color-heading;
  font-weight: 700;
  margin-bottom: 30px;
}

.single-input-field label {
  display: block;
  color: #32325d;
  font-family: $ac-font-paragraph;
  font-size: 16px;
  margin-bottom: 5px;
}

.single-input-field input {
  padding: 12px 15px;
  border: 1px solid #c4cbd3;
  border-radius: 4px;
  font-size: 16px;
  font-family: $ac-font-paragraph;
  color: #242a31;
  width: 100%;
}

.single-input-field input::placeholder {
  color: $ac-white-light;
}

.single-input-field .select,
select {
  width: 100%;
  height: 48px !important;
}

.single-input-field .select select:not([multiple]) {
  padding-left: 15px;
  color: $ac-white-light;
}

.download-button .icon {
  padding-right: 25px;
}

/* datasheet style end */

/* schedule-demo start */
embed,
iframe,
object,
video {
  height: 100%;
  max-width: 100%;
}

.schedule-title {
  margin-top: 65px;
  color: #242a31;
  margin-bottom: 30px;
}

/* schedule-demo end */
