/* ======================
  Global CSS start
========================*/
.br-1 {
  border-right: 1px solid #e2e2e2;
}

.bl-1 {
  border-left: 1px solid #e2e2e2;
}

.bt-1 {
  border-top: 1px solid #e2e2e2;
}

.bb-1 {
  border-bottom: 1px solid #e2e2e2;
}

.pr-140 {
  padding-right: 140px;
}

.pr-115 {
  padding-right: 115px;
}

::-moz-selection {
  /* Code for Firefox */
  color: $ac-white;
  background: $ac-primary;
}

::selection {
  color: $ac-white;
  background: $ac-primary;
}


pre {
  margin-bottom: 15px;
  padding: 20px 15px;
}

.kubedb-primary-bg {
  background-color: $ac-primary;
}

.tooltip.is-tooltip-primary::before {
  background-color: #32325d;
  color: $ac-white;
  min-width: 200px;
  padding: 15px;
  font-weight: 400;
  font-style: normal;
}

.tooltip.is-tooltip-primary:not(.is-loading)::after {
  border-color: #32325d transparent transparent transparent;
}


.ac-custom-select {
  .ss-single-selected,
  .ss-multi-selected {
    min-height: 45px !important;
    border: 1px solid #a6abbd;
    color: $ac-color-text;
    padding: 0 15px;

    .ss-arrow {
      margin: 0;
    }
    .placeholder {
      font-size: 15px;
      color: $ac-color-text;
      font-weight: 500;
    }
    .ss-values {
      margin-top: 3px;

      .ss-disabled {
        margin: 0;
        padding: 0;
        font-family: $ac-font-paragraph;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #a6abbd;
      }

      .ss-value {
        height: 30px;
        margin-bottom: 6px;
        padding: 0 10px;
        background-color: #35a651;
      }
    }

    .ss-add {
      margin: 4px;
      align-items: center;
    }
  }

  .ss-content {
    border: 1px solid #a6abbd;

    .ss-list {
      .ss-option {
        font-size: 14px;
        color: $ac-color-text;
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: scale-color($ac-primary, $lightness: 80%);
          color: $ac-primary;
        }

        &.ss-disabled {
          opacity: 0.5;
        }
      }
    }

    .ss-search {
      input {
        border: 1px solid #a6abbd;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}

.img {
  max-width: 100%;
  height: auto;
}

.d-table {
  display: table;
  height: 100%;
  width: 100%;
}

.d-table-cell {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.section-padding {
  padding: 120px 0;
}

.container.section {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  margin-bottom: 50px;
}

.subscription-form .input.is-hovered,
.subscription-form .input:hover {
  border-color: $ac-primary;
}

.input.is-active,
.input.is-focused,
.input:active,
.input:focus,
.textarea.is-active,
.textarea.is-focused,
.textarea:active,
.textarea:focus {
  border-color: $ac-primary;
  box-shadow: none;
}

video:focus {
  outline: none;
}

.is-dark {
  background-color: #32325d;
}

.is-success {
  background-color: #00a651 !important;
}

.is-info {
  background-color: #1da1f2 !important;
}

.is-blue {
  background-color: #3f19ad !important;
  color: $ac-white;
}

.is-gold {
  background-color: #f99a00 !important;
  color: $ac-white !important;
}

.is-marked {
  background-color: $ac-white-lighter !important;
}

.is-danger {
  background-color: #e01563;
}

.is-red {
  background-color: #e03056 !important;
  color: $ac-white !important;
}

.is-dark-red {
  background-color: #8e2c4a !important;
  color: $ac-white !important;
}

.is-light-blue {
  background-color: #d1ecfd !important;
  color: #1da1f2;
}

.is-white {
  background-color: $ac-white !important;
  color: #4d4f5c !important;
  border: 1px solid #e9e9f0;
}

.is-tranparent {
  background: transparent !important;
  border: none;
  cursor: pointer;
}

.is-gray {
  background-color: #e9e9f0 !important;
  color: #4d4f5c !important;
}

.is-white-gray {
  background-color: #e9e9f0;
  border: none;
}


