/* ======================
  Global CSS start
========================*/
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,600i,700,700i,800,800i,900|Roboto:400,400i,500,500i,700");

body {
  font-family: $font-paragraph;
  font-weight: 400;
  font-style: normal;
}
li b {
  font-family: $font-paragraph;
}
a {
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

p {
  font-family: $font-paragraph;
  font-size: $font-semi-regular;
  font-weight: 400;
  line-height: 1.8;
  color: $paragraph-color;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: normal;
  text-transform: normal;
  font-style: normal;
  margin-top: 0px;
  color: $heading-color;
  font-weight: 600;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-family: $font-paragraph;
  color: inherit;
}
pre {
  margin-bottom: 15px;
  padding: 10px 15px;
}
footer li a {
  font-family: $font-paragraph;
  font-weight: 400;
}

a {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 46px;
}

h2 {
  font-size: 28px;
  line-height: 38px;
}

h3 {
  font-size: 24px;
  line-height: 34px;
}

h4 {
  font-size: 18px;
  line-height: 32px;
}

h5 {
  font-size: 16px;
  line-height: 26px;
}

h6 {
  font-size: 14px;
  line-height: 24px;
}

.kd-primary {
  background-color: $primary-color;
  color: $white-color !important;
}
.ac-primary {
  background-color: $primary-color;
  color: $white-color !important;
}
.ac-primary-color {
  color: $primary-color;
}
.kubedb-primary-bg {
  background-color: $primary-color;
}
.tooltip.is-tooltip-primary::before {
  background-color: #32325d;
  color: $white-color;
  line-height: 1.5;
  min-width: 200px;
  padding: 15px;
  font-weight: 400;
  font-style: normal;
}
.tooltip.is-tooltip-primary:not(.is-loading)::after {
  border-color: #32325d transparent transparent transparent;
}
/* button style */
.button {
  height: auto;
}

.kd-button,
.ac-button {
  border: none;
  border-radius: 4px;
  padding: 12px 40px;
  display: inline-block;
  font-weight: 500;
  margin: 0;
  color: $white-color;
  transition: 0.3s;
  font-family: $font-paragraph;
  font-size: 16px;
  min-width: 190px;
}

.kd-button:hover {
  background-color: darken($primary-color, 3%);
  color: $white-color;
  box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.16);
}

.ac-button:hover {
  background-color: darken($primary-color, 3%);
  color: $white-color;
  box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.16);
}

.kd-button span {
  padding-left: 10px;
}

.img {
  max-width: 100%;
  height: auto;
}

.d-table {
  display: table;
  height: 100%;
  width: 100%;
}

.d-table-cell {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.section-padding {
  padding: 120px 0;
}
.section-padding-100{
  padding: 100px 0;
}
.section-padding-90{
  padding: 90px 0;
}
.section-padding-80{
  padding: 80px 0;
}
.section-padding-70{
  padding: 70px 0;
}
.section-padding-60{
  padding: 60px 0;
}
.section-padding-50{
  padding: 50px 0;
}
.container.section {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  margin-bottom: 80px;
}
.subscription-form .input.is-hovered,
.subscription-form .input:hover {
  border-color: $primary-color;
}
.input.is-active,
.input.is-focused,
.input:active,
.input:focus,
.textarea.is-active,
.textarea.is-focused,
.textarea:active,
.textarea:focus {
  border-color: $primary-color;
  box-shadow: none;
}

.is-blue {
  background-color: #3f19ad !important;
  color: $white-color;
}

.is-gold {
  background-color: #f99a00 !important;
  color: $white-color !important;
}

.is-marked {
  background-color: #fff5e5 !important;
}

.is-red {
  background-color: #e03056 !important;
  color: $white-color !important;
}

.is-dark-red {
  background-color: #8e2c4a !important;
  color: $white-color !important;
}

.is-light-blue {
  background-color: #d1ecfd !important;
  color: #1da1f2;
}

.is-white {
  background-color: $white-color !important;
  color: #4d4f5c !important;
  border: 1px solid #e9e9f0;
}

.is-tranparent {
  background: transparent !important;
  border: none;
  cursor: pointer;
}

.is-gray {
  background-color: #e9e9f0 !important;
  color: #4d4f5c !important;
}

.is-white-gray {
  background-color: #e9e9f0;
  border: none;
}

/* Deafult Margin & Padding view-height & view-width */
@for $i from 0 through 200 {
  
  .mt-#{$i} {
    margin-top: #{$i}px !important;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px !important;
  }

  .ml-#{$i} {
    margin-left: #{$i}px !important;
  }

  .mr-#{$i} {
    margin-right: #{$i}px !important;
  }

  .pt-#{$i} {
    padding-top: #{$i}px !important;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}px !important;
  }

  .pl-#{$i} {
    padding-left: #{$i}px !important;
  }

  .pr-#{$i} {
    padding-right: #{$i}px !important;
  }

  .p-#{$i} {
    padding: #{$i}px !important;
  }

  .vh-#{$i} {
    height: #{$i}vh !important;
  }

  .vw-#{$i} {
    width: #{$i}vw !important;
  }
}

/* font weight */
.f-700 {
  font-weight: 700;
}

.f-600 {
  font-weight: 600;
}

.f-500 {
  font-weight: 500;
}

.f-400 {
  font-weight: 400;
}

.f-300 {
  font-weight: 300;
}
