.service-image.is-box-shadow {
  img{
    box-shadow: 0px 8px 57px rgba(0, 0, 0, 0.16);
  }
}
.service-content {
  padding-right: 60px;
  h5 {
    color: $ac-primary;
    font-size: 14px;
    font-weight: 600;
  }
  h2 {
    color: $ac-color-heading;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    margin-bottom: 10px;
  }
  p {
    color: $ac-color-text;
    font-size: 16px;
    max-width: 83%;
  }
}


.ac-custom-tabs {
  ul {
    li {
      margin-bottom: 30px;
      a {
        color: #242a31;
        font-size: 24px;
        font-family: $ac-font-paragraph;
        display: block;
        padding: 20px 20px;
        box-shadow: 0px 1px 4px rgba(26, 80, 151, 0.16);
        border-radius: 9px;
        transition: 0.3s;
        &:hover {
          box-shadow: 0px 8px 50px rgba(26, 80, 151, 0.16);
        }
        span.circle-shape {
          width: 20px;
          height: 20px;
          background: #00a0ff;
          display: inline-block;
          border-radius: 50%;
          margin-right: 14px;
        }
      }
    }
  }
}



.about-text-inner p {
  margin-bottom: 30px;
}

.ceo-message-wrapper h1 {
  margin-bottom: 40px;
  font-weight: 400;
}

.signature-image {
  margin-top: 40px;
  p {
    font-family: $ac-font-heading;
    font-weight: 600;
  }
}

.ceo-image {
  position: relative;
  z-index: 1;
  img{
    max-width: 300px;
    margin-top: 20px;
  }
  .dots-style {
    position: absolute;
    background: url(../images/appscode/dots.png);
    background-repeat: no-repeat;
    height: 150px;
    width: 250px;
    right: 100px;
    bottom: -75px;
    z-index: -1;
    left: 50%;
    margin-left: -125px;
  }
}

section.our-customer-area {
  background: #fbfbfb;
}
