@mixin border-radius($border) {
  border-radius: $border;
  -webkit-border-radius: $border;
  -moz-border-radius: $border;
  -ms-border-radius: $border;
  -o-border-radius: $border;
}

@mixin transform($deg) {
  transform: $deg;
  -webkit-transform: $deg;
  -moz-transform: $deg;
  -ms-transform: $deg;
  -o-transform: $deg;
}

@mixin  transition($sec) {
  transition: $sec ease-in-out  ;
  -webkit-transition: $sec ease-in-out  ;
  -moz-transition: $sec ease-in-out  ;
  -ms-transition: $sec ease-in-out  ;
  -o-transition: $sec ease-in-out  ;
}
