// Define KubeDB Font Family
$font-heading: "Raleway", sans-serif;
$font-paragraph: "Roboto", sans-serif;
$font-link: "Roboto", sans-serif;

// Define KubeDB Font Size
$font-small: 12px;
$font-regular: 15px;
$font-semi-regular: 16px;
$font-large: 18px;

// Define KubeDB Colour
$primary-color: #4d4dcb;
$heading-color: #242a31;
$paragraph-color: #393e46;
$link-color: #4a4a4a;

// Define Basic Colour
$green-color: #00a651;
$orange-color: #f99a00;
$red-color: #e03056;
