// Define KubeDB Font Family
$ac-font-heading: "Raleway", sans-serif;
$ac-font-paragraph: "Roboto", sans-serif;
$ac-color-link: "Roboto", sans-serif;

// Define KubeDB Font Size
$font-size-extra-small: 12px;
$font-regular: 15px;
$font-semi-regular: 16px;
$font-large: 18px;

// Define KubeDB Colour
$ac-color-heading: #242a31;
$ac-color-text: #393e46;
$ac-color-link: #4a4a4a;
$ac-white-light: #E8E9EA;

// Define Basic Colour
$ac-white: #ffffff;
$ac-orange: #FF8000;
$ac-red: #e03056;
$ac-blue: #0AAFFF;

//theme color define
$ac-primary: #00A651;
$voyager-primary: #2D2A78;
$guard-primary: #D84E27;
$kubeci-primary: #2c3e50;
$kubed-primary: #1C7BD4;
$kubedb-primary: #4D4DCB;
$kubesheild-primary: #2516C7;
$kubevault-primary: #326ce5;
$pharmer-primary: #326DE6;
$searchlight-primary: #111738;
$service-broker-primary: #29B4A2;
$stash-primary: #5E2DEA;
$swift-primary: #3F51B6;
