// Define KubeDB Font Family
$font-heading: "Raleway", sans-serif;
$font-paragraph: "Roboto", sans-serif;
$font-link: "Roboto", sans-serif;

// Define KubeDB Font Size
$font-small: 12px;
$font-regular: 15px;
$font-semi-regular: 16px;
$font-large: 18px;

// Define KubeDB Colour
$primary-color: #4D4DCB;
$heading-color: #242A31;
$paragraph-color: #393E46;
$link-color: #4a4a4a;
