{{ define "main" }}

<section class="video-player-area mt-100">
  <div class="container mt-100">
    <div class="video-player-wrapper">
      <!-- left sidebar area start  -->
      <div class="left-sidebar">
        left sidebar
      </div>
      <!-- left sidebar area end -->
      <!-- right content start  -->
      <div class="right-content">
        <!-- header items start  -->
        <div class="header-items">
          <div class="left-content">left content</div>
          <div class="right-content">right content</div>
        </div>
        <!-- header items end -->
        body content start 
      </div>
      <!-- right content end -->
    </div>
  </div>
</section>
{{ end }}