// Colour variable

$kubevault-primary: #0fb9b1;

/*==================================================
           Theme kubevault start
====================================================*/
//background colour
body.kubevault .kubedb-primary-bg,
body.kubevault .kd-primary,
body.kubevault.fixed-nav #header,
body.kubevault .socail-link-inline li a:hover,
body.kubevault .tbl-of-contents ul a.active:before,
body.kubevault .kd-version a.dropdown-item:hover,
body.kubevault .ac-dropdown a.navbar-item:hover,
body.kubevault a.nav-link.active:after,
body.kubevault .trial-button .button {
  background-color: $kubevault-primary;
}
//Font-colour
body.kubevault .kd-transparent-btn,
body.kubevault .carousel-wrapper:after,
body.kubevault .cta-text h2,
body.kubevault .main-menu-button a,
body.kubevault .navbar-link.is-active,
body.kubevault .navbar-link:hover,
body.kubevault a.navbar-item.is-active,
body.kubevault a.navbar-item:hover,
body.kubevault .customize-kubedb .navbar-dropdown .navbar-item,
body.kubevault .carousel-wrapper:after,
body.kubevault .footer-link li a:hover,
body.kubevault .accordion-item.active .accordion-header h2,
body.kubevault ul li b,
body.kubevault .full-info p b,
body.kubevault .full-info ul li p a,
body.kubevault .full-info p a,
body.kubevault .full-info a,
body.kubevault .tbl-of-contents ul a.active,
body.kubevault li.nav-item.active a,
body.kubevault .item ul li.is-active a,
body.kubevault .kd-sidebar-menu li a:hover {
  color: $kubevault-primary;
}
//Border-colour
body.kubevault .star-count::before,
body.kubevault .subscription-form .button,
body.kubevault .accordion-item.active,
body.kubevault blockquote {
  border-color: $kubevault-primary;
}
/*==================================================
           Theme kubevault End
====================================================*/
