// Colour variable

$kubesheild-primary: #95a5a6;

/*==================================================
           Theme kubesheild start
====================================================*/
//background colour
body.kubesheild .kubedb-primary-bg,
body.kubesheild .kd-primary,
body.kubesheild.fixed-nav #header,
body.kubesheild .socail-link-inline li a:hover,
body.kubesheild .tbl-of-contents ul a.active:before,
body.kubesheild .kd-version a.dropdown-item:hover,
body.kubesheild .ac-dropdown a.navbar-item:hover,
body.kubesheild a.nav-link.active:after,
body.kubesheild .trial-button .button {
  background-color: $kubesheild-primary;
}
//Font-colour
body.kubesheild .kd-transparent-btn,
body.kubesheild .carousel-wrapper:after,
body.kubesheild .cta-text h2,
body.kubesheild .main-menu-button a,
body.kubesheild .navbar-link.is-active,
body.kubesheild .navbar-link:hover,
body.kubesheild a.navbar-item.is-active,
body.kubesheild a.navbar-item:hover,
body.kubesheild .customize-kubedb .navbar-dropdown .navbar-item,
body.kubesheild .carousel-wrapper:after,
body.kubesheild .footer-link li a:hover,
body.kubesheild .accordion-item.active .accordion-header h2,
body.kubesheild ul li b,
body.kubesheild .full-info p b,
body.kubesheild .full-info ul li p a,
body.kubesheild .full-info p a,
body.kubesheild .full-info a,
body.kubesheild .tbl-of-contents ul a.active,
body.kubesheild li.nav-item.active a,
body.kubesheild .item ul li.is-active a,
body.kubesheild .kd-sidebar-menu li a:hover {
  color: $kubesheild-primary;
}
//Border-colour
body.kubesheild .star-count::before,
body.kubesheild .subscription-form .button,
body.kubesheild .accordion-item.active,
body.kubesheild blockquote {
  border-color: $kubesheild-primary;
}
/*==================================================
           Theme kubesheild End
====================================================*/
