{{ define "main" }}

{{- $pctx := . -}}
{{- $pages := $pctx.RegularPages -}}

<!-- articles area for page start -->
<section class="articles-area">
  <div class="container">
    <div class="columns is-multiline pb-0 mb-0">
      <div class="column is-12 pb-0 mb-0">
        <h4>All Articles</h4>
      </div>
      {{ range $idx, $p := $pages.ByDate.Reverse }}
      <div class="column is-3-fullhd is-4-widescreen is-6-tablet is-full-mobile">
        <a href="{{ $p.RelPermalink }}" class="single-article-card">
          <div class="thumbnail">
            {{ $original := $p.Resources.GetMatch "hero.jpg" }}
            {{ $cropped := $original.Resize "x220" }}
            <img src="{{ $cropped.RelPermalink }}" alt="{{ .Params.alt }}" loading="lazy" decoding="async">
          </div>
          <div class="p-16">
            <h2 class="is-ellipsis-2">{{ $p.Title }}</h2>
            <p class="is-ellipsis-2">{{$p.Description }}</p>
            <div class="card-bottom is-flex is-justify-content-space-between">
              <div class="date-meta">{{ .Date.Format "2-Jan-2006" }}</div>
              <div class="arrow-icon width-15">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentcolor" class="w-5 h-5">
                  <path fill-rule="evenodd" d="M3 10a.75.75.0 01.75-.75h10.638L10.23 5.29a.75.75.0 111.04-1.08l5.5 5.25a.75.75.0 010 1.08l-5.5 5.25a.75.75.0 11-1.04-1.08l4.158-3.96H3.75A.75.75.0 013 10z" clip-rule="evenodd"></path>
                </svg>
              </div>
            </div>
          </div>
        </a>
      </div>
      {{end}}
    </div>
  </div>
</section>
<!-- articles area for page end -->

{{ end }}
