{{ define "main" }}

<section class="article-details-area">
  <div class="container">
    <!-- is-centered -->
    <div class="columns is-multiline">
      <div class="column is-9">
        <div class="full-info content">
         <div class="content-body">
           {{ .Content }}
         </div>
        </div>

        <h5 class="mb-16">Share on social media</h5>
        <!-- sticky social menu start  -->

        <div class="sticky-social-menu">
          <div class="social-share">
            <ul class="social-share-button">
              <li>
                <a title="Share with Twitter" href="http://x.com/share?url={{ .Permalink }}&text={{ .Title | htmlEscape }}"
                  class="twitter" aria-label="share on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a title="Share with Linkedin"
                  href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title | htmlEscape }}&summary={{ .Summary | htmlEscape }}&source=LinkedIn"
                  class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
              <li>
                <a title="Share with Facebook" href="http://www.facebook.com/sharer.php?u={{ .Permalink }}"
                  class="facebook"
                  aria-label="share on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a title="Share with Email"
                  href="mailto:?&subject={{ .Title | htmlEscape }}&body={{ .Permalink | htmlEscape }}"><i
                    class="fa fa-envelope-o" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <!--sticky  social menu end -->
      </div>

      <div class="column is-3">
        <div class="right-sidebar-area article-toc">
          <div class="tbl-of-contents">
            <button class="button ac-button inline-button back-button pl-16 pr-16 is-hidden-tablet"><span class="icon close">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>              
            </span>CLOSE</button>
            <h4>What's on this Page</h4>
            {{ .TableOfContents }}
          </div>
        </div>
      </div>
      
    </div>

  </div>
  <script>
    const article_page_toc_button = document.querySelector('.article-page-toc-button');
    const articleToc = document.querySelector('.article-toc');
    const backButton = articleToc.querySelector('.back-button');

    backButton.addEventListener("click", function (){
      articleToc.style.right = "-100%";
    })

    article_page_toc_button?.addEventListener('click', function(){
      articleToc.style.right = "0";
    })
    
  </script>
</section>

{{ end }}
