{{ define "main" }}

{{ $p := (index .Site.Data.products .Site.Params.product_key) }}
<!-- new hero area start   -->
<!-- style="background-image: url(/assets/images/products/kubedb/features/hero-images.png);" -->
<section class="hero-area is-product is-dark"
  style="background-image: url(/assets/images/products/kubedb/features/hero-images.png);">
  <div class="container">
    <div class="columns is-vcentered is-multiline">
      <div class="column is-6 is-full-touch">
        <!-- <h1> {{ $p.tagline | safeHTML }}</h1> -->
        <h1>Run and Manage MySQL Database in Kubernetes</h1>
        <p>As the world’s enterprises rapidly move to the cloud, and Containers are taking over the world of software
          development</p>
        <div class="buttons">
          <a href="/docs/latest/setup/" class="button ac-button is-primary">GET STARTED</a>
        </div>
      </div>
      <div class="column is-6 is-full-touch">
        <div class="hero-area-right">
           <!-- code editor start  -->
           <div class="hero-area-code-editor is-dark">
             <div class="editor-header">
               <span class="action close"></span>
               <span class="action maximize"></span>
               <span class="action minimize"></span>
             </div>
             <pre>
<code class="language-javascript">
import { serve } from "https://deno.land/std@0.114.0/http/server.ts";
const messages = [];
const channel = new BroadcastChannel("chat");
channel.onmessage = (event) => {
  messages.push(event.data);
};
function handler(req: Request): Response {
  const { searchParams } = new URL(req.url);
  const msg = searchParams.get("msg");
  if (msg) channel.postMessage(msg);
  return new Response(JSON.stringify(messages), {
    headers: { "content-type": "application/json" }
  });
}
console.log("Listening on http://localhost:8000");
await serve(handler);
</code>
              </pre>
           </div>
           </div>
           <!-- code editor end  -->
          <!-- <img src="/assets/images/products/kubedb/hero-right-image.png" alt=""> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- new hero area end   -->

<!-- social prove logo area start   -->
<div class="social-prove-brand-area">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <div class="brand-image-wrapper">
          {{ range $customer := $.Site.Data.customers }}
          {{ if $customer.show }}
          <div class="single-brand"><img src="{{ $customer.logo }}" alt="{{ $customer.name }}"></div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- social prove logo area end -->


<!-- product features area start  -->
<section class="features-area mb-50">
  <div class="container">
    <!-- is-centered -->
    <div class="columns is-multiline is-vcentered">

      <!-- description content start  -->
      <div class="column is-6">
        <div class="features-description">
          <h2 class="is-size-6 has-text-primary">Why Choose KubeDB?</h2>
          <h1>Run and Manage MySQL Database in Kubernetes</h1>

          <p>As the world’s enterprises rapidly move to the cloud, and Containers are taking over the world of software
            development, Kubernetes is the platform that lets users seamlessly <strong>deploy, scale, run</strong>
            applications and
            manage their life cycles. </p>
          <p>But, Running Databases or Stateful applications in Kubernetes has always been a concern. And it becomes
            really difficult in terms of Run and manage <strong>Production-Grade Databases</strong> in Kubernetes.</p>

          <p>KubeDB is the Kubernetes Native Database Management Solution which simplifies and automates routine
            database tasks such as <strong>Provisioning</strong>, <strong>Monitoring</strong>,
            <strong>Patching</strong>, <strong>Backup</strong>,
            <strong>Recovery</strong>, <strong>Failure
              detection</strong>, and Repair for various popular databases on private and public clouds. KubeDB provides
            a simple
            mechanism for running your storage system in the same platform as your application.</p>
        </div>
      </div>
      <!-- description content end  -->
      <!-- features image start  -->
      <div class="column is-6">
        <div class="features-image">
          <ul class="check-list">
            <li><span class="material-icons-outlined">done</span>Provisioning</li>
            <li><span class="material-icons-outlined">done</span>Monitoring</li>
            <li><span class="material-icons-outlined">done</span>Patching</li>
            <li><span class="material-icons-outlined">done</span>Backup & Recovery</li>
            <li><span class="material-icons-outlined">done</span>Failure detection & Repair</li>
          </ul>
          <img src="https://via.placeholder.com/800/F3F4F7/808080" alt="">
        </div>
      </div>
      <!-- features image end -->
    </div>

    <!-- features items start  -->
    <div class="columns is-multiline is-centered">
      <div class="column is-10 ">
        <!-- single features start  -->
        <div class="columns is-vcentered">
          <div class="column is-4">
            <div class="features-thumbnail">
              <img src="https://via.placeholder.com/800/F3F4F7/808080" alt="">
            </div>
          </div>
          <div class="column is-6 is-offset-1">
            <h3>Provisioning</h3>
            <p>If you can run Kubernetes, you can simply provision MySQL databases using KubeDB. You don’t need to
              worry
              about all of the knowledge of Kubernetes Concept, Helm, and MySQL server side setup. KubeDB simplifies
              the
              whole process for you. You just have to use standard Kubernetes CLI and API to provision MySQL databases.
            </p>
          </div>
        </div>
        <!-- single features end  -->

        <!-- single features start  -->
        <div class="columns is-vcentered is-flex-direction-row-reverse-mobile">
          <div class="column is-6">
            <h3>Version Upgrade</h3>
            <p>Upgrading the database version in Kubernetes is complicated. Upgrade operation should follow a specific
              order. KubeDB allows you to upgrade your running MySQL database version without any downtime. You can
              upgrade your database to any major or minor update of MySQL version.
            </p>
          </div>

          <div class="column is-4 is-offset-1">
            <div class="features-thumbnail">
              <img src="https://via.placeholder.com/800/F3F4F7/808080" alt="">
            </div>
          </div>

        </div>
        <!-- single features end  -->

        <!-- single features start  -->
        <div class="columns is-vcentered">
          <div class="column is-4">
            <div class="features-thumbnail">
              <img src="https://via.placeholder.com/800/F3F4F7/808080" alt="">
            </div>
          </div>
          <div class="column is-6 is-offset-1">
            <h3>Scaling</h3>
            <p>To improve your database performance you have to make sure that your database is scalable. KubeDB offers
              both Vertical and Horizontal Scaling of MySQL databases in Kubernetes. You can simply scale your MySQL
              cluster in Kubernetes using KubeDB.
            </p>
          </div>
        </div>
        <!-- single features end  -->

        <!-- single features start  -->
        <div class="columns is-vcentered is-flex-direction-row-reverse-mobile">
          <div class="column is-6">
            <h3>Volume Expansion</h3>
            <p>Having options of increasing database volume ensures your database high availability and performance. You
              can expand your storage capacity of MySQL Database in Kubernetes by using KubeDB.
            </p>
          </div>

          <div class="column is-4 is-offset-1">
            <div class="features-thumbnail">
              <img src="https://via.placeholder.com/800/F3F4F7/808080" alt="">
            </div>
          </div>

        </div>
        <!-- single features end  -->

        <!-- single features start  -->
        <div class="columns is-vcentered">
          <div class="column is-4">
            <div class="features-thumbnail">
              <img src="https://via.placeholder.com/800/F3F4F7/808080" alt="">
            </div>
          </div>
          <div class="column is-6 is-offset-1">
            <h3>Backup & Restore</h3>
            <p>To protect your database from any kind of accidental data loss, you will need a disaster recovery
              solution for your database. KubeDB offers you to Backup & Restore your MySQL Database in Kubernetes via
              Stash. Stash is seemingly integrated with KubeDB. You can automate this backup feature to backup your
              MySQL database in Kubernetes by using Stash.
            </p>
          </div>
        </div>
        <!-- single features end  -->

        <!-- single features start  -->
        <div class="columns is-vcentered is-flex-direction-row-reverse-mobile">
          <div class="column is-6">
            <h3>Security</h3>
            <p>To secure a database your data needs to go through a cryptographic protocol that provides end-to-end
              security of the data transmission over the network. You can secure your MySQL Database with TLS using
              KubeDB. Also, KubeDB allows you to use encrypted storage for your databases using keys you manage through
              your cloud provider’s key management service.
            </p>
          </div>

          <div class="column is-4 is-offset-1">
            <div class="features-thumbnail">
              <img src="https://via.placeholder.com/800/F3F4F7/808080" alt="">
            </div>
          </div>

        </div>
        <!-- single features end  -->
        <!-- single features start  -->
        <div class="columns is-vcentered">
          <div class="column is-4">
            <div class="features-thumbnail">
              <img src="https://via.placeholder.com/800/F3F4F7/808080" alt="">
            </div>
          </div>
          <div class="column is-6 is-offset-1">
            <h3>Monitoring</h3>
            <p>KubeDB comes with native support for monitoring via Prometheus. You can use builtin Prometheus scrapper
              or
              CoreOS Prometheus Operator to monitor your MySQL database in Kubernetes. You can use the Grafana to view
              key
              operational metrics, including compute/memory/storage capacity utilization, I/O activity, and instance
              connections.
            </p>
          </div>
        </div>
        <!-- single features end  -->
      </div>

    </div>
    <!-- features items end -->
  </div>
</section>
<!-- product features area end -->

<!-- hero area start -->
<section class="hero-area is-hidden">
  <div class="container section">
    <div>
      <div class="columns is-vcentered">
        <div class="column is-6">
          <!-- hero content start -->
          <div class="hero-area-content d-table" data-aos="fade-up">
            <div class="hero-content-inner d-table-cell">
              <h4>{{$p.name}}</h4>
              <h1>
                {{ $p.tagline | safeHTML }}
              </h1>
              <div class="hero-area-button buttons">
                <a href="/docs/latest/setup/" class="button kd-button kd-primary">Try Now for FREE!</a>
                <a href="{{ $.Site.Params.domain_appscode }}/contact/" class="button kd-transparent-btn"><span><i
                      class="fa fa-envelope" aria-hidden="true"></i></span>Get In Touch</a>
              </div>
              {{ if $p.videos.intro }}
              <!-- video player button start -->
              <div class="play-buttons">
                <a href="#" id="playme" onclick="revealVideo('video','youtube')"><span class="video-icon"><i
                      class="fa fa-play" aria-hidden="true"></i></span>
                  Watch the reel</a>
              </div>
              <!-- video player button end -->
              {{ end }}
            </div>
          </div>
          <!-- hero content end -->
        </div>
        <div class="column is-6">
          {{ with $p.heroImage }}
          <!-- hero image start -->
          <div class="hero-area-img" data-aos="fade-up" data-aos-duration="1000">
            <img src="{{ .src }}" alt="{{ .alt }}" class="img" />
          </div>
          <!-- hero image end -->
          {{ end }}
          {{ with $p.heroSlider }}
          <!-- hero slider start -->
          <div class="image-carousel-wrapper">
            <!-- shape start  -->
            <img class="shape-1" src="/assets/images/slider/s-1.png" alt="">
            <img class="shape-2" src="/assets/images/slider/s-2.png" alt="">
            <img class="shape-3" src="/assets/images/slider/s-3.png" alt="">
            <!-- shape end  -->
            <!-- carousel start  -->
            <div class="carousel-inner keen-slider" id="hero-area-carousel">
              {{ range . }}
              <div class="single-slider-wrapper keen-slider__slide">
                <a href="#"><img src="{{ .src }}" alt="{{ .alt }}"></a>
              </div>
              {{ end }}
            </div>
            <!-- carousel end -->
            <div id="dots" class="dots"></div>
          </div>
          <!-- hero slider end -->
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero area end -->


<!-- <script src="https://cdn.jsdelivr.net/npm/keen-slider@5.0.2/keen-slider.min.js"></script> -->
<!-- <script>
  // initilize keen slider 
  var slider = new KeenSlider("#hero-area-carousel", {
    spacing: 10,
    slidesPerView: 1,
    centered: true,
    loop: true,
    mode: "snap",
    duration: 1000,
    dragStart: () => {
      autoplay(false);
    },
    dragEnd: () => {
      autoplay(true);
    },
    slideChanged(instance) {
      updateClasses(instance);
    },
    created: function (instance) {

      var dots_wrapper = document.getElementById("dots");
      var slides = document.querySelectorAll(".keen-slider__slide");
      slides.forEach(function (t, idx) {
        var dot = document.createElement("button");
        dot.classList.add("dot");
        dots_wrapper.appendChild(dot);
        dot.addEventListener("click", function () {
          instance.moveToSlide(idx);
        });
      });
      updateClasses(instance);
    },
    slideChanged(instance) {
      updateClasses(instance);
    }
  }); -->

  <!-- // For auto-play 
  // var sliderElement = document.getElementById("hero-area-carousel");
  // var interval = 0;

  // function autoplay(run) {
  //   clearInterval(interval);
  //   interval = setInterval(() => {
  //     if (run && slider) {
  //       slider.next();
  //     }
  //   }, 2000);
  // }
  // // when hover slider element autoPlay off 
  // sliderElement.addEventListener("mouseover", () => {
  //   autoplay(false);
  // });
  // sliderElement.addEventListener("mouseout", () => {
  //   autoplay(true);
  // });
  // let dots_wrapper = document.getElementById("dots");
  // dots_wrapper.addEventListener("mouseover", () => {
  //   autoplay(false);
  // });
  // dots_wrapper.addEventListener("mouseout", () => {
  //   autoplay(true);
  // });

  // autoplay(true);

//   // For dots 
//   function updateClasses(instance) {
//     var slide = instance.details().relativeSlide;
//     var dots = document.querySelectorAll(".dot");
//     dots.forEach(function (dot, idx) {
//       idx === slide ?
//         dot.classList.add("dot--active") :
//         dot.classList.remove("dot--active");
//     });
//   } -->
<!-- // </script> -->

{{ if $p.videos.intro }}
<!-- video player frame and scripts start -->
<!-- video-player start  -->
<div id="video" class="lightbox" onclick="hideVideo('video','youtube')">
  <div class="lightbox-container">
    <div class="lightbox-content">
      <button onclick="hideVideo('video','youtube')" class="lightbox-close">
        X
      </button>
      <div class="video-container">
        <!-- <iframe id="youtube" width="1080" height="540" src="https://www.youtube.com/embed/{{ $p.videos.intro }}"
          frameborder="0" allowfullscreen></iframe> -->
      </div>
    </div>
  </div>
</div>
<!-- video-player start  -->
<script>
  // Function to reveal lightbox and adding YouTube autoplay
  function revealVideo(div, video_id) {
    var video = document.getElementById(video_id).src;
    document.getElementById(video_id).src = video + '?&autoplay=1'; // adding autoplay to the URL
    document.getElementById(div).style.display = 'block';
  }
  // Hiding the lightbox and removing YouTube autoplay
  function hideVideo(div, video_id) {
    var video = document.getElementById(video_id).src;
    var cleaned = video.replace('?&autoplay=1', ''); // removing autoplay form url
    document.getElementById(video_id).src = cleaned;
    document.getElementById(div).style.display = 'none';
  }
</script>
<!-- video player frame and scripts end -->
{{ end }}

<!-- feature-area start -->
<section class="product-feature-area section-padding is-hidden">
  <div class="container section">
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        <!-- section-title start -->
        <div class="section-title is-main-title" data-aos="fade-up">
          <h2>Product Features</h2>
          {{ if $p.summary }}
          <p>
            {{ $p.summary | plainify }}
          </p>
          {{ end }}
        </div>
        <!-- section-title end -->
      </div>
    </div>
    <div class="columns is-multiline">
      {{ range $f := $p.features }}
      <!-- single feature area start -->
      <div class="column is-6">
        <div class="single-product-feature-wrapper" data-aos="fade-up">
          <div class="product-feature-icon">
            <img src="{{ $f.icon.src }}" alt="{{ $f.icon.alt }}" />
          </div>
          <div class="product-feature-content">
            <div class="product-feature-title">
              <h3>{{ $f.title }}</h3>
              <p>{{ $f.summary }}</p>
            </div>
            <div class="product-feature-description">
              <p>
                {{ $f.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- single feature area end -->
      {{ end }}
    </div>
  </div>
</section>
<!-- feature-area end -->
{{ end }}