// header
.ads-navbar-area {
  padding: 8px 0;
  z-index: 99;
  position: relative;
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid $color-border;
  .navbar-left {
    .navbar-brand {
      display: flex;
      gap: 8px;
      align-items: center;

      span {
        color: #3c3c3c;
      }
      .appscode-logo {
        height: 20px;
      }
    }
  }
  .navbar-right {
    display: flex;
    align-items: center;
  }
}

// hero area
.ads-hero-area {
  position: relative;
  z-index: 1;
  background-color: #f3f3fc;
  min-height: 100vh;
  &:after {
    position: absolute;
    padding-top: 200px;
    content: url("/assets/images/ads/hero-1.png");
    right: 0;
    top: 0;
    background: #fbfbfe;
    width: 42%;
    height: 100%;
    z-index: -1;
    text-align: center;
  }
  .left-content {
    padding-right: 100px;
    h1 {
      padding-top: 120px;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      letter-spacing: -2px;
      margin-bottom: 16px;
    }

    p {
      color: #3c3c3c;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      margin-bottom: 16px;
    }
  }
}
.customers-logo-area {
  h2 {
    font-size: 32px;
    letter-spacing: 0;
    font-weight: 500;
  }
  .single-brand {
    border: 1px solid $color-border;
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border-radius: 4px;
    img {
      height: 32px;
      width: auto;
    }
  }
  .customers-logo {
    min-height: 40px;
  }
}

.supported-platforms-area {
  background-color: #f3f3fc;
  .right-content {
    padding-left: 60px;
  }
}

.check-list-items {
  margin-bottom: 32px;

  li {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    &::before {
      content: url("/assets/images/icon/check-circle.svg");
      line-height: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ui-ss {
  padding-top: 80px;
  img {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
}

.ads {
  &.faq-area {
    .faq-left {
      p {
        font-size: 16px;
      }
    }
  }
}

// support plans
.ads-support-plan {
  table {
    thead {
      background-color: $ac-primary;
      tr {
        th {
          color: #ffffff;
          padding: 8px 16px;
          text-align: center !important;
        }
      }
    }
    tbody {
      td {
        font-size: 14px;
        width: 320px;
        padding: 8px 16px;
        text-align: center;
        &:first-child {
          width: calc(100% - 960px);
          min-width: 400px;
          text-align: left;
          font-weight: 500;
        }
      }
    }
  }
}

// ads footer area
.ads-footer-area {
  .footer-top {
    background-color: #f3f3fc;
    padding: 70px 0;
    .brand-logo {
      margin-bottom: 16px;
      img {
        height: 30px;
      }
    }
    p {
      margin-bottom: 16px;
      line-height: 1.6;
    }
    .contact-info {
      .info-text {
        display: inline-flex;
        align-items: baseline;
        color: #3c3c3c;
        gap: 8px;

        span:not(.icon) {
          width: calc(100% - 2rem);
        }
      }
    }
  }
  .footer-bottom {
    a{
      color: #3c3c3c;
      display: inline-flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      span {
        &:not(.icon) {
          text-decoration: underline;
        }
      }
      .icon {
        font-size: 14px;
      }
      &:hover {
        color: $ac-primary;
      }
    }
  }
}

.custom-code-editor {
  border-radius: 4px;
  overflow: hidden;
  .editor-header {
    height: 50px;
    background: #f3f3fc;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    padding-left: 20px;
    pre {
      min-height: 300px;
    }
    span {
      width: 15px;
      height: 15px;
      background-color: #ddd;
      display: block;
      border-radius: 50%;
      margin-right: 8px;
      &.close {
        background-color: #ff5a52;
      }
      &.maximize {
        background-color: #e6c029;
      }
      &.minimize {
        background-color: #53c22b;
      }
    }
  }
}

/****************************************
Responsive Classes
*****************************************/

@media (max-width: 1023.98px) {
  .ads-hero-area {
    &:after {
     display: none;
    }
  }
}

// Medium devices (tablets, 769px and up)
@media (min-width: 769px) and (max-width: 1023.98px) {

  .ads-hero-area {
    .left-content {
      h1{
        font-size: 32px;
        letter-spacing: -1px;
      }
    }
  }

  .ads-support-plan {
    table {
      tbody {
        td {
          &:first-child {
            min-width: 300px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .ads-navbar-area {
    .navbar-left {
      .navbar-brand {
        img {
          height: 24px;
        }
      }
    }
    .navbar-right {
      .button{
        &.ac-button {
          padding: 0.4rem 1rem;
        }
      }
    }
  }
  .ads-hero-area {
    &:after {
      display: none;
    }
    .left-content {
      padding-right: 0;
      h1 {
        padding-top: 50px;
        font-size: 32px;
        letter-spacing: 0;
      }
    }
  }

  .ads-support-plan table tbody td:first-child {
    min-width: 200px;
  }

  .check-list-items {
    margin-bottom: 16px;
  }
  .supported-platforms-area {
    .right-content {
      padding-left: 0;
    }
  }
  .ads-footer-area {
    .footer-top {
      .is-justify-content-flex-end {
        justify-content: flex-start !important;
      }
    }
    .footer-bottom {
      padding: 20px 15px;
      p,
      a {
        text-align: left;
        justify-content: flex-start !important;
        margin-bottom: 8px;
      }
    }
  }
}

// Large devices (desktops, 1024px and up)
@media (min-width: 1024px) and (max-width: 1407px) {
  .ads-hero-area {
    .left-content {
      h1 {
        padding-top: 30px;
        font-size: 32px;
        letter-spacing: -1px;
      }
    }
    &:after {
      content: url("/assets/images/ads/hero-7.png");
    }
  }
}

@media (min-width: 1408px) and (max-width: 1600px) {
  .section-padding {
    padding: 60px 0;
  }

  .ads-hero-area {
    .left-content {
      h1 {
        padding-top: 30px;
        font-size: 40px;
      }
    }
    &:after {
      content: url("/assets/images/ads/hero-7.png");
    }
  }
}

@media (min-width: 1408px) {
}
