.articles-area {
  padding-top: 140px;
  padding-bottom: 40px;
}
.single-article-card {
  background-color: #fff;
  display: block;
  min-height: 166px;
  transition: 0.3s ease-in-out;
  border: 1px solid #dbdbde;
  transition: 0.3s ease-in-out;
  border-radius: 4px;
  overflow: hidden;

  &:hover {
    border: 1px solid $ac-primary;
    box-shadow: 1px 11px 114px rgba(0,0,0,.15);

    h2 {
      text-decoration: underline;
      color: $ac-primary;
    }

    .arrow-icon {
      color: $ac-primary;
    }
  }

  h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #1c1c1c;
    margin-bottom: 8px;
    letter-spacing: 0;
    transition: 0.3s ease-in-out;
  }
  p {
    color: $color-text;
    font-size: 16px;
    margin-bottom: 16px;
  }

  .card-bottom {
    color: $color-text;
  }
  .date-meta {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
  }
  .width-15 {
    width: 15px !important;
  }
  .thumbnail {
    display: flex;
    background-color: #dddddd;
    img {
      height: 220px;
      width: 100%;
      object-fit: cover;
    }
  }
}

// ===================================== articles details  area =====================================
.article-details-area {
  margin-top: 140px;

  // .full-info {
  //   padding-right: 32px;
  //   padding-bottom: 32px;
  //   h1 {
  //     font-size: 48px;
  //     max-width: 100%;
  //   }
  //   p {
  //     font-size: 16px;
  //     line-height: 160%;
  //     color: $color-text;
  //   }

  //   a {
  //     @extend .text-underline;
  //   }
  // }
  // .right-sidebar-area {
  //   top: 0;
  //   border-left: 1px solid #dbdbde;
  //   margin-top: -25px;
  //   padding-top: 24px;
  //   padding-right: 0;
  //   height: 100%;
  //   .tbl-of-contents {
  //     position: sticky;
  //     top: 100px;
  //     ul {
  //       li{
  //         list-style: none;
  //         margin: 0;
  //         padding: 0;
  //       }
  //     }
  //   }
  // }
}


// social share
.sticky-social-menu {
  padding-bottom: 80px;
}
ul.social-share-button {
  padding: 0;
  display: flex;
  align-items: center;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }

    a {
      width: 46px;
      height: 46px;
      background: #1da1f2;
      color: $ac-white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        i.fa {
          animation: icon-animation 0.9s both;
        }
      }

      &.twitter {
        background-color: #1da1f2;
      }

      &.github {
        background-color: #171516;
      }

      &.linkedin {
        background-color: #0a66c2;
      }

      &.facebook {
        background-color: #4867aa;
      }

      &.envelope {
        background-color: #4285f4;
      }

      i.fa {
        font-size: 1rem;
      }
    }
  }
}

/*=================================================================================================
                                    Responsive code start
=================================================================================================*/

@media (max-width: 768px) {
  .article-details-area {
    .full-info {
      padding-right: 0;
      h1 {
        font-size: 32px;
        max-width: 100%;
      }
    }


  }

}

// Medium devices (tablets, 769px and up)
@media (min-width: 769px) and (max-width: 1023.98px) {
  .article-details-area {
    .full-info h1 {
      font-size: 32px;
      max-width: 100%;
    }
  }
  .right-sidebar-area {
    &.article-toc {
      .back-button {
        display: none !important;
      }
    }
  }
}

@media (min-width: 1408px) and (max-width: 1600px) {
  .meta {
    margin-bottom: 10px;

    .author {
      margin-right: 4px;
    }
  }
}

/*=================================================================================================
                                    Responsive code end
=================================================================================================*/
