.articles-area {
  padding-top: 140px;
  padding-bottom: 40px;
}
.single-article-card {
  background-color: #fff;
  display: block;
  min-height: 166px;
  padding: 16px 16px;
  transition: 0.3s ease-in-out;
  border: 1px solid #dbdbde;
  transition: 0.3s ease-in-out;

  &:hover {
    border: 1px solid $ac-primary;

    h2 {
      text-decoration: underline;
      color: $ac-primary;
    }

    .arrow-icon {
      color: $ac-primary;
    }
  }

  h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #1c1c1c;
    margin-bottom: 8px;
    letter-spacing: 0;
    transition: 0.3s ease-in-out;
  }
  p {
    color: #506070;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .card-bottom {
    color: #506070;
  }
  .date-meta {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
  }
  .width-15 {
    width: 15px !important;
  }
}

// ===================================== articles details  area =====================================
.article-details-area {
  margin-top: 140px;
  padding-bottom: 80px;

  .full-info {
    padding-right: 32px;
    h1 {
      font-size: 48px;
      max-width: 90%;
    }
    p {
      font-size: 18px;
      line-height: 180%;
      color: #4a4a4a;
    }

    a {
      @extend .text-underline;
    }
  }
  .right-sidebar {
    position: sticky;
    top: 70px;
    border-left: 1px solid #dbdbde;
    margin-top: -25px;
    width: 324px;
    padding-top: 24px;
    height: 100%;
  }
}

/*=================================================================================================
                                    Responsive code start
=================================================================================================*/

@media (max-width: 480px) {
}

// Extra small devices (portrait phones, less than 768px)
@media (max-width: 768px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
}

// Medium devices (tablets, 769px and up)
@media (min-width: 769px) and (max-width: 1023.98px) {
  .single-article-card {
    padding: 12px 16px;
  }
}

@media (min-width: 850px) and (max-width: 1023px) {
}

// Large devices (desktops, 1024px and up)
@media (min-width: 1024px) and (max-width: 1407px) {
}

// Extra large devices (large desktops, 1216px and up)
@media (min-width: 1216px) {
}

@media (min-width: 1408px) and (max-width: 1600px) {
  .meta {
    margin-bottom: 10px;

    .author {
      margin-right: 4px;
    }
  }

  .single-article-card {
    padding: 16px;
  }
}

/*=================================================================================================
                                    Responsive code end
=================================================================================================*/
